<form class="form-horizontal" name="EdgeGroupForm" ng-submit="$ctrl.formAction()">
  <div class="form-group">
    <label for="group_name" class="col-sm-3 col-lg-2 control-label text-left">
      Name
    </label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" id="group_name" name="group_name" ng-model="$ctrl.model.Name" required auto-focus />
    </div>
  </div>
  <div class="form-group" ng-show="EdgeGroupForm.group_name.$invalid">
    <div class="col-sm-12 small text-warning">
      <div ng-messages="EdgeGroupForm.group_name.$error">
        <p ng-message="required">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          This field is required.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 form-section-title">
    Group type
  </div>
  <div class="form-group"></div>
  <div class="form-group" style="margin-bottom: 0;">
    <div class="boxselector_wrapper">
      <div class="boxselector">
        <input type="radio" id="static-group" ng-model="$ctrl.model.Dynamic" ng-value="false" ng-checked="!$ctrl.model.Dynamic" />
        <label for="static-group">
          <div class="boxselector_header">
            <i class="fa fa-list-ol" aria-hidden="true" style="margin-right: 2px;"></i>
            Static
          </div>
          <p>Manually select Edge endpoints</p>
        </label>
      </div>
      <div class="boxselector">
        <input type="radio" id="dynamic-group" ng-model="$ctrl.model.Dynamic" ng-value="true" ng-checked="$ctrl.model.Dynamic" />
        <label for="dynamic-group">
          <div class="boxselector_header">
            <i class="fa fa-tags" aria-hidden="true" style="margin-right: 2px;"></i>
            Dynamic
          </div>
          <p>Automatically associate endpoints via tags</p>
        </label>
      </div>
    </div>
  </div>

  <div class="col-sm-12 form-section-title" ng-if="!$ctrl.model.Dynamic">
    Endpoints
  </div>
  <div ng-if="!$ctrl.model.Dynamic">
    <div ng-if="!$ctrl.noEndpoints">
      <multi-endpoint-selector
        ng-if="$ctrl.groups"
        model="$ctrl.model.Endpoints"
        endpoints="$ctrl.endpoints"
        groups="$ctrl.groups"
        tags="$ctrl.tags"
        on-search="($ctrl.searchEndpoints)"
      ></multi-endpoint-selector>
      <div class="form-group" ng-show="!$ctrl.model.Endpoints.length">
        <div class="col-sm-12 small text-warning" style="margin-top: 15px;">
          <div ng-messages="EdgeGroupForm.group_name.$error">
            <p ng-message="required">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              This field is required.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.noEndpoints">
      <div class="col-sm-12 small text-muted"> No Edge endpoints available. Head over the <a ui-sref="portainer.endpoints">Endpoints view</a> to add endpoints. </div>
    </div>
  </div>
  <div ng-if="$ctrl.model.Dynamic">
    <div class="col-sm-12 form-section-title">
      Tags
    </div>
    <div class="form-group">
      <tag-selector ng-if="$ctrl.tags.length" tags="$ctrl.tags" model="$ctrl.model.TagIds"></tag-selector>
      <div ng-if="$ctrl.tags && !$ctrl.tags.length" class="col-sm-12 small text-muted">
        No tags available. Head over to the <a ui-sref="portainer.tags">Tags view</a> to add tags
      </div>
    </div>
  </div>
  <!-- actions -->
  <div class="col-sm-12 form-section-title">
    Actions
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        ng-disabled="$ctrl.actionInProgress || !EdgeGroupForm.$valid || (!$ctrl.model.Dynamic && !$ctrl.model.Endpoints.length) || ($ctrl.model.Dynamic && !$ctrl.model.TagIds.length)"
        button-spinner="$ctrl.actionInProgress"
      >
        <span ng-hide="$ctrl.actionInProgress">{{ $ctrl.formActionLabel }}</span>
        <span ng-show="$ctrl.actionInProgress">In progress...</span>
      </button>
    </div>
  </div>
</form>
