<page-header ng-if="ctrl.state.viewReady" title="'Namespace list'" breadcrumbs="['Namespaces']" reload="true"></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <kubernetes-resource-pools-datatable
        restrict-default-namespace="ctrl.endpoint.Kubernetes.Configuration.RestrictDefaultNamespace"
        dataset="ctrl.resourcePools"
        table-key="kubernetes.resourcePools"
        order-by="Name"
        remove-action="ctrl.removeAction"
        refresh-callback="ctrl.getResourcePools"
        endpoint="ctrl.endpoint"
        data-cy="k8sNamespace-namespaceTable"
      ></kubernetes-resource-pools-datatable>
    </div>
  </div>
</div>
