<kubernetes-view-header title="Resource pool list" state="kubernetes.resourcePools" view-ready="ctrl.state.viewReady">
  Resource pools
</kubernetes-view-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <kubernetes-resource-pools-datatable
      title-text="Resource pools" title-icon="fa-layer-group" dataset="ctrl.resourcePools"
      table-key="kubernetes.resourcePools" order-by="Namespace.Name" remove-action="ctrl.removeAction"
      refresh-callback="ctrl.getResourcePools"
      ></kubernetes-resource-pools-datatable>
    </div>
  </div>
</div>
