<rd-header>
  <rd-header-title title="About">
  </rd-header-title>
  <rd-header-content>
    About Portainer
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <b>Portainer</b> is a <a href="https://github.com/portainer/portainer/blob/develop/LICENSE" target="_blank" >free and open-source software</a> brought to you with <span class="menu-icon fa fa-heart red-icon "></span> by <a href="https://portainer.io/" target="_blank">portainer.io</a> and <a href="https://github.com/portainer/portainer/graphs/contributors" target="_blank">contributors.</a>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title="Help support portainer" icon="fa-heartbeat"></rd-widget-header>
      <rd-widget-body>
      <div class="small" style="line-height:1.65;">
        <p>
          It is a community effort to make <b>Portainer</b> as feature-rich as simple it is to deploy and use. We need all the help we can get!
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Fund our work</u>
          <ul>
            <li>Become a <a href="https://www.patreon.com/Portainerio" target="_blank"><i class="fa fa-money" aria-hidden="true"></i> patron</a></li>
            <li>Consider a <a href="https://portainer.io/support.html" target="_blank">paid support plan</a></li>
            <li>Make a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YHXZJQNJQ36H6" target="_blank"><i class="fa fa-paypal" aria-hidden="true"></i> donation</a></li>
          </ul>
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Contribute</u>
          <ul>
            <li>Found a bug or got a feature idea? Let's talk about it on <a href="https://github.com/portainer/portainer/issues" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
            <li>Follow our <a href="https://portainer.readthedocs.io/en/latest/contribute.html" target="_blank">contribution guidelines</a> to build it locally and make a <a target="_blank" href="https://github.com/portainer/portainer/compare"><i class="fa fa-github" aria-hidden="true"></i> pull request</a></li>
          </ul>
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Spread the word</u>
          <ul>
            <li>Talk to your friends and colleagues about how awesome Portainer is!</li>
            <li>Follow us on <a href="https://twitter.com/portainerio" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          </ul>
        </p>
      </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title="Support and services" icon="fa-building-o"></rd-widget-header>
      <rd-widget-body>
        <div class="small" style="line-height:1.65;">
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Documentation</u>
            <ul>
              <li>Checkout our <a target="_blank" href="http://portainer.readthedocs.io"><i class="fa fa-book" aria-hidden="true"></i> online documentation</a></li>
              <li>Be sure to have a look at our <a href="https://portainer.readthedocs.io/en/latest/faq.html" target="_blank">FAQ</a> and our list of <a href="https://github.com/portainer/portainer/issues" target="_blank">open issues</a></li>
            </ul>
          </p>
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Community support</u>
            <ul>
              <li>Join us on <a href="https://portainer.io/slack/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a></li>
              <li>We're also on <a href="https://gitter.im/portainer/Lobby" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Gitter</a></li>
            </ul>
          </p>
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Services</u>
            <ul>
              <li>Find out more about our <a href="https://portainer.io/support.html" target="_blank">consulting and commercial support plans</a></li>
              <li>We also propose a fund-a-feature plan, reach out to us at <a target="_blank" href="mailto:info@portainer.io"><i class="fa fa-envelope-o" aria-hidden="true"></i> portainer.io</a></li>
            </ul>
          </p>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title="Limitations" icon="fa-plug"></rd-widget-header>
      <rd-widget-body>
      <div class="small">
        Portainer has full support for Docker >=1.10 and Docker Swarm >= 1.2.3, and partial support for Docker 1.9 (some features may not be available).
      </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
