<kubernetes-view-header title="Volume details" state="kubernetes.volumes.volume" view-ready="ctrl.state.viewReady">
  <a ui-sref="kubernetes.resourcePools">Resource pools</a> &gt; <a ui-sref="kubernetes.resourcePools.resourcePool({ id: ctrl.volume.ResourcePool.Namespace.Name })">{{ ctrl.volume.ResourcePool.Namespace.Name }}</a> &gt; <a ui-sref="kubernetes.volumes">Volumes</a> &gt; {{ ctrl.volume.PersistentVolumeClaim.Name }}
</kubernetes-view-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-body classes="no-padding">

          <uib-tabset active="ctrl.state.activeTab" justified="true" type="pills">
            <uib-tab index="0" classes="btn-sm">
              <uib-tab-heading>
                <i class="fa fa-database space-right" aria-hidden="true"></i> Volume
              </uib-tab-heading>

              <div style="padding: 20px;">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>
                        {{ ctrl.volume.PersistentVolumeClaim.Name }}
                        <span style="margin-left: 5px;" class="label label-warning image-tag" ng-if="!ctrl.isUsed(item)">unused</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Resource pool</td>
                      <td>
                        <a ui-sref="kubernetes.resourcePools.resourcePool({ id: ctrl.volume.ResourcePool.Namespace.Name })">{{ ctrl.volume.ResourcePool.Namespace.Name }}</a>
                        <span style="margin-left: 5px;" class="label label-info image-tag" ng-if="ctrl.isSystemNamespace(item)">system</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Storage</td>
                      <td>{{ ctrl.volume.PersistentVolumeClaim.StorageClass.Name }}</td>
                    </tr>
                    <tr>
                      <td>Size</td>
                      <td>{{ ctrl.volume.PersistentVolumeClaim.Storage }}</td>
                    </tr>
                    <tr>
                      <td>Creation date</td>
                      <td>{{ ctrl.volume.PersistentVolumeClaim.CreationDate | getisodate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </uib-tab>

            <uib-tab index="1" classes="btn-sm">
              <uib-tab-heading>
                <i class="fa fa-history space-right" aria-hidden="true"></i> Events
              </uib-tab-heading>
              <kubernetes-events-datatable title-text="Events" title-icon="fa-history" dataset="ctrl.events" table-key="kubernetes.volume.events" order-by="Date" reverse-order="true"
                loading="ctrl.state.eventsLoading" refresh-callback="ctrl.getEvents">
              </kubernetes-events-datatable>
            </uib-tab>

            <uib-tab index="2" ng-if="ctrl.volume.PersistentVolumeClaim.Yaml" select="ctrl.showEditor()" classes="btn-sm">
              <uib-tab-heading>
                <i class="fa fa-code space-right" aria-hidden="true"></i> YAML
              </uib-tab-heading>
              <div style="padding-right: 25px;" ng-if="ctrl.state.showEditorTab">
                <kubernetes-yaml-inspector key="volume-yaml" data="ctrl.volume.PersistentVolumeClaim.Yaml"></kubernetes-yaml-inspector>
              </div>
            </uib-tab>

          </uib-tabset>

        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="row" ng-if="ctrl.isUsed(item)">
    <div class="col-sm-12">
      <kubernetes-volume-applications-datatable dataset="ctrl.volume.Applications" table-key="kubernetes.volume.applications" order-by="Name" refresh-callback="ctrl.getVolume"
        title-text="Applications using this volume" title-icon="fa-laptop-code">
      </kubernetes-volume-applications-datatable>
    </div>
  </div>
</div>
