<ng-form name="$ctrl.webEditorForm">
  <div class="web-editor overflow-auto">
    <div ng-if="!$ctrl.hideTitle" class="col-sm-12 form-section-title pr-0"
      >Web editor
      <span ng-if="$ctrl.BROWSER_OS_PLATFORM != 'mac'" class="text-muted small vertical-center float-right mt-0">CTRL+F for search</span>
      <span ng-if="$ctrl.BROWSER_OS_PLATFORM === 'mac'" class="text-muted small vertical-center float-right mt-0">CMD+F for search</span>
    </div>
    <div class="trancluded-item form-group col-sm-9 col-lg-10 text-muted small" ng-transclude="description"></div>
    <div class="form-group">
      <div class="col-sm-12 col-lg-12">
        <code-editor
          identifier="{{ $ctrl.identifier }}"
          placeholder="{{ $ctrl.placeholder }}"
          read-only="$ctrl.readOnly"
          yml="$ctrl.yml"
          value="$ctrl.value"
          on-change="($ctrl.editorUpdate)"
        ></code-editor>
      </div>
    </div>
  </div>
</ng-form>
