<div ng-include="template" ng-controller="StartContainerController"></div>

<div class="alert alert-error" id="error-message" style="display:none">
    {{ error }}
</div>

<div class="detail">
 
    <h4>Image: {{ tag }}</h4>

    <div class="btn-group detail">
      <button class="btn btn-success" ng-click="create()">Create</button>
    </div>

    <div>
       <h4>Containers created:</h4>
       <canvas id="containers-started-chart" width="750">
                Get a better broswer... Your holding everyone back.
       </canvas>
    </div>

    <table class="table table-striped">
         <tbody>
            <tr>
                <td>Created:</td>
                <td>{{ image.created }}</td>
            </tr>
            <tr>
                <td>Parent:</td>
                <td><a href="#/images/{{ image.parent }}/">{{ image.parent }}</a></td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>{{ image.Size|humansize }}</td>
            </tr>

            <tr>
                <td>Hostname:</td>
                <td>{{ image.container_config.Hostname }}</td>
            </tr>
            <tr>
                <td>User:</td>
                <td>{{ image.container_config.User }}</td>
            </tr>
            <tr>
                <td>Cmd:</td>
                <td>{{ image.container_config.Cmd }}</td>
            </tr>
            <tr>
                <td>Volumes:</td>
                <td>{{ image.container_config.Volumes }}</td>
            </tr>
            <tr>
                <td>Volumes from:</td>
                <td>{{ image.container_config.VolumesFrom }}</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>{{ image.comment }}</td>
            </tr>

        </tbody>
    </table>

    <div class="row-fluid">
        <div class="span1">
            History:
        </div>
        <div class="span5">
            <i class="icon-refresh" style="width:32px;height:32px;" ng-click="getHistory()"></i>
        </div>
    </div> 

    <div class="well well-large">
        <ul>
            <li ng-repeat="change in history">
                <strong>{{ change.Id }}</strong>: Created: {{ change.Created|getdate }} Created by: {{ change.CreatedBy }}
            </li>
        </ul>
    </div>

    <hr />

    <div class="row-fluid">
        <form class="form-inline">
            <fieldset>
                <legend>Tag image</legend>
                <label>Tag:</label>
                <input type="text" placeholder="repo..." ng-model="tag.repo">
                <label class="checkbox">
                      <input type="checkbox" ng-model="tag.force"/> Force?
                 </label>
                 <input type="button" ng-click="updateTag()" value="Tag" class="btn btn-info"/>
            </fieldset>
        </form>
    </div>

    <hr />

    <div class="btn-remove">
        <button class="btn btn-large btn-block btn-primary btn-danger" ng-click="remove()">Remove Image</button>
    </div>
</div>
