  <div class="masthead">
    <h3 class="muted">DockerUI</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="{{ hclass }}" ng-click="linkChange('home')"><a href="#">Dashboard</a></li>
            <li class="{{ cclass }}" ng-click="linkChange('containers')"><a href="/#/containers/">Containers</a></li>
            <li class="{{ iclass }}" ng-click="linkChange('images')"><a href="/#/images/">Images</a></li>
            <li class="{{ sclass }}" ng-click="linkChange('settings')"><a href="/#/settings/">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
