<div class="detail">
    <h3>Docker Information</h3>
    <div>
        <p class="lead">
            <strong>Endpoint: </strong>{{ endpoint }}<br />
            <strong>Api Version: </strong>{{ apiVersion }}<br />
            <strong>Version: </strong>{{ docker.Version }}<br />
            <strong>Git Commit: </strong>{{ docker.GitCommit }}<br />
            <strong>Go Version: </strong>{{ docker.GoVersion }}<br />
        </p>
    </div>

    <table class="table table-striped">
         <tbody>
            <tr>
                <td>Containers:</td>
                <td>{{ info.Containers }}</td>
            </tr>
            <tr>
                <td>Images:</td>
                <td>{{ info.Images }}</td>
            </tr>
            <tr>
                <td>Debug:</td>
                <td>{{ info.Debug }}</td>
            </tr>
            <tr>
                <td>NFd:</td>
                <td>{{ info.NFd }}</td>
            </tr>
            <tr>
                <td>NGoroutines:</td>
                <td>{{ info.NGoroutines }}</td>
            </tr>
            <tr>
                <td>MemoryLimit:</td>
                <td>{{ info.MemoryLimit }}</td>
            </tr>
            <tr>
                <td>SwapLimit:</td>
                <td>{{ info.SwapLimit }}</td>
            </tr>
            <tr>
                <td>NFd:</td>
                <td>{{ info.NFd }}</td>
            </tr>
        </tbody>
    </table>
</div>
