<page-header
  title="'Environment group access'"
  breadcrumbs="[
    { label:'Groups', link:'portainer.groups' },
    {
      label:group.Name,
      link: 'portainer.groups.group',
      linkParams:{id: group.Id}
    }, 'Access management']"
  reload="true"
>
</page-header>

<div class="row" ng-if="group">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="dice-4" title-text="Group"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                {{ group.Name }}
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<por-access-management
  ng-if="group"
  access-controlled-entity="group"
  entity-type="group"
  action-in-progress="state.actionInProgress"
  update-access="updateAccess"
  limited-feature="limitedFeature"
></por-access-management>
