<rd-header>
  <rd-header-title title-text="Edit Custom Template">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.templates.custom.edit({id:$ctrl.formValues.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content> <a ui-sref="docker.templates.custom">Custom templates</a> &gt; {{ $ctrl.formValues.Title }} </rd-header-content>
</rd-header>

<div class="row" ng-if="$ctrl.formValues">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="customTemplateForm">
          <custom-template-common-fields form-values="$ctrl.formValues" show-platform-field="true" show-type-field="true"></custom-template-common-fields>

          <!-- web-editor -->
          <div class="col-sm-12 form-section-title"> Web editor </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              You can get more information about Compose file format in the
              <a href="https://docs.docker.com/compose/compose-file/" target="_blank"> official documentation </a>
              .
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <code-editor
                identifier="custom-template-creation-editor"
                placeholder="# Define or paste the content of your docker-compose file here"
                yml="true"
                value="$ctrl.formValues.FileContent"
                on-change="($ctrl.editorUpdate)"
              ></code-editor>
            </div>
          </div>
          <!-- !web-editor -->

          <por-access-control-form form-data="$ctrl.formValues.AccessControlData" resource-control="$ctrl.formValues.ResourceControl"></por-access-control-form>

          <div class="col-sm-12 form-section-title"> Actions </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="$ctrl.actionInProgress || customTemplateForm.$invalid
                  || !$ctrl.formValues.Title
                  || !$ctrl.formValues.FileContent"
                ng-click="$ctrl.submitAction()"
                button-spinner="$ctrl.actionInProgress"
              >
                <span ng-hide="$ctrl.actionInProgress">Update the template</span>
                <span ng-show="$ctrl.actionInProgress">Update in progress...</span>
              </button>
              <span class="text-danger" ng-if="$ctrl.state.formValidationError" style="margin-left: 5px">
                {{ $ctrl.state.formValidationError }}
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
