<page-header
  title="'docker_containers.console_title' | i18n"
  breadcrumbs="[
    { label:('docker_containers.title' | i18n), link:'docker.containers' },
    {
      label:(container.Name | trimcontainername),
      link: 'docker.containers.container',
      linkParams: { id: container.Id },
    }, ('docker_containers.console' | i18n)]"
>
</page-header>

<div class="row" ng-init="autoconnectAttachView()" ng-show="loaded">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="terminal" title-text="{{ 'docker_containers.attach' | i18n }}"></rd-widget-header>
      <rd-widget-body>
        <div class="small text-warning" ng-if="!container.Config.OpenStdin">
          <p>
            <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
            {{ 'docker_containers.interactive_flag_warning' | i18n }}
          </p>
        </div>

        <div class="small text-warning" ng-if="!container.Config.Tty">
          <p>
            <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
            {{ 'docker_containers.tty_flag_warning' | i18n }}
          </p>
        </div>

        <div class="small text-warning" ng-hide="container.State.Running">
          <p>
            <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
            {{ 'docker_containers.container_not_running' | i18n }}
          </p>
        </div>

        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="state === states.connecting || !container.State.Running"
          ng-click="state == states.disconnected ? connectAttach() : disconnect()"
        >
          <span ng-show="state === states.disconnected">{{ 'docker_containers.attach_to_container' | i18n }}</span>
          <span ng-show="state === states.connected">{{ 'docker_containers.detach' | i18n }}</span>
          <span ng-show="state === states.connecting">{{ 'docker_containers.attaching' | i18n }}</span>
        </button>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <shell-terminal url="shellUrl" connect="shellConnect" on-state-change="(onShellStateChange)" on-resize="(onShellResize)"></shell-terminal>
  </div>
</div>
