apiVersion: batch/v1
kind: Job
metadata:
  name: updater
  namespace: portainer
spec:
  backoffLimit: 0
  template:
    spec:
      containers:
      - image: {{updater_image}}{{^updater_image}}portainer/portainer-updater:latest{{/updater_image}}
        name: portainer-updater
        command:
          - /portainer-updater
          - --pretty-log
          - --log-level
          - DEBUG
          - portainer
          - --env-type
          - kubernetes
          - --image
          - {{image}}{{^image}}portainer/portainer-ee:latest{{/image}}
      restartPolicy: Never