<rd-header>
  <rd-header-title title="Image list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="images" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Images</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-download" title="Pull image ">
      </rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- image-and-registry -->
          <div class="form-group">
            <por-image-registry image="formValues.Image" registry="formValues.Registry"></por-image-registry>
          </div>
          <!-- !image-and-registry -->
          <!-- tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">Note: if you don't specify the tag in the image name, <span class="label label-default">latest</span> will be used.</span>
            </div>
          </div>
          <!-- !tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="state.actionInProgress || !formValues.Image" ng-click="pullImage()" button-spinner="state.actionInProgress">
                <span ng-hide="state.actionInProgress">Pull the image</span>
                <span ng-show="state.actionInProgress">Download in progress...</span>
              </button>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Images">
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </rd-widget-header>
      <rd-widget-taskbar classes="col-lg-12">
        <div class="pull-left">
          <div class="btn-group">
            <button type="button" class="btn btn-danger" ng-click="removeAction()" ng-disabled="!state.selectedItemCount"><i class="fa fa-trash space-right" aria-hidden="true"></i>Remove</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!state.selectedItemCount" >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="confirmRemovalAction(true)" ng-disabled="!state.selectedItemCount" >Force Remove</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right">
          <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control"/>
        </div>
      </rd-widget-taskbar>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" ng-model="allSelected" ng-change="selectItems(allSelected)" />
                </th>
                <th>
                  <a ui-sref="images" ng-click="order('Id')">
                    Id
                    <span ng-show="sortType == 'Id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <select ng-model="state.containersListFilter" ng-options="key for (key , value) in state.containersListOptions"></select>
                </th>
                <th>
                  <a ui-sref="images" ng-click="order('RepoTags')">
                    Tags
                    <span ng-show="sortType == 'RepoTags' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'RepoTags' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                  <div class="pull-right">
                    <select ng-model="state.tagListFilter" ng-options="key for (key , value) in state.tagListOptions"></select>
                  </div>
                </th>
                <th>
                  <a ui-sref="images" ng-click="order('VirtualSize')">
                    Size
                    <span ng-show="sortType == 'VirtualSize' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'VirtualSize' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="images" ng-click="order('Created')">
                    Created
                    <span ng-show="sortType == 'Created' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Created' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="image in (state.filteredImages = (images | filter:{ ContainersList: state.containersListFilter , RepoTags: state.tagListFilter } | filter:state.filter | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))" ng-class="{active: image.Checked}">
                <td><input type="checkbox" ng-model="image.Checked" ng-change="selectItem(image)" /></td>
                <td>
                  <a class="monospaced" ui-sref="image({id: image.Id})">{{ image.Id.slice(7)|truncate:13}}</a>
                </td>
                <td>
                  <portainer-tooltip icon="server" ng-class=" image.ContainersList === 'None' ? 'emptylist' : ''" message="{{prettyList(image.ContainersList)}}" position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                  <portainer-tooltip icon="clone" ng-class="image.ChildrenList === 'None' ? 'emptylist' : ''" message="{{prettyList(image.ChildrenList)}}" position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </td>
                <td>
                  <a ui-sref="image({id: image.Id})" class="label label-primary image-tag" ng-repeat="tag in (image|repotags)">{{ tag }}</span>
                </td>
                <td>{{ image.VirtualSize|humansize }}</td>
                <td>{{ image.Created|getisodatefromtimestamp }}</td>
              </tr>
              <tr ng-if="!images">
                <td colspan="5" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="state.filteredImages.length === 0">
                <td colspan="5" class="text-center text-muted">No images available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="images" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
