<div
  class="col-xs-12 form-section-title interactive"
  ng-click="$ctrl.toggleSummary()"
  style="display: flex; justify-content: space-between"
  ng-if="$ctrl.state.resources.length > 0"
>
  Summary
  <span class="small space-left">
    <a ng-if="!$ctrl.state.expandedTemplate"><pr-icon icon="'chevron-down'" feather="true"></pr-icon> expand</a>
    <a ng-if="$ctrl.state.expandedTemplate"><pr-icon icon="'chevron-up'" feather="true"></pr-icon> collapse</a>
  </span>
</div>

<div class="form-group" ng-if="$ctrl.state.expandedTemplate">
  <div class="col-sm-12 small text-muted">
    <pr-icon icon="'alert-circle'" mode="'primary'" feather="true"></pr-icon>
    Portainer will execute the following Kubernetes actions.
  </div>

  <div class="col-sm-12 small text-muted" style="padding-top: 1em" ng-if="$ctrl.state.resources.length > 0">
    <ul class="ml-5">
      <li ng-repeat="summary in $ctrl.state.resources" ng-if="summary.action && summary.kind && summary.name">
        {{ summary.action }}
        {{ $ctrl.getArticle(summary.kind, summary.action) }}
        <span class="bold">{{ summary.kind }}</span> named <code>{{ summary.name }}</code>
        <span ng-if="summary.type">
          of type <code>{{ summary.type }}</code></span
        >
      </li>
      <li ng-if="$ctrl.state.limits.memory">
        Set the memory resources limits and requests to <code>{{ $ctrl.state.limits.memory }}M</code>
      </li>
      <li ng-if="$ctrl.state.limits.cpu">
        Set the CPU resources limits and requests to <code>{{ $ctrl.state.limits.cpu }}</code>
      </li>
    </ul>
  </div>
</div>
