<rd-header>
  <rd-header-title title-text="Cluster details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.nodes" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Cluster</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <kubernetes-nodes-datatable
    title-text="Nodes" title-icon="fa-hdd"
    dataset="ctrl.nodes" table-key="kubernetes.nodes"
    order-by="Name"
    refresh-callback="ctrl.getNodes"
    ></kubernetes-nodes-datatable>
  </div>
</div>
