<rd-header>
  <rd-header-title title-text="Network list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.networks" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Networks</rd-header-content>
</rd-header>
<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<div class="row">
  <div class="col-sm-12">
    <networks-datatable
      title-text="Networks"
      title-icon="fa-sitemap"
      dataset="networks"
      table-key="networks"
      order-by="Name"
      remove-action="removeAction"
      show-host-column="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      offline-mode="offlineMode"
      refresh-callback="getNetworks"
    ></networks-datatable>
  </div>
</div>
