<page-header title="'Network list'" breadcrumbs="['Networks']" reload="true"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <networks-datatable
      title-text="Networks"
      title-icon="share-2"
      dataset="networks"
      table-key="networks"
      order-by="Name"
      remove-action="removeAction"
      show-host-column="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      refresh-callback="getNetworks"
    ></networks-datatable>
  </div>
</div>
