<rd-header>
  <rd-header-title title-text="Volume list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.volumes" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Volumes</rd-header-content>
</rd-header>
<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<div class="row">
  <div class="col-sm-12">
    <volumes-datatable
      title-text="Volumes"
      title-icon="fa-hdd"
      dataset="volumes"
      table-key="volumes"
      order-by="Id"
      remove-action="removeAction"
      show-host-column="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      show-browse-action="showBrowseAction"
      offline-mode="offlineMode"
      refresh-callback="getVolumes"
    ></volumes-datatable>
  </div>
</div>
