<rd-header>
  <rd-header-title title-text="Roles">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.roles" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Role management</rd-header-content>
</rd-header>

<information-panel ng-if="!ctrl.rbacEnabled" title-text="Information">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      The <a ui-sref="portainer.extensions.extension({id: 3})"
        tooltip-append-to-body="true" tooltip-placement="bottom" tooltip-class="portainer-tooltip"
        uib-tooltip="Feature available via an extension">Role-Based Access Control extension</a>
        is required to use this feature.
    </p>
  </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <roles-datatable
    title-text="Roles" title-icon="fa-file-code"
    dataset="ctrl.roles" table-key="roles"
    order-by="Name"
    rbac-enabled="ctrl.rbacEnabled"
    ></roles-datatable>
  </div>
</div>

<div class="row">
  <access-viewer ng-if="ctrl.rbacEnabled">
  </access-viewer>
</div>