<rd-header>
  <rd-header-title title="Endpoint access"></rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.endpoints">Endpoints</a> &gt; <a ui-sref="portainer.endpoints.endpoint({id: endpoint.Id})">{{ endpoint.Name }}</a> &gt; Access management
  </rd-header-content>
</rd-header>

<div class="row" ng-if="endpoint">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-plug" title="Endpoint"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                {{ endpoint.Name }}
              </td>
            </tr>
            <tr>
              <td>URL</td>
              <td>
                {{ endpoint.URL | stripprotocol }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="small text-muted">
                  You can select which user or team can access this endpoint by moving them to the authorized accesses table. Simply click
                  on a user or team entry to move it from one table to the other.
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<por-access-management ng-if="endpoint" access-controlled-entity="endpoint" update-access="updateAccess(userAccesses, teamAccesses)">
</por-access-management>
