<div class="masthead">
    <h3 class="text-muted">DockerUI</h3>

    <div class="col-xs-11">
        <ul class="nav well">
            <li><a href="#/">Dashboard</a></li>
            <li><a href="#/containers/">Containers</a></li>
            <li><a href="#/containers_network/">Containers Network</a></li>
            <li><a href="#/images/">Images</a></li>
            <li ng-if="showNetworksVolumes"><a href="#/networks/">Networks</a></li>
            <li ng-if="showNetworksVolumes"><a href="#/volumes/">Volumes</a></li>
            <li><a href="#/info/">Info</a></li>
        </ul>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Refresh
        </button>
    </div>
</div>
