node_modules
bower_components
dist
portainer-checksum.txt
api/cmd/portainer/portainer*
storybook-static
debug-storybook.log
.tmp
**/.vscode/settings.json
**/.vscode/tasks.json
.vscode
*.DS_Store

.eslintcache
__debug_bin*

.idea
.env
go.work.sum

.vitest

