{
  "printWidth": 180,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": [
        "*.{j,t}sx",
        "*.ts"
      ],
      "options": {
        "printWidth": 80,
      }
    }
  ]
}