<rd-header>
  <rd-header-title title-text="Create network"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.networks">Networks</a> &gt; Add network </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="networkCreationForm">
          <!-- name-input -->
          <div class="form-group">
            <label for="network_name" class="col-sm-2 col-lg-1 control-label text-left">Name</label>
            <div class="col-sm-10 col-lg-11">
              <input type="text" class="form-control" ng-model="config.Name" id="network_name" placeholder="e.g. myNetwork" />
            </div>
          </div>
          <!-- !name-input -->
          <div class="col-sm-12 form-section-title"> Driver configuration </div>
          <!-- driver-input -->
          <div class="form-group">
            <label for="network_driver" class="col-sm-2 col-lg-1 control-label text-left">Driver</label>
            <div class="col-sm-10 col-lg-11">
              <select class="form-control" ng-options="driver for driver in availableNetworkDrivers" ng-model="config.Driver" ng-if="availableNetworkDrivers.length > 0">
                <option disabled hidden value="">Select a driver</option>
              </select>
              <input type="text" class="form-control" ng-model="config.Driver" id="network_driver" placeholder="e.g. driverName" ng-if="availableNetworkDrivers.length === 0" />
            </div>
          </div>
          <!-- !driver-input -->
          <!-- driver-options -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px">
              <label class="control-label text-left">
                Driver options
                <portainer-tooltip
                  position="bottom"
                  message="Driver options are specific to the selected driver. Please refer to the selected driver documentation."
                ></portainer-tooltip>
              </label>
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addDriverOption()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> add driver option
              </span>
            </div>
            <!-- driver-options-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="option in formValues.DriverOptions" style="margin-top: 2px">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">name</span>
                  <input type="text" class="form-control" ng-model="option.name" placeholder="e.g. com.docker.network.bridge.enable_icc" />
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">value</span>
                  <input type="text" class="form-control" ng-model="option.value" placeholder="e.g. true" />
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeDriverOption($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !driver-options-input-list -->
          </div>
          <!-- !driver-options -->
          <!-- macvlan-management -->
          <network-macvlan-form ng-show="config.Driver === 'macvlan'" data="formValues.Macvlan" application-state="applicationState"></network-macvlan-form>
          <!-- !macvlan-management -->
          <div ng-hide="config.Driver === 'macvlan' && formValues.Macvlan.Scope === 'swarm'">
            <div class="col-sm-12 form-section-title"> IPV4 Network configuration </div>
            <!-- subnet-gateway-inputs -->
            <div class="form-group">
              <label for="ipv4_network_subnet" class="col-sm-2 col-lg-1 control-label text-left">Subnet</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV4.Subnet" id="ipv4_network_subnet" placeholder="e.g. 172.20.0.0/16" />
              </div>
              <label for="ipv4_network_gateway" class="col-sm-2 col-lg-1 control-label text-left">Gateway</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV4.Gateway" id="ipv4_network_gateway" placeholder="e.g. 172.20.10.11" />
              </div>
            </div>
            <!-- !subnet-gateway-inputs -->
            <!-- iprange-auxaddr-inputs -->
            <div class="form-group">
              <label for="ipv4_network_iprange" class="col-sm-2 col-lg-1 control-label text-left">IP range</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV4.IPRange" id="ipv4_network_iprange" placeholder="e.g. 172.20.10.128/25" />
              </div>
            </div>
            <div ng-repeat="auxAddress in formValues.IPV4.AuxiliaryAddresses track by $index" class="form-group">
              <label for="ipv4_network_auxaddr_{{ $index }}" class="col-sm-2 col-lg-1 control-label text-left">Exclude IP</label>
              <div class="col-sm-4 col-lg-5">
                <input
                  type="text"
                  class="form-control"
                  ng-model="formValues.IPV4.AuxiliaryAddresses[$index]"
                  ng-change="checkIPV4AuxiliaryAddress($index)"
                  id="ipv4_network_auxaddr_{{ $index }}"
                  placeholder="e.g. my-router=172.20.10.129"
                />
              </div>
              <button class="btn btn-sm btn-danger" type="button" ng-click="removeIPV4AuxAddress($index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <div class="col-sm-12 small text-warning" ng-show="state.IPV4AuxiliaryAddressesError[$index]">
                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Exclude ip cannot be the same as gateway.</p>
              </div>
            </div>
            <!-- !iprange-auxaddr-inputs -->
            <div class="form-group">
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addIPV4AuxAddress()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> add excluded IP
              </span>
            </div>
          </div>
          <div ng-show="config.Driver === 'bridge' || (config.Driver === 'macvlan' && formValues.Macvlan.Scope !== 'swarm')">
            <div class="col-sm-12 form-section-title"> IPV6 Network configuration </div>
            <!-- subnet-gateway-inputs -->
            <div class="form-group">
              <label for="ipv6_network_subnet" class="col-sm-2 col-lg-1 control-label text-left">Subnet</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV6.Subnet" id="ipv6_network_subnet" placeholder="e.g. 2001:db8::/48" />
              </div>
              <label for="ipv6_network_gateway" class="col-sm-2 col-lg-1 control-label text-left">Gateway</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV6.Gateway" id="ipv6_network_gateway" placeholder="e.g. 2001:db8::1" />
              </div>
            </div>
            <!-- !subnet-gateway-inputs -->
            <!-- iprange-auxaddr-inputs -->
            <div class="form-group">
              <label for="ipv6_network_iprange" class="col-sm-2 col-lg-1 control-label text-left">IP range</label>
              <div class="col-sm-4 col-lg-5">
                <input type="text" class="form-control" ng-model="formValues.IPV6.IPRange" id="ipv6_network_iprange" placeholder="e.g. 2001:db8::/64" />
              </div>
            </div>
            <div ng-repeat="auxAddress in formValues.IPV6.AuxiliaryAddresses track by $index" class="form-group">
              <label for="ipv6_network_auxaddr_{{ $index }}" class="col-sm-2 col-lg-1 control-label text-left">Exclude IP</label>
              <div class="col-sm-4 col-lg-5">
                <input
                  type="text"
                  class="form-control"
                  ng-model="formValues.IPV6.AuxiliaryAddresses[$index]"
                  ng-change="checkIPV6AuxiliaryAddress($index)"
                  id="ipv6_network_auxaddr_{{ $index }}"
                  placeholder="e.g. my-router=2001:db8::1"
                />
              </div>
              <button class="btn btn-sm btn-danger" type="button" ng-click="removeIPV6AuxAddress($index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <div class="col-sm-12 small text-warning" ng-show="state.IPV6AuxiliaryAddressesError[$index]">
                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Exclude ip cannot be the same as gateway.</p>
              </div>
            </div>
            <!-- !iprange-auxaddr-inputs -->
            <div class="form-group">
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addIPV6AuxAddress()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> add excluded IP
              </span>
            </div>
          </div>
          <div class="col-sm-12 form-section-title"> Advanced configuration </div>
          <!-- labels -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px">
              <label class="control-label text-left">Labels</label>
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addLabel()"> <i class="fa fa-plus-circle" aria-hidden="true"></i> add label </span>
            </div>
            <!-- labels-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="label in formValues.Labels" style="margin-top: 2px">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">name</span>
                  <input type="text" class="form-control" ng-model="label.key" placeholder="e.g. com.example.foo" />
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">value</span>
                  <input type="text" class="form-control" ng-model="label.value" placeholder="e.g. bar" />
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeLabel($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !labels-input-list -->
          </div>
          <!-- !labels-->
          <!-- internal -->
          <div class="form-group" ng-hide="config.Driver === 'macvlan' && formValues.Macvlan.Scope === 'local'">
            <div class="col-sm-12">
              <label for="ownership" class="control-label text-left">
                Isolated network
                <portainer-tooltip position="bottom" message="An isolated network has no inbound or outbound communications."></portainer-tooltip>
              </label>
              <label name="ownership" class="switch" style="margin-left: 20px">
                <input type="checkbox" ng-model="config.Internal" />
                <i></i>
              </label>
            </div>
          </div>
          <!-- !internal -->
          <!-- attachable -->
          <div class="form-group" ng-hide="config.Driver === 'macvlan' && formValues.Macvlan.Scope === 'local'">
            <div class="col-sm-12">
              <label for="attachable" class="control-label text-left"> Enable manual container attachment </label>
              <label name="attachable" class="switch" style="margin-left: 20px">
                <input type="checkbox" ng-model="config.Attachable" />
                <i></i>
              </label>
            </div>
          </div>
          <!-- !attachable -->
          <div
            ng-if="
              applicationState.endpoint.mode.agentProxy &&
              applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE' &&
              config.Driver !== 'overlay' &&
              config.Driver !== 'macvlan'
            "
          >
            <div class="col-sm-12 form-section-title"> Deployment </div>
            <!-- node-selection -->
            <node-selector model="formValues.NodeName"> </node-selector>
            <!-- !node-selection -->
          </div>
          <!-- access-control -->
          <por-access-control-form form-data="formValues.AccessControlData"></por-access-control-form>
          <!-- !access-control -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title"> Actions </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !config.Name || (config.Driver === 'macvlan' && networkCreationForm.$invalid) || !isValid()"
                ng-click="create()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">Create the network</span>
                <span ng-show="state.actionInProgress">Creating network...</span>
              </button>
              <i id="createResourceSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none"></i>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
