<page-header ng-if="ctrl.state.viewReady" title="'Dashboard'" breadcrumbs="['Environment summary']" reload="true"></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row" ng-if="ctrl.endpoint">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-header icon="fa-tachometer-alt" title-text="Environment info"></rd-widget-header>
        <rd-widget-body classes="no-padding">
          <table class="table">
            <tbody>
              <tr>
                <td>Environment</td>
                <td>
                  {{ ctrl.endpoint.Name }}
                </td>
              </tr>
              <tr ng-if="ctrl.showEnvUrl">
                <td>URL</td>
                <td>{{ ctrl.endpoint.URL | stripprotocol }}</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>{{ ctrl.endpointTags }}</td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="dashboard-grid mx-4">
    <div ng-if="ctrl.pools" data-cy="k8sDashboard-namespaces">
      <a ui-sref="kubernetes.resourcePools">
        <dashboard-item icon="'fa-layer-group'" type="'Namespace'" value="ctrl.pools.length"></dashboard-item>
      </a>
    </div>

    <div ng-if="ctrl.applications" data-cy="k8sDashboard-applications">
      <a ui-sref="kubernetes.applications">
        <dashboard-item icon="'fa-laptop-code'" type="'Application'" value="ctrl.applications.length"></dashboard-item>
      </a>
    </div>
    <div ng-if="ctrl.configurations" data-cy="k8sDashboard-configurations">
      <a ui-sref="kubernetes.configurations">
        <dashboard-item icon="'fa-file-code'" type="'Configuration'" value="ctrl.configurations.length"></dashboard-item>
      </a>
    </div>
    <div ng-if="ctrl.volumes" data-cy="k8sDashboard-volumes">
      <a ui-sref="kubernetes.volumes">
        <dashboard-item icon="'fa-database'" type="'Volume'" value="ctrl.volumes.length"></dashboard-item>
      </a>
    </div>
  </div>
</div>
