<page-header ng-if="ctrl.state.viewReady" title="'Dashboard'" breadcrumbs="['Environment summary']" reload="true"></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row" ng-if="ctrl.endpoint">
    <div class="col-sm-12">
      <rd-widget>
        <div class="toolBar vertical-center w-full">
          <div class="toolBarTitle vertical-center p-5">
            <div class="widget-icon space-right">
              <pr-icon icon="'svg-tachometer'"></pr-icon>
            </div>
            Environment info
          </div>
        </div>
        <rd-widget-body classes="!px-5 !py-0">
          <table class="table">
            <tbody>
              <tr>
                <td class="!pl-0 !border-none">Environment</td>
                <td class="!border-none">
                  {{ ctrl.endpoint.Name }}
                </td>
              </tr>
              <tr ng-if="ctrl.showEnvUrl">
                <td class="!pl-0 !border-t">URL</td>
                <td class="!border-t">{{ ctrl.endpoint.URL | stripprotocol }}</td>
              </tr>
              <tr>
                <td class="!pl-0">Tags</td>
                <td>{{ ctrl.endpointTags }}</td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="dashboard-grid mx-4">
    <div ng-if="ctrl.pools" data-cy="k8sDashboard-namespaces">
      <a class="no-link" ui-sref="kubernetes.resourcePools">
        <dashboard-item feather-icon="true" icon="'layers'" type="'Namespace'" value="ctrl.pools.length"></dashboard-item>
      </a>
    </div>

    <div ng-if="ctrl.applications" data-cy="k8sDashboard-applications">
      <a class="no-link" ui-sref="kubernetes.applications">
        <dashboard-item feather-icon="true" icon="'box'" type="'Application'" value="ctrl.applications.length"></dashboard-item>
      </a>
    </div>
    <div ng-if="ctrl.configurations" data-cy="k8sDashboard-configurations">
      <a class="no-link" ui-sref="kubernetes.configurations">
        <dashboard-item feather-icon="true" icon="'lock'" type="'ConfigMaps & Secret'" value="ctrl.configurations.length"></dashboard-item>
      </a>
    </div>
    <div ng-if="ctrl.volumes" data-cy="k8sDashboard-volumes">
      <a class="no-link" ui-sref="kubernetes.volumes">
        <dashboard-item feather-icon="true" icon="'database'" type="'Volume'" value="ctrl.volumes.length"></dashboard-item>
      </a>
    </div>
  </div>
</div>
