<div class="page-wrapper">
  <!-- simple box -->
  <div class="container simple-box">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <!-- simple box logo -->
      <div class="row">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo" />
        <img ng-if="!logo" src="~@/assets/images/logo_alt.png" class="simple-box-logo" alt="Portainer" />
      </div>
      <!-- !simple box logo -->

      <div class="panel panel-default">
        <div class="panel-body">
          <!-- init-endpoint form -->
          <form class="simple-box-form form-horizontal" name="$ctrl.form" novalidate>
            <div class="col-sm-12 form-section-title">
              License registration
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                <p>Please register your Portainer license.</p>
                <p> <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i> You'll be able to register multiple licenses at a later stage. </p>
              </span>
            </div>

            <div class="form-group">
              <label for="license-input" class="col-sm-1 control-label text-left">License</label>
              <div class="col-sm-11">
                <input class="form-control" id="license-input" ng-model="$ctrl.license" auto-focus />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  ng-click="$ctrl.submit()"
                  ng-disabled="$ctrl.state.actionInProgress || !$ctrl.isFormValid()"
                  button-spinner="$ctrl.state.actionInProgress"
                  style="margin-left: 0;"
                >
                  <span ng-hide="$ctrl.state.actionInProgress">Submit</span>
                  <span ng-show="$ctrl.state.actionInProgress">In progress...</span>
                </button>
                <span class="text-danger" ng-if="$ctrl.state.formError" style="margin-left: 5px;">{{ $ctrl.state.formError }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
