<page-header
  title="'docker_containers.logs_title' | i18n"
  breadcrumbs="[
    { label:('docker_containers.title' | i18n), link:'docker.containers' },
    { 
      label:(container.Name | trimcontainername),
      link: 'docker.containers.container', 
      linkParams: { id: container.Id }
    }, ('docker_containers.logs' | i18n)]"
>
</page-header>

<container-log-view ng-if="!logsEnabled"></container-log-view>

<log-viewer
  data="logs"
  ng-if="logs && logsEnabled"
  log-collection-change="changeLogCollection"
  display-timestamps="state.displayTimestamps"
  line-count="state.lineCount"
  since-timestamp="state.sinceTimestamp"
  resource-name="container.Name"
></log-viewer>
