<rd-header>
  <rd-header-title title-text="Container logs"></rd-header-title>
  <rd-header-content>
    <a ui-sref="docker.containers">Containers</a> &gt; <a ui-sref="docker.containers.container({id: container.Id})">{{ container.Name | trimcontainername }}</a> &gt; Logs
  </rd-header-content>
</rd-header>

<log-viewer
  data="logs"
  ng-if="logs"
  log-collection-change="changeLogCollection"
  display-timestamps="state.displayTimestamps"
  line-count="state.lineCount"
  since-timestamp="state.sinceTimestamp"
  resource-name="container.Name"
></log-viewer>
