<rd-header>
  <rd-header-title title="Settings">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>Settings</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-cogs" title="Application settings"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- logo -->
          <div class="col-sm-12 form-section-title">
            Logo
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_logo" class="control-label text-left">
                Use custom logo
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_logo" ng-model="formValues.customLogo"><i></i>
              </label>
            </div>
          </div>
          <div ng-if="formValues.customLogo">
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                You can specify the URL to your logo here. You'll need to login again to see the changes.
              </span>
            </div>
            <div class="form-group">
              <label for="logo_url" class="col-sm-1 control-label text-left">
                URL
              </label>
              <div class="col-sm-11">
                <input type="text" class="form-control" ng-model="settings.LogoURL" id="logo_url" placeholder="https://mycompany.com/logo.png">
              </div>
            </div>
          </div>
          <!-- !logo -->
          <!-- app-templates -->
          <div class="col-sm-12 form-section-title">
            App Templates
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_templates" class="control-label text-left">
                Use custom templates
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_templates" ng-model="formValues.customTemplates"><i></i>
              </label>
            </div>
          </div>
          <div ng-if="formValues.customTemplates">
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                You can specify the URL to your own template definitions file here. See <a href="https://portainer.readthedocs.io/en/stable/templates.html" target="_blank">Portainer documentation</a> for more details.
              </span>
            </div>
            <div class="form-group" >
              <label for="templates_url" class="col-sm-1 control-label text-left">
                URL
              </label>
              <div class="col-sm-11">
                <input type="text" class="form-control" ng-model="settings.TemplatesURL" id="templates_url" placeholder="https://myserver.mydomain/templates.json">
              </div>
            </div>
          </div>
          <!-- !app-templates -->
          <!-- actions -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-click="updateSettings()">Save</button>
              <i id="updateSettingsSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
              <!-- <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span> -->
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
