<div id="service-resources">
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title="Resource limits and reservations">
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>CPU limit<portainer-tooltip position="top" message="Maximum CPU usage per task (set to 0 for unlimited)"></portainer-tooltip></td>
            <td>
              <input class="input-sm" type="number" step="0.1" ng-model="service.LimitNanoCPUs" ng-change="updateServiceAttribute(service, 'LimitNanoCPUs')" ng-disabled="isUpdating"/>
            </td>
            <td>CPU reservation<portainer-tooltip position="top" message="Minimum CPU available on a node to run a task"></portainer-tooltip></td>
            <td>
              <input class="input-sm" type="number" step="0.1" ng-model="service.ReservationNanoCPUs" ng-change="updateServiceAttribute(service, 'ReservationNanoCPUs')" ng-disabled="isUpdating"/>
            </td>
          </tr>
          <tr>
            <td>Memory limit (MB)<portainer-tooltip position="top" message="Maximum memory usage per task (set to 0 for unlimited)"></portainer-tooltip></td>
            <td>
              <input class="input-sm" type="number" step="0.125" ng-model="service.LimitMemoryBytes" ng-change="updateServiceAttribute(service, 'LimitMemoryBytes')" ng-disabled="isUpdating"/>
            </td>
            <td>Memory reservation (MB)<portainer-tooltip position="top" message="Minimum memory available on a node to run a task"></portainer-tooltip></td>
            <td>
              <input class="input-sm" type="number" step="0.125" ng-model="service.ReservationMemoryBytes" ng-change="updateServiceAttribute(service, 'ReservationMemoryBytes')" ng-disabled="isUpdating"/>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['LimitNanoCPUs', 'LimitMemoryBytes', 'ReservationNanoCPUs', 'ReservationMemoryBytes'])" ng-click="updateService(service)">Apply changes</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['LimitNanoCPUs', 'LimitMemoryBytes', 'ReservationNanoCPUs', 'ReservationMemoryBytes'])">Reset changes</a></li>
            <li><a ng-click="cancelChanges(service)">Reset all changes</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
