<div ng-if="service.ServiceSecrets && applicationState.endpoint.apiVersion >= 1.25">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Secrets">
      <div class="nopadding">
        <a class="btn btn-default btn-sm pull-right" ng-click="addSecret(service)">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> secret
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="service.ServiceSecrets.length === 0">
      <p>There are no secrets for this service.</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.ServiceSecrets.length > 0" classes="no-padding">
      <table class="table" >
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>File name</th>
            <th>UID</th>
            <th>GID</th>
            <th>Mode</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="secret in service.ServiceSecrets">
            <td>{{ secret.Id }}</td>
            <td>{{ secret.Name }}</td>
            <td>{{ secret.FileName }}</td>
            <td>{{ secret.Uid }}</td>
            <td>{{ secret.Gid }}</td>
            <td>{{ secret.Mode }}</td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
  </rd-widget>
</div>
