<div>
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title="Update configuration">
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>Update Parallelism</td>
            <td>
              <input class="input-sm" type="number" ng-model="service.UpdateParallelism" ng-change="updateServiceAttribute(service, 'UpdateParallelism')"/>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Maximum number of tasks to be updated simultaneously (0 to update all at once).
              </p>
            </td>
          </tr>
          <tr>
            <td>Update Delay</td>
            <td>
              <input class="input-sm" type="number" ng-model="service.UpdateDelay" ng-change="updateServiceAttribute(service, 'UpdateDelay')"/>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Amount of time between updates.
              </p>
            </td>
          </tr>
          <tr>
            <td>Update Failure Action</td>
            <td>
              <div class="form-group">
                <label class="radio-inline">
                  <input type="radio" name="failure_action" ng-model="service.UpdateFailureAction" value="continue" ng-change="updateServiceAttribute(service, 'UpdateFailureAction')">
                  Continue
                </label>
                <label class="radio-inline">
                  <input type="radio" name="failure_action" ng-model="service.UpdateFailureAction" value="pause" ng-change="updateServiceAttribute(service, 'UpdateFailureAction')">
                  Pause
                </label>
              </div>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Action taken on failure to start after update.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['UpdateFailureAction', 'UpdateDelay', 'UpdateParallelism'])" ng-click="updateService(service)">Apply changes</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['UpdateFailureAction', 'UpdateDelay', 'UpdateParallelism'])">Reset changes</a></li>
            <li><a ng-click="cancelChanges(service)">Reset all changes</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
