<rd-header>
  <rd-header-title title-text="Service list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.services" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Services</rd-header-content>
</rd-header>

<div class="row" ng-if="services">
  <div class="col-sm-12">
    <services-datatable
      title-text="Services"
      title-icon="fa-list-alt"
      dataset="services"
      table-key="services"
      order-by="Name"
      nodes="nodes"
      agent-proxy="applicationState.endpoint.mode.agentProxy"
      show-update-action="applicationState.endpoint.apiVersion >= 1.25"
      show-task-logs-button="applicationState.endpoint.apiVersion >= 1.30"
      show-add-action="true"
      show-stack-column="true"
      refresh-callback="getServices"
      endpoint-public-url="endpoint.PublicURL"
      endpoint-id="endpoint.Id"
    ></services-datatable>
  </div>
</div>
