<rd-header>
  <rd-header-title title="Service list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.services" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Services</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <services-datatable
    title="Services" title-icon="fa-list-alt"
    dataset="services" table-key="services"
    order-by="Name" show-text-filter="true"
    show-ownership-column="applicationState.application.authentication"
    remove-action="removeAction"
    scale-action="scaleAction"
    force-update-action="forceUpdateAction"
    swarm-manager-ip="swarmManagerIP"
    show-force-update-button="applicationState.endpoint.apiVersion >= 1.25"
    ></services-datatable>
  </div>
</div>
