<form class="form-horizontal" style="margin-top: 15px;">
  <!-- current-password-input -->
  <div class="form-group">
    <label for="current_password" class="col-sm-2 control-label text-left">Current password</label>
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="password" class="form-control" ng-model="$ctrl.state.formValues.currentPassword" id="current_password">
      </div>
    </div>
  </div>
  <!-- !current-password-input -->
  <div class="form-group" ng-if="$ctrl.state.invalidPassword">
    <div class="col-sm-12">
      <i class="fa fa-times red-icon" aria-hidden="true"></i>
      <span class="small text-muted">Current password is not valid</span>
    </div>
  </div>
  <!-- new-password-input -->
  <div class="form-group">
    <label for="new_password" class="col-sm-2 control-label text-left">New password</label>
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="password" class="form-control" ng-model="$ctrl.state.formValues.newPassword" id="new_password">
      </div>
    </div>
  </div>
  <!-- !new-password-input -->
  <div class="form-group">
    <div class="col-sm-12">
      <i ng-class="{true: 'fa fa-check green-icon', false: 'fa fa-times red-icon'}[$ctrl.state.formValues.newPassword.length >= 8]" aria-hidden="true"></i>
      <span class="small text-muted">Your new password must be at least 8 characters long</span>
    </div>
  </div>
  <!-- confirm-password-input -->
  <div class="form-group">
    <label for="confirm_password" class="col-sm-2 control-label text-left">Confirm password</label>
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="password" class="form-control" ng-model="$ctrl.state.formValues.confirmPassword" id="confirm_password">
        <span class="input-group-addon"><i ng-class="{true: 'fa fa-check green-icon', false: 'fa fa-times red-icon'}[$ctrl.state.formValues.newPassword !== '' && $ctrl.state.formValues.newPassword === $ctrl.state.formValues.confirmPassword]" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
  <!-- !confirm-password-input -->
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary btn-sm" ng-disabled="($ctrl.state.AuthenticationMethod !== 1 && $ctrl.userID !== 1) || !$ctrl.state.formValues.currentPassword || $ctrl.state.formValues.newPassword.length < 8 || $ctrl.state.formValues.newPassword !== $ctrl.state.formValues.confirmPassword" ng-click="$ctrl.updatePassword()">Update password</button>
      <span class="text-muted small" style="margin-left: 5px;" ng-if="$ctrl.state.AuthenticationMethod === 2 && $ctrl.state.userID !== 1">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        You cannot change your password when using LDAP authentication.
      </span>
    </div>
  </div>
</form>