.be-indicator {
  @apply border-solid border border-gray-6;
  @apply text-gray-6 text-xs;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: 400;
  touch-action: all;
  pointer-events: all;
  white-space: nowrap;
}

.be-indicator .be-indicator-icon {
  @apply text-inherit;
}

.be-indicator:hover {
  @apply underline;
  @apply border-blue-9 text-blue-9;
}

.be-indicator:hover .be-indicator-label {
  @apply underline;
}

.be-indicator-container {
  @apply border-solid border border-gray-6;
}
