<rd-header>
  <rd-header-title title-text="Home">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.home" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Endpoints</rd-header-content>
</rd-header>

<information-panel title-text="Information">
  <span class="small text-muted">
    <p ng-if="endpoints.length > 0">
      Welcome to Portainer ! Click on any endpoint in the list below to access management features.
    </p>
    <p ng-if="!isAdmin && endpoints.length === 0">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      You do not have access to any environment. Please contact your administrator.
    </p>

    <p ng-if="isAdmin && !applicationState.application.snapshot">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      Endpoint snapshot is disabled.
    </p>
  </span>
</information-panel>

<div class="row" ng-if="endpoints.length > 0">
  <div class="col-sm-12">
    <endpoint-list
      title-text="Endpoints" title-icon="fa-plug"
      endpoints="endpoints"
      dashboard-action="goToDashboard"
      show-snapshot-action="!applicationState.application.authentication || isAdmin"
      snapshot-action="triggerSnapshot"
    ></endpoint-list>
  </div>
</div>
