<rd-header>
  <rd-header-title title-text="Home">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.home" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Endpoints</rd-header-content>
</rd-header>

<information-panel title-text="Information" ng-if="!isAdmin && endpoints.length === 0">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      You do not have access to any environment. Please contact your administrator.
    </p>
  </span>
</information-panel>

<information-panel title-text="Information" ng-if="isAdmin && !applicationState.application.snapshot">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      Endpoint snapshot is disabled.
    </p>
  </span>
</information-panel>

<div class="row" ng-if="endpoints.length > 0">
  <div class="col-sm-12">
    <endpoints-snapshot-datatable
      title-text="Endpoints" title-icon="fa-plug"
      dataset="endpoints" table-key="endpoints"
      order-by="Name"
      dashboard-action="goToDashboard"
    ></endpoints-snapshot-datatable>
  </div>
</div>
