<div class="col-sm-12 small text-muted">
  You can select which environment should be part of this group by moving them to the associated environments table. Simply click on any environment entry to move it from one table
  to the other.
</div>

<div class="-mx-[15px]">
  <div class="col-sm-12 mt-4">
    <div class="flex">
      <div class="w-1/2">
        <group-association-table
          title="'Available environments'"
          empty-content-message="'No environment available'"
          query="$ctrl.state.available.query"
          on-click-row="($ctrl.associateEndpoint)"
          data-cy="edgeGroupCreate-availableEndpoints"
        ></group-association-table>
      </div>
      <div class="w-1/2">
        <group-association-table
          title="'Associated environments'"
          empty-content-message="'No associated environments'"
          query="$ctrl.state.associated.query"
          on-click-row="($ctrl.dissociateEndpoint)"
        ></group-association-table>
      </div>
    </div>
  </div>
</div>
