<rd-header>
  <rd-header-title title="Network list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="networks" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Networks</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <datatable title="Networks" title-icon="fa-sitemap"
      dataset="networks" table-key="networks"
      headers="[
        { property: 'Name', label: 'Name', excludeFromSelector: true },
        { property: 'StackName', label: 'Stack', show: true },
        { property: 'Driver', label: 'Driver', show: true },
        { property: 'Scope', label: 'Scope', show: false },
        { property: 'IPAM.Config[0].Subnet', label: 'Subnet', show: false },
        { property: 'IPAM.Config[0].Gateway', label: 'Gateway', show: false },
        { property: 'ResourceControl.Ownership', label: 'Ownership', show: true }
      ]"
      dataset-properties="[
        { property: 'Name' },
        { property: 'StackName' },
        { property: 'Driver' },
        { property: 'Scope' },
        { property: 'IPAM.Config[0].Subnet' },
        { property: 'IPAM.Config[0].Gateway' },
        { property: 'ResourceControl.Ownership', renderFunc: renderFieldOwnership }
      ]"
      order-by="Name"
      identifier="Id" identifier-property="Name" state-details="network"
      show-text-filter="true" selectable-rows="true">
      <datatable-settings>
        <datatable-setting-column-selector></datatable-setting-column-selector>
      </datatable-settings>
      <datatable-actions>
        <datatable-action btn-style="btn-danger" btn-icon="fa-trash" btn-title="Remove" require-selection="true" action="removeAction(items)"></datatable-action>
        <datatable-action btn-style="btn-primary" btn-icon="fa-plus" btn-title="Add network" action="goToNetworkCreation()"></datatable-action>
      </datatable-actions>
    </datatable>
  </div>
</div>

<!--
<tr dir-paginate="network in ( state.filteredNetworks = (networks | filter:state.filter | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))">
  <td><input type="checkbox" ng-model="network.Checked" ng-change="selectItem(network)"/></td>
  <td><a ui-sref="network({id: network.Id})">{{ network.Name | truncate:40 }}</a></td>
  <td>{{ network.StackName ? network.StackName : '-' }}</td>
  <td>{{ network.Scope }}</td>
  <td>{{ network.Driver }}</td>
  <td>{{ network.IPAM.Driver }}</td>
  <td>{{ network.IPAM.Config[0].Subnet ? network.IPAM.Config[0].Subnet : '-' }}</td>
  <td>{{ network.IPAM.Config[0].Gateway ? network.IPAM.Config[0].Gateway : '-' }}</td>
  <td ng-if="applicationState.application.authentication">
    <span>
      <i ng-class="network.ResourceControl.Ownership | ownershipicon" aria-hidden="true"></i>
      {{ network.ResourceControl.Ownership ? network.ResourceControl.Ownership : network.ResourceControl.Ownership = 'public' }}
    </span>
  </td>
</tr> -->


<!-- <div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-sitemap" title="Networks">
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </rd-widget-header>
      <rd-widget-taskbar classes="col-lg-12">
        <div class="pull-left">
          <button type="button" class="btn btn-danger" ng-click="removeAction()" ng-disabled="!state.selectedItemCount"><i class="fa fa-trash space-right" aria-hidden="true"></i>Remove</button>
          <a class="btn btn-primary" type="button" ui-sref="actions.create.network"><i class="fa fa-plus space-right" aria-hidden="true"></i>Add network</a>
        </div>
        <div class="pull-right">
          <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control input-sm" />
        </div>
      </rd-widget-taskbar>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" ng-model="allSelected" ng-change="selectItems(allSelected)" />
                </th>
                <th>
                  <a ng-click="order('Name')">
                    Name
                    <span ng-show="sortType == 'Name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('StackName')">
                    Stack
                    <span ng-show="sortType == 'StackName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'StackName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('Scope')">
                    Scope
                    <span ng-show="sortType == 'Scope' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Scope' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('Driver')">
                    Driver
                    <span ng-show="sortType == 'Driver' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Driver' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('IPAM.Driver')">
                    IPAM Driver
                    <span ng-show="sortType == 'IPAM.Driver' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'IPAM.Driver' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('IPAM.Config[0].Subnet')">
                    IPAM Subnet
                    <span ng-show="sortType == 'IPAM.Config[0].Subnet' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'IPAM.Config[0].Subnet' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ng-click="order('IPAM.Config[0].Gateway')">
                    IPAM Gateway
                    <span ng-show="sortType == 'IPAM.Config[0].Gateway' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'IPAM.Config[0].Gateway' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-if="applicationState.application.authentication">
                  <a ng-click="order('ResourceControl.Ownership')">
                    Ownership
                    <span ng-show="sortType == 'ResourceControl.Ownership' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'ResourceControl.Ownership' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="network in ( state.filteredNetworks = (networks | filter:state.filter | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))" ng-class="{active: network.Checked}">
                <td><input type="checkbox" ng-model="network.Checked" ng-change="selectItem(network)"/></td>
                <td><a ui-sref="network({id: network.Id})">{{ network.Name | truncate:40 }}</a></td>
                <td>{{ network.StackName ? network.StackName : '-' }}</td>
                <td>{{ network.Scope }}</td>
                <td>{{ network.Driver }}</td>
                <td>{{ network.IPAM.Driver }}</td>
                <td>{{ network.IPAM.Config[0].Subnet ? network.IPAM.Config[0].Subnet : '-' }}</td>
                <td>{{ network.IPAM.Config[0].Gateway ? network.IPAM.Config[0].Gateway : '-' }}</td>
                <td ng-if="applicationState.application.authentication">
                  <span>
                    <i ng-class="network.ResourceControl.Ownership | ownershipicon" aria-hidden="true"></i>
                    {{ network.ResourceControl.Ownership ? network.ResourceControl.Ownership : network.ResourceControl.Ownership = 'public' }}
                  </span>
                </td>
              </tr>
              <tr ng-if="!networks">
                <td colspan="9" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="networks.length == 0">
                <td colspan="9" class="text-center text-muted">No networks available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="networks" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div> -->
