<div class="page-wrapper">
  <!-- login box -->
  <div class="container simple-box">
    <div class="col-sm-6 col-sm-offset-3">
      <!-- login box logo -->
      <div class="row">
        <img ng-if="!logo" src="images/logo_alt.png" class="simple-box-logo" alt="Portainer">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo">
      </div>
      <!-- !login box logo -->
      <!-- login panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            Your password needs to be changed
          </div>
          <change-password-form
            need-to-sanitize-password="true"
          ></change-password-form>
        </div>
      </div>
      <!-- !login panel -->
    </div>
  </div>
  <!-- !login box -->
</div>
