<page-header title="'docker_images.image_details_title' | i18n" breadcrumbs="[{label:'docker.images.label' | i18n, link:'docker.images'}, image.Id]"> </page-header>

<div class="row" ng-if="image.RepoTags.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="tag" title-text="{{ 'docker_images.image_tags_header' | i18n }}"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="pull-left" ng-repeat="tag in image.RepoTags" style="display: table">
                <div class="input-group col-md-1 !pl-3.5 !pr-3.5">
                  <span class="input-group-addon" style="border-right: 1px solid var(--border-input-group-addon-color); border-radius: 4px" data-cy="image-tag-{{ tag }}">{{
                    tag
                  }}</span>
                  <span class="input-group-btn" style="padding: 0px 5px">
                    <span style="margin: 0px 5px" authorization="DockerImagePush">
                      <a data-toggle="tooltip" class="btn btn-primary interactive" title="{{ 'docker_images.push_to_registry' | i18n }}" ng-click="pushTag(tag)">
                        <pr-icon icon="'upload'"></pr-icon>
                      </a>
                    </span>

                    <span class="mx-1 my-0" authorization="DockerImageCreate">
                      <a data-toggle="tooltip" class="btn btn-primary interactive" title="{{ 'docker_images.pull_from_registry' | i18n }}" ng-click="pullTag(tag)">
                        <pr-icon icon="'download'"></pr-icon>
                      </a>
                    </span>

                    <span class="mx-1 my-0" authorization="DockerImageDelete">
                      <a data-toggle="tooltip" class="btn btn-primary interactive" title="{{ 'docker_images.remove_tag' | i18n }}" ng-click="removeTag(tag)">
                        <pr-icon icon="'trash-2'"></pr-icon>
                      </a>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted" authorization="DockerImageDelete">
                {{ 'docker_images.tag_icons_note' | i18n }} <pr-icon icon="'upload'"></pr-icon> {{ 'docker_images.tag_icons_note_push' | i18n }} <pr-icon icon="'download'"></pr-icon> {{ 'docker_images.tag_icons_note_pull' | i18n }} <pr-icon icon="'trash-2'"></pr-icon> {{ 'docker_images.tag_icons_note_delete' | i18n }}
              </span>
            </div>
            <div class="col-sm-12">
              <span id="downloadResourceHint" class="createResource ml-0" style="display: none">
                {{ 'docker_images.download_in_progress' | i18n }}
                <pr-icon icon="'loader-2'" class-name="'animate-spin-slow ml-0.5'"></pr-icon>
              </span>
              <span id="uploadResourceHint" class="createResource ml-0.5" style="display: none">
                {{ 'docker_images.upload_in_progress' | i18n }}
                <pr-icon icon="'loader-2'" class-name="'animate-spin-slow ml-0.5'"></pr-icon>
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" authorization="DockerImageCreate">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="tag" title-text="{{ 'docker_images.tag_the_image' | i18n }}"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- image-and-registry -->
          <por-image-registry
            model="formValues.RegistryModel"
            label-class="col-sm-1"
            input-class="col-sm-11"
            endpoint="endpoint"
            is-admin="isAdmin"
            set-validity="setPullImageValidity"
            check-rate-limits="true"
          ></por-image-registry>
          <!-- !image-and-registry -->
          <!-- tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">{{ 'docker_images.tag_note_prefix' | i18n }} <span class="label label-default">latest</span> {{ 'docker_images.tag_note_suffix' | i18n }}</span>
            </div>
          </div>
          <!-- !tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm !ml-0" ng-disabled="!formValues.RegistryModel.Image" ng-click="tagImage()">{{ 'docker_images.tag_button' | i18n }}</button>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="list" title-text="{{ 'docker_images.image_details_title' | i18n }}"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td class="min-w-[80px]">ID</td>
              <td>
                {{ image.Id }}
                <button authorization="DockerImageDelete" class="btn btn-xs btn-danger" ng-click="removeImage(image.Id)">
                  <pr-icon icon="'trash-2'"></pr-icon> {{ 'docker_images.delete_this_image' | i18n }}
                </button>
                <button
                  authorization="DockerImageGet"
                  class="btn btn-xs btn-primary"
                  ng-click="exportImage(image)"
                  button-spinner="$ctrl.exportInProgress"
                  ng-disabled="state.exportInProgress"
                >
                  <pr-icon icon="'download'"></pr-icon>
                  <span ng-hide="state.exportInProgress">{{ 'docker_images.export_this_image' | i18n }}</span>
                  <span ng-show="state.exportInProgress">{{ 'docker_images.export_in_progress' | i18n }}</span>
                </button>
              </td>
            </tr>
            <tr ng-if="image.Parent">
              <td>{{ 'docker_images.parent' | i18n }}</td>
              <td
                ><a ui-sref="docker.images.image({id: image.Parent})">{{ image.Parent }}</a></td
              >
            </tr>
            <tr>
              <td>{{ 'docker_images.size' | i18n }}</td>
              <td>{{ image.Size | humansize }}</td>
            </tr>
            <tr>
              <td>{{ 'common.created' | i18n }}</td>
              <td>{{ image.Created | getisodate }}</td>
            </tr>
            <tr>
              <td>{{ 'docker_images.build' | i18n }}</td>
              <td>Docker {{ image.DockerVersion }} on {{ image.Os }}, {{ image.Architecture }}</td>
            </tr>
            <tr ng-if="!(image.Labels | emptyobject)">
              <td>{{ 'docker_images.labels' | i18n }}</td>
              <td>
                <table class="table-bordered table-condensed table">
                  <tr ng-repeat="(k, v) in image.Labels">
                    <td class="min-w-[80px]">{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr ng-if="image.Author">
              <td>{{ 'docker_images.author' | i18n }}</td>
              <td>{{ image.Author }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<dockerfile-details ng-if="image" image="image"></dockerfile-details>

<div class="row" ng-if="history.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="list" title-text="{{ 'docker_images.image_layers_header' | i18n }}"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table id="image-layers" class="table">
          <thead>
            <th class="whitespace-nowrap">
              <table-column-header
                col-title="'docker_images.order' | i18n"
                can-sort="true"
                is-sorted="$ctrl.state.orderBy === 'Order'"
                is-sorted-desc="$ctrl.state.orderBy === 'Order' && $ctrl.state.reverseOrder"
                ng-click="$ctrl.changeOrderBy('Order')"
              ></table-column-header>
            </th>
            <th>
              <table-column-header
                col-title="'docker_images.size' | i18n"
                can-sort="true"
                is-sorted="$ctrl.state.orderBy === 'Size'"
                is-sorted-desc="$ctrl.state.orderBy === 'Size' && $ctrl.state.reverseOrder"
                ng-click="$ctrl.changeOrderBy('Size')"
              ></table-column-header>
            </th>
            <th>
              <table-column-header
                col-title="'docker_images.layer' | i18n"
                can-sort="true"
                is-sorted="$ctrl.state.orderBy === 'Layer'"
                is-sorted-desc="$ctrl.state.orderBy === 'Layer' && $ctrl.state.reverseOrder"
                ng-click="$ctrl.changeOrderBy('Layer')"
              ></table-column-header>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="layer in history | orderBy:sortType:sortReverse">
              <td class="whitespace-nowrap">
                {{ layer.Order }}
              </td>
              <td class="whitespace-nowrap">
                {{ layer.Size | humansize }}
              </td>
              <td class="expand">
                <div ng-if="layer.CreatedBy.length > 130">
                  <span id="layer-command-{{ $index }}-full" style="display: none">
                    {{ layer.CreatedBy | imagelayercommand }}
                  </span>
                  <span id="layer-command-{{ $index }}-short">
                    {{ layer.CreatedBy | imagelayercommand | truncate: 130 }}
                    <span ng-if="layer.CreatedBy.length > 130" class="ml-1">
                      <a id="layer-command-expander{{ $index }}" class="btn" ng-click="toggleLayerCommand($index)">
                        <pr-icon icon="'plus'" mode="'alt'"></pr-icon>
                      </a>
                    </span>
                  </span>
                </div>
                <div ng-if="layer.CreatedBy.length <= 130">
                  <span id="layer-command-{{ $index }}-full">
                    {{ layer.CreatedBy | imagelayercommand }}
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
