<rd-header>
  <rd-header-title title-text="User details"></rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.users">Users</a> &gt; <a ui-sref="portainer.users.user({id: user.Id})">{{ formValues.username }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-user" title-text="User details"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" style="margin-top: 15px">
          <div class="form-group">
            <label for="username_field" class="col-sm-2 control-label text-left">Username</label>
            <div class="col-sm-8">
              <input class="form-control" ng-model="formValues.username" id="username_field" />
            </div>
          </div>

          <div class="form-group" ng-if="isAdmin">
            <div class="col-sm-4">
              <label for="permissions" class="control-label text-left">
                Administrator
                <portainer-tooltip
                  position="bottom"
                  message="Administrators have access to Portainer settings management as well as full control over all defined environments and their resources."
                ></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px"> <input type="checkbox" ng-model="formValues.Administrator" /><i></i> </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <button class="btn btn-primary btn-sm" ng-disabled="!isSubmitEnabled()" ng-click="updateUser()">Save</button>
              <button class="btn btn-danger btn-sm" ng-disabled="isDeleteDisabled()" ng-click="deleteUser()"
                ><i class="fa fa-trash-alt space-right" aria-hidden="true"></i>Delete this user</button
              >
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="AuthenticationMethod === 1">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-lock" title-text="Change user password"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" style="margin-top: 15px">
          <!-- new-password-input -->
          <div class="form-group">
            <label for="new_password" class="col-sm-2 control-label text-left">New password</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control" ng-model="formValues.newPassword" id="new_password" />
              </div>
            </div>
          </div>
          <!-- !new-password-input -->
          <!-- confirm-password-input -->
          <div class="form-group">
            <label for="confirm_password" class="col-sm-2 control-label text-left">Confirm password</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control" ng-model="formValues.confirmPassword" id="confirm_password" />
                <span class="input-group-addon"
                  ><i
                    ng-class="
                      { true: 'fa fa-check green-icon', false: 'fa fa-times red-icon' }[formValues.newPassword !== '' && formValues.newPassword === formValues.confirmPassword]
                    "
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
          </div>
          <!-- !confirm-password-input -->
          <div class="form-group">
            <div class="col-sm-2">
              <button
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="formValues.newPassword === '' || formValues.newPassword !== formValues.confirmPassword"
                ng-click="updatePassword()"
                >Update password</button
              >
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
