<div class="datatable">
  <div class="searchBar">
    <i class="fa fa-search searchIcon" aria-hidden="true"></i>
    <input type="text" class="searchInput" placeholder="Search..." ng-model-options="{ debounce: 300 }" />
  </div>
  <div class="table-responsive">
    <table class="table table-hover nowrap-cells">
      <thead>
        <tr>
          <th>
            Endpoint
          </th>
          <th>
            Role
          </th>
          <th>Access origin</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!$ctrl.dataset">
          <td colspan="3" class="text-center text-muted">Select a user to show associated access and role</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
