<div class="datatable">
  <rd-widget>
    <rd-widget-header icon="{{ $ctrl.titleIcon }}" title-text="{{ $ctrl.titleText }}">
      <file-uploader authorization="DockerAgentBrowsePut" ng-if="$ctrl.isUploadAllowed" on-file-selected="($ctrl.onFileSelectedForUpload)"> </file-uploader>
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <div class="searchBar">
        <i class="fa fa-search searchIcon" aria-hidden="true"></i>
        <input
          type="text"
          class="searchInput"
          ng-model="$ctrl.state.textFilter"
          ng-model-options="{ debounce: 300 }"
          ng-change="$ctrl.onTextFilterChange()"
          placeholder="Search..."
          auto-focus
        />
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a ng-click="$ctrl.changeOrderBy('Name')">
                  Name
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Name' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Name' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th>
                <a ng-click="$ctrl.changeOrderBy('Size')">
                  Size
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Size' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Size' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th>
                <a ng-click="$ctrl.changeOrderBy('ModTime')">
                  Last modification
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'ModTime' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'ModTime' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!$ctrl.isRoot">
              <td colspan="4">
                <a ng-click="$ctrl.goToParent()"><i class="fa fa-level-up-alt space-right"></i>Go to parent</a>
              </td>
            </tr>
            <tr ng-repeat="item in ($ctrl.state.filteredDataSet = ($ctrl.dataset | filter:$ctrl.state.textFilter | orderBy:$ctrl.state.orderBy:$ctrl.state.reverseOrder))">
              <td>
                <span ng-if="item.edit">
                  <input
                    class="input-sm"
                    type="text"
                    ng-model="item.newName"
                    on-enter-key="$ctrl.rename({ name: item.Name, newName: item.newName }); item.edit = false"
                    auto-focus
                  />
                  <a class="interactive" ng-click="item.edit = false;"><i class="fa fa-times"></i></a>
                  <a class="interactive" ng-click="$ctrl.rename({name: item.Name, newName: item.newName}); item.edit = false;"><i class="fa fa-check-square"></i></a>
                </span>
                <span ng-if="!item.edit && item.Dir">
                  <a ng-click="$ctrl.browse({name: item.Name})"><i class="fa fa-folder space-right" aria-hidden="true"></i>{{ item.Name }}</a>
                </span>
                <span ng-if="!item.edit && !item.Dir"> <i class="fa fa-file space-right" aria-hidden="true"></i>{{ item.Name }} </span>
              </td>
              <td>{{ item.Size | humansize }}</td>
              <td>
                {{ item.ModTime | getisodatefromtimestamp }}
              </td>
              <td>
                <btn authorization="DockerAgentBrowseGet" class="btn btn-xs btn-primary space-right" ng-click="$ctrl.download({ name: item.Name })" ng-if="!item.Dir">
                  <i class="fa fa-download" aria-hidden="true"></i> Download
                </btn>
                <btn authorization="DockerAgentBrowseRename" class="btn btn-xs btn-primary space-right" ng-click="item.newName = item.Name; item.edit = true">
                  <i class="fa fa-edit" aria-hidden="true"></i> Rename
                </btn>
                <btn authorization="DockerAgentBrowseDelete" class="btn btn-xs btn-danger" ng-click="$ctrl.delete({ name: item.Name })">
                  <i class="fa fa-trash" aria-hidden="true"></i> Delete
                </btn>
              </td>
            </tr>
            <tr ng-if="!$ctrl.dataset">
              <td colspan="5" class="text-center text-muted">Loading...</td>
            </tr>
            <tr ng-if="$ctrl.state.filteredDataSet.length === 0">
              <td colspan="5" class="text-center text-muted">No files found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </rd-widget-body>
  </rd-widget>
</div>
