<div class="datatable">
  <rd-widget>
    <rd-widget-body classes="no-padding">
      <div class="toolBar">
        <div class="toolBarTitle vertical-center">
          <pr-icon icon="$ctrl.titleIcon" feather="true" class-name="'icon-nested-blue'" mode="'primary'"></pr-icon>
          {{ $ctrl.titleText }}
        </div>
        <div class="searchBar vertical-center">
          <pr-icon icon="'search'" feather="true"></pr-icon>
          <input
            type="text"
            class="searchInput"
            ng-model="$ctrl.state.textFilter"
            ng-model-options="{ debounce: 300 }"
            ng-change="$ctrl.onTextFilterChange()"
            placeholder="Search..."
            auto-focus
          />
        </div>
        <file-uploader authorization="DockerAgentBrowsePut" ng-if="$ctrl.isUploadAllowed" on-file-selected="($ctrl.onFileSelectedForUpload)"> </file-uploader>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a ng-click="$ctrl.changeOrderBy('Name')">
                  Name
                  <pr-icon icon="'arrow-down'" feather="true" ng-if="$ctrl.state.orderBy === 'Name' && !$ctrl.state.reverseOrder"></pr-icon>
                  <pr-icon icon="'arrow-up'" feather="true" ng-if="$ctrl.state.orderBy === 'Name' && $ctrl.state.reverseOrder"></pr-icon>
                </a>
              </th>
              <th>
                <a ng-click="$ctrl.changeOrderBy('Size')">
                  Size
                  <pr-icon icon="'arrow-down'" feather="true" ng-if="$ctrl.state.orderBy === 'Size' && !$ctrl.state.reverseOrder"></pr-icon>
                  <pr-icon icon="'arrow-up'" feather="true" ng-if="$ctrl.state.orderBy === 'Size' && $ctrl.state.reverseOrder"></pr-icon>
                </a>
              </th>
              <th>
                <a ng-click="$ctrl.changeOrderBy('ModTime')">
                  Last modification
                  <pr-icon icon="'arrow-down'" feather="true" ng-if="$ctrl.state.orderBy === 'ModTime' && !$ctrl.state.reverseOrder"></pr-icon>
                  <pr-icon icon="'arrow-up'" feather="true" ng-if="$ctrl.state.orderBy === 'ModTime' && $ctrl.state.reverseOrder"></pr-icon>
                </a>
              </th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!$ctrl.isRoot">
              <td colspan="4">
                <a ng-click="$ctrl.goToParent()"><pr-icon icon="'corner-left-up'" feather="true"></pr-icon>Go to parent</a>
              </td>
            </tr>
            <tr ng-repeat="item in ($ctrl.state.filteredDataSet = ($ctrl.dataset | filter:$ctrl.state.textFilter | orderBy:$ctrl.state.orderBy:$ctrl.state.reverseOrder))">
              <td>
                <span ng-if="item.edit">
                  <input
                    class="input-sm"
                    type="text"
                    ng-model="item.newName"
                    on-enter-key="$ctrl.rename({ name: item.Name, newName: item.newName }); item.edit = false"
                    auto-focus
                  />
                  <a class="interactive" ng-click="item.edit = false;"><pr-icon icon="'x'" feather="true"></pr-icon></a>
                  <a class="interactive" ng-click="$ctrl.rename({name: item.Name, newName: item.newName}); item.edit = false;"
                    ><pr-icon icon="'check-square'" feather="true"></pr-icon
                  ></a>
                </span>
                <span ng-if="!item.edit && item.Dir">
                  <a ng-click="$ctrl.browse({name: item.Name})"><pr-icon icon="'folder'" feather="true" class-name="space-right"></pr-icon>{{ item.Name }}</a>
                </span>
                <span ng-if="!item.edit && !item.Dir"><pr-icon icon="'file'" feather="true" class-name="space-right"></pr-icon>{{ item.Name }} </span>
              </td>
              <td>{{ item.Size | humansize }}</td>
              <td>
                {{ item.ModTime | getisodatefromtimestamp }}
              </td>
              <td>
                <btn authorization="DockerAgentBrowseGet" class="btn btn-xs btn-secondary space-right" ng-click="$ctrl.download({ name: item.Name })" ng-if="!item.Dir">
                  <pr-icon icon="'download'" feather="true"></pr-icon> Download
                </btn>
                <btn authorization="DockerAgentBrowseRename" class="btn btn-xs btn-secondary space-right" ng-click="item.newName = item.Name; item.edit = true">
                  <pr-icon icon="'edit'" feather="true"></pr-icon> Rename
                </btn>
                <btn authorization="DockerAgentBrowseDelete" class="btn btn-xs btn-dangerlight" ng-click="$ctrl.delete({ name: item.Name })">
                  <pr-icon icon="'trash-2'" feather="true"></pr-icon> Delete
                </btn>
              </td>
            </tr>
            <tr ng-if="!$ctrl.dataset">
              <td colspan="5" class="text-center text-muted">Loading...</td>
            </tr>
            <tr ng-if="$ctrl.state.filteredDataSet.length === 0">
              <td colspan="5" class="text-center text-muted">No files found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </rd-widget-body>
  </rd-widget>
</div>
