.menu-icon {
  padding-right: 30px;
  width: 70px;
  line-height: 36px;
}

@media (max-height: 785px) {
  .menu-icon {
    line-height: 26px;
  }
}

@media (min-height: 786px) and (max-height: 924px) {
  .menu-icon {
    line-height: 30px;
  }
}
