.sidebar-menu-head {
  position: relative;
}

.sidebar-menu-head .sidebar-menu-indicator {
  background: none;
  border: 0;
  width: fit-content;
  height: fit-content;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 25%;
}

.items {
  padding: 0;
}

.items > * {
  text-indent: 35px;
}
