.sidebar-menu-item {
  text-indent: 25px;
}

.sidebar-menu-item a {
  padding-left: 5px;
  border-left: 3px solid transparent;
  font-size: 14px;

  line-height: 36px;
  letter-spacing: -0.03em;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
  width: 250px;
}

.sidebar-menu-item a {
  color: var(--grey-56);
}
:global(:root[theme='dark']) .sidebar-menu-item a {
  color: var(--white-color);
}
:global(:root[theme='highcontrast']) .sidebar-menu-item a {
  color: var(--white-color);
}
:global(:root[data-edition='BE']) .sidebar-menu-item a {
  color: var(--white-color);
}
:global(:root[data-edition='BE'][theme='dark']) .sidebar-menu-item a {
  color: var(--white-color);
}
:global(:root[data-edition='BE'][theme='highcontrast']) .sidebar-menu-item a {
  color: var(--white-color);
}

@media (max-height: 785px) {
  .sidebar-menu-item a {
    font-size: 12px;
    line-height: 26px;
  }
}

@media (min-height: 786px) and (max-height: 924px) {
  .sidebar-menu-item a {
    font-size: 12px;
    line-height: 30px;
  }
}

.sidebar-menu-item a:hover {
  color: #fff;
  border-left-color: #e99d1a;
}

.sidebar-menu-item a:hover {
  background-color: var(--grey-37);
}
:global(:root[theme='dark']) .sidebar-menu-item a:hover {
  background-color: var(--grey-3);
}
:global(:root[theme='highcontrast']) .sidebar-menu-item a:hover {
  background-color: var(--black-color);
}
:global(:root[data-edition='BE']) .sidebar-menu-item a:hover {
  background-color: var(--grey-34);
}
:global(:root[data-edition='BE'][theme='dark']) .sidebar-menu-item a:hover {
  background-color: var(--grey-3);
}
:global(:root[data-edition='BE'][theme='highcontrast']) .sidebar-menu-item a:hover {
  background-color: var(--black-color);
}
