<div>
  <label for="image_name" class="col-sm-1 control-label text-left">Name</label>
  <div class="col-sm-11 col-md-6">
    <input type="text" class="form-control" uib-typeahead="image for image in $ctrl.availableImages | filter:$viewValue | limitTo:5"
      ng-model="$ctrl.image" id="image_name" placeholder="e.g. myImage:myTag">
  </div>
  <label for="image_registry" class="col-sm-2 col-md-1 margin-sm-top control-label text-left">
    Registry
  </label>
  <div class="col-sm-10 col-md-4 margin-sm-top">
    <select ng-options="registry as registry.Name for registry in $ctrl.availableRegistries" ng-model="$ctrl.registry" id="image_registry"
      class="form-control"></select>
  </div>
</div>