<page-header title="'Environment group details'" breadcrumbs="[{label:'Groups', link:'portainer.groups'}, group.Name]"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <group-form
          loaded="loaded"
          model="group"
          associated-endpoints="associatedEndpoints"
          form-action="update"
          form-action-label="Update the group"
          action-in-progress="state.actionInProgress"
          on-change-environments="(onChangeEnvironments)"
        ></group-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
