<rd-header>
  <rd-header-title title="Home">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>Dashboard</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-xs-12 col-md-6" ng-if="!stats.ActiveSwarms">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon yellow pull-left">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
          <div class="title">Discovering swarms...</div>
          <div class="comment">Please wait a few moments, or check connection to provider VPC</div>
        </rd-widget-body>
      </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6" ng-if="stats.ActiveSwarms">
    <a ui-sref="infra">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon yellow pull-left">
            <i class="fa fa-play"></i>
          </div>
          <div class="title">{{ stats.ActiveSwarms }}</div>
          <div class="comment">Active Swarms</div>
        </rd-widget-body>
      </rd-widget>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6" ng-if="stats.ManagerCount">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-star"></i>
          </div>
          <div class="pull-right">
            <div><i class="fa fa-heartbeat space-right green-icon"></i>{{ stats.ActiveManagerCount }} running</div>
          </div>
          <div class="title">{{ stats.ManagerCount }}</div>
          <div class="comment">Managers</div>
        </rd-widget-body>
      </rd-widget>
  </div>
  <div class="col-xs-12 col-md-6" ng-if="stats.WorkerCount">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-user"></i>
          </div>
          <div class="pull-right">
            <div><i class="fa fa-heartbeat space-right green-icon"></i>{{ stats.ActiveWorkerCount }} running</div>
          </div>
          <div class="title">{{ stats.WorkerCount }}</div>
          <div class="comment">Workers</div>
        </rd-widget-body>
      </rd-widget>
  </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6" ng-if="stats.OSLinuxCount">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon green pull-left">
            <i class="fa fa-linux"></i>
          </div>
          <div class="title">{{ stats.OSLinuxCount }}</div>
          <div class="comment">Linux Systems</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-xs-12 col-md-6" ng-if="stats.OSWindowsCount">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon green pull-left">
            <i class="fa fa-windows"></i>
          </div>
          <div class="title">{{ stats.OSWindowsCount }}</div>
          <div class="comment">Windows Systems</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-xs-12 col-md-6" ng-if="stats.OSOtherCount">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon green pull-left">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="title">{{ stats.OSOtherCount }}</div>
          <div class="comment">Other OS</div>
        </rd-widget-body>
      </rd-widget>
    </div>
</div>
