<label style="display: flex; align-items: center; margin: 0;">
  <por-switch
    class-name="space-right"
    name="toggle_{{::$ctrl.name}}"
    id="toggle_{{::$ctrl.name}}"
    ng-model="$ctrl.ngModel"
    disabled="$ctrl.disabled"
    on-change="($ctrl.onChange)"
  ></por-switch>
  <span for="toggle_{{::$ctrl.name}}" class="control-label text-left space-left" style="padding: 0;">
    {{::$ctrl.label}}
    <portainer-tooltip ng-if="$ctrl.tooltip" position="bottom" message="{{::$ctrl.tooltip}}"></portainer-tooltip>
  </span>
</label>
