<rd-header>
  <rd-header-title title-text="Event list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.events" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Events</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <events-datatable title-text="Events" title-icon="fa-history" dataset="events" table-key="events" order-by="Time" reverse-order="true"></events-datatable>
  </div>
</div>
