<div class="col-lg-12">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Containers">
    </rd-widget-header>
    <rd-widget-taskbar classes="col-lg-12">
      <div class="pull-left">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Start</button>
          <button type="button" class="btn btn-default">Stop</button>
          <button type="button" class="btn btn-default">Restart</button>
          <button type="button" class="btn btn-default">Kill</button>
          <button type="button" class="btn btn-default">Pause</button>
          <button type="button" class="btn btn-default">Unpause</button>
          <button type="button" class="btn btn-default">Remove</button>
        </div>
      </div>
      <div class="pull-right">
        <input type="checkbox" ng-model="state.displayAll" id="displayAll" ng-change="toggleGetAll()"/><label for="displayAll">Display All</label>
        <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control input-sm" />
      </div>
    </rd-widget-taskbar>
    <rd-widget-body classes="no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><label><input type="checkbox" ng-model="state.toggle" ng-change="toggleSelectAll()" /> Select</label></th>
              <th>
                <a href="#/containers/" ng-click="order('Names')">
                  Name
                  <span ng-show="sortType == 'Names' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Names' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a href="#/containers/" ng-click="order('Image')">
                  Image
                  <span ng-show="sortType == 'Image' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Image' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a href="#/containers/" ng-click="order('Command')">
                  Command
                  <span ng-show="sortType == 'Command' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Command' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a href="#/containers/" ng-click="order('Created')">
                  Created
                  <span ng-show="sortType == 'Created' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Created' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a href="#/containers/" ng-click="order('Status')">
                  Status
                  <span ng-show="sortType == 'Status' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Status' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="container in (state.filteredContainers = ( containers | filter:state.filter | orderBy:sortType:sortReverse))">
              <td><input type="checkbox" ng-model="container.Checked" /></td>
              <td><a href="#/containers/{{ container.Id }}/">{{ container|containername}}</a></td>
              <td><a href="#/images/{{ container.Image }}/">{{ container.Image }}</a></td>
              <td>{{ container.Command|truncate:40 }}</td>
              <td>{{ container.Created|getdate }}</td>
              <td><span class="label label-{{ container.Status|statusbadge }}">{{ container.Status }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </rd-widget-body>
  <rd-widget>
</div>
