<rd-header>
  <rd-header-title title-text="Container Instance"></rd-header-title>
  <rd-header-content> <a ui-sref="azure.containerinstances">Container instances</a> &gt; {{ $ctrl.container.Name }} </rd-header-content>
</rd-header>

<div class="row" ng-if="!$ctrl.state.loading">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <div class="form-horizontal" autocomplete="off">
          <div class="col-sm-12 form-section-title"> Azure settings </div>
          <!-- subscription-input -->
          <div class="form-group">
            <label for="azure_subscription" class="col-sm-2 control-label text-left">Subscription</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.subscription.Name" disabled />
            </div>
          </div>
          <!-- !subscription-input -->
          <!-- resourcegroup-input -->
          <div class="form-group">
            <label for="azure_resourcegroup" class="col-sm-2 control-label text-left">Resource group</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.resourceGroup.Name" disabled />
            </div>
          </div>
          <!-- !resourcegroup-input -->
          <!-- location-input -->
          <div class="form-group">
            <label for="azure_location" class="col-sm-2 control-label text-left">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.Location" disabled />
            </div>
          </div>
          <!-- !location-input -->
          <div class="col-sm-12 form-section-title"> Container configuration </div>
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-2 control-label text-left">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.Name" disabled />
            </div>
          </div>
          <!-- !name-input -->
          <!-- image-input -->
          <div class="form-group">
            <label for="image_name" class="col-sm-2 control-label text-left">Image</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.Image" disabled />
            </div>
          </div>
          <!-- !image-input -->
          <!-- os-input -->
          <div class="form-group">
            <label for="container_os" class="col-sm-2 control-label text-left">OS</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.OSType" disabled />
            </div>
          </div>
          <!-- !os-input -->
          <!-- port-mapping -->
          <div class="form-group" ng-if="$ctrl.container.Ports.length > 0">
            <div class="col-sm-12">
              <label class="control-label text-left">Port mapping</label>
            </div>
            <!-- port-mapping-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="binding in $ctrl.container.Ports" style="margin-top: 2px">
                <!-- host-port -->
                <div class="input-group col-sm-4 input-group-sm">
                  <span class="input-group-addon">host</span>
                  <input type="text" class="form-control" ng-model="binding.host" placeholder="e.g. 80" disabled />
                </div>
                <!-- !host-port -->
                <span style="margin: 0 10px 0 10px">
                  <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
                </span>
                <!-- container-port -->
                <div class="input-group col-sm-4 input-group-sm">
                  <span class="input-group-addon">container</span>
                  <input type="text" class="form-control" ng-model="binding.container" placeholder="e.g. 80" disabled />
                </div>
                <!-- !container-port -->
                <!-- protocol-actions -->
                <div class="input-group col-sm-3 input-group-sm">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-primary" ng-model="binding.protocol" uib-btn-radio="'TCP'" disabled>TCP</label>
                    <label class="btn btn-primary" ng-model="binding.protocol" uib-btn-radio="'UDP'" disabled>UDP</label>
                  </div>
                </div>
                <!-- !protocol-actions -->
              </div>
            </div>
            <!-- !port-mapping-input-list -->
          </div>
          <!-- !port-mapping -->
          <!-- public-ip -->
          <div class="form-group" ng-if="$ctrl.container.AllocatePublicIP">
            <label for="public_ip" class="col-sm-2 control-label text-left"> Public IP </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.IPAddress" disabled />
            </div>
          </div>
          <!-- public-ip -->
          <div class="col-sm-12 form-section-title"> Container resources </div>
          <!-- cpu-input -->
          <div class="form-group">
            <label for="container_cpu" class="col-sm-2 control-label text-left">CPU</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.CPU" disabled />
            </div>
          </div>
          <!-- !cpu-input -->
          <!-- memory-input -->
          <div class="form-group">
            <label for="container_memory" class="col-sm-2 control-label text-left">Memory</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="$ctrl.container.Memory" disabled />
            </div>
          </div>
          <!-- !memory-input -->
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>

  <access-control-panel
    ng-if="$ctrl.container"
    resource-id="$ctrl.container.Id"
    resource-control="$ctrl.container.ResourceControl"
    resource-type="$ctrl.resourceType"
    on-update-success="($ctrl.onUpdateSuccess)"
  ></access-control-panel>
</div>
