{{#if addStyles}}
import styles from './{{pascalCase name}}.module.css';

{{/if}}
interface Props {

}

export function {{pascalCase name}}({}: Props) {
  return <div{{#if addStyles}} className={styles.root}{{/if}}>{{name}}</div>
}