<form class="form-horizontal" style="margin-top: 15px;">
  <div class="col-sm-12 form-section-title">
    Container capabilities
  </div>
  <div class="form-group">
    <div ng-repeat="cap in $ctrl.capabilities">
      <div class="col-xs-8 col-sm-3 col-md-2">
        <label for="capability" class="control-label text-left">
          {{ cap.capability }}
          <portainer-tooltip position="bottom" message="{{ cap.description }}"></portainer-tooltip>
        </label>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <label class="switch" style="margin-left: 20px;">
            <input type="checkbox" name="capability" ng-model="cap.allowed"><i></i>
        </label>
      </div>
      <div class="col-xs-0 col-sm-1 col-md-1">
      </div>
    </div>
  </div>
</form>