<page-header title="'docker_features.title' | i18n" breadcrumbs="['docker_features.breadcrumb' | i18n]"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.form">
          <div class="col-sm-12 form-section-title"> {{ 'docker_features.host_filesystem' | i18n }} </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small vertical-center">
              <pr-icon icon="'info'" mode="'primary'" class-name="'space-right'"></pr-icon>
              <span class="text-muted"
                >{{ 'docker_features.agent_info_prefix' | i18n }} <a href="https://docs.portainer.io/start/agent">{{ 'docker_features.agent_info_link' | i18n }}</a> {{ 'docker_features.agent_info_mid' | i18n }} <b>/host</b> {{ 'docker_features.agent_info_mid2' | i18n }}
                <a href="https://docs.portainer.io/user/docker/host/setup#enable-host-management-features">{{ 'docker_features.agent_info_doc_link' | i18n }}</a> {{ 'docker_features.agent_info_suffix' | i18n }}</span
              >
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.enableHostManagementFeatures"
                name="'enableHostManagementFeatures'"
                label="'docker_features.enable_host_management' | i18n"
                tooltip="'docker_features.enable_host_management_tooltip' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                disabled="!$ctrl.isAgent"
                on-change="($ctrl.onChangeEnableHostManagementFeatures)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.allowVolumeBrowserForRegularUsers"
                name="'allowVolumeBrowserForRegularUsers'"
                label="'docker_features.enable_volume_management' | i18n"
                tooltip="'docker_features.enable_volume_management_tooltip' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeAllowVolumeBrowserForRegularUsers)"
                disabled="!$ctrl.isAgent"
              ></por-switch-field>
            </div>
          </div>
          <!-- auto update window -->
          <div class="col-sm-12 form-section-title"> {{ 'docker_features.change_window_section' | i18n }} </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.state.autoUpdateSettings.Enabled"
                name="'disableSysctlSettingForRegularUsers'"
                label="'docker_features.enable_change_window' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                feature-id="$ctrl.limitedFeatureAutoUpdate"
                tooltip="'docker_features.change_window_tooltip' | i18n"
                on-change="($ctrl.onToggleAutoUpdate)"
              >
              </por-switch-field>
            </div>
          </div>

          <!-- security -->
          <div class="col-sm-12 form-section-title"> {{ 'docker_features.security_section' | i18n }} </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableBindMountsForRegularUsers"
                name="'disableBindMountsForRegularUsers'"
                label="'docker_features.hide_bind_mounts' | i18n"
                tooltip="'docker_features.hide_bind_mounts_tooltip' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableBindMountsForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disablePrivilegedModeForRegularUsers"
                name="'disablePrivilegedModeForRegularUsers'"
                label="'docker_features.hide_privileged_mode' | i18n"
                tooltip="'docker_features.hide_privileged_mode_tooltip' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisablePrivilegedModeForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableHostNamespaceForRegularUsers"
                name="'disableHostNamespaceForRegularUsers'"
                label="'docker_features.hide_host_pid' | i18n"
                tooltip="'docker_features.hide_host_pid_tooltip' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableHostNamespaceForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableStackManagementForRegularUsers"
                name="'disableStackManagementForRegularUsers'"
                label="'docker_features.hide_stacks' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableStackManagementForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableDeviceMappingForRegularUsers"
                name="'disableDeviceMappingForRegularUsers'"
                label="'docker_features.hide_device_mappings' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableDeviceMappingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableContainerCapabilitiesForRegularUsers"
                name="'disableContainerCapabilitiesForRegularUsers'"
                label="'docker_features.hide_container_capabilities' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableContainerCapabilitiesForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableSysctlSettingForRegularUsers"
                name="'disableSysctlSettingForRegularUsers'"
                label="'docker_features.hide_sysctl' | i18n"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableSysctlSettingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableSecurityOptForRegularUsers"
                name="'disableSecurityOptForRegularUsers'"
                label="'Hide security-opt for non-administrators'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableSecurityOptForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.isContainerEditDisabled()">
            <span class="col-sm-12 text-muted small">
              <pr-icon icon="'info'" mode="'primary'" class-name="'mr-0.5'"></pr-icon>
              {{ 'docker_features.recreate_note' | i18n }}
            </span>
          </div>
          <!-- !security -->

          <!-- other -->
          <div class="col-sm-12 form-section-title"> {{ 'docker_features.other_section' | i18n }} </div>
          <div class="form-group">
            <div class="col-sm-12" ng-if="!$ctrl.isDockerStandaloneEnv">
              <text-tip children="'docker_features.gpu_standalone_tip' | i18n" color="'blue'" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label="'docker_features.show_gpu' | i18n"
                tooltip="'docker_features.show_gpu_tooltip' | i18n"
                checked="$ctrl.state.enableGPUManagement"
                name="'enableGPUManagement'"
                on-change="($ctrl.onToggleGPUManagement)"
                label-class="'col-sm-7 col-lg-4'"
                disabled="!$ctrl.isDockerStandaloneEnv"
              ></por-switch-field>
            </div>

            <div ng-if="$ctrl.state.enableGPUManagement">
              <div class="col-sm-12">
                <text-tip children="'docker_features.gpu_nvidia_tip' | i18n" color="'blue'" />
              </div>
              <div class="col-sm-12">
                <div class="pl-4">
                  <gpus-list ng-if="$ctrl.state.enableGPUManagement" value="$ctrl.endpoint.Gpus" on-change="($ctrl.onGpusChange)"></gpus-list>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label="'docker_features.show_image_indicators' | i18n"
                checked="false"
                name="'outOfDateImageToggle'"
                label-class="'col-sm-7 col-lg-4'"
                feature-id="$ctrl.limitedFeatureUpToDateImage"
              ></por-switch-field>
            </div>
          </div>
          <!-- !other -->

          <!-- actions -->
          <div class="col-sm-12 form-section-title"> {{ 'docker_features.actions_section' | i18n }} </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm !ml-0"
                ng-click="$ctrl.save()"
                ng-disabled="$ctrl.state.actionInProgress"
                button-spinner="$ctrl.state.actionInProgress"
              >
                <span ng-hide="$ctrl.state.actionInProgress">{{ 'docker_features.save_configuration' | i18n }}</span>
                <span ng-show="$ctrl.state.actionInProgress">{{ 'docker_features.saving' | i18n }}</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
