<page-header title="'Registries'" breadcrumbs="['Registry management']" reload="true"> </page-header>

<information-panel title-text="Information">
  <span class="small text-muted"> View registries via an environment to manage access for user(s) and/or team(s) </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <registries-datatable
      title-text="Registries"
      title-icon="radio"
      dataset="registries"
      table-key="registries"
      order-by="Name"
      remove-action="removeAction"
      can-browse="canBrowse"
    ></registries-datatable>
  </div>
</div>
