<rd-header>
  <rd-header-title title-text="Registries">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.registries" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Registry management</rd-header-content>
</rd-header>

<information-panel title-text="Information">
  <span class="small text-muted"> View registries via an environment to manage access for user(s) and/or team(s) </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <registries-datatable
      title-text="Registries"
      title-icon="fa-database"
      dataset="registries"
      table-key="registries"
      order-by="Name"
      remove-action="removeAction"
      can-browse="canBrowse"
    ></registries-datatable>
  </div>
</div>
