.btn-only-icon {
  padding: 6px;
}

.btn-only-icon pr-icon {
  margin-top: 0;
}

.service-form .form-group {
  vertical-align: top;
}

.service-form .form-group .input-group {
  width: 100%;
}

.service-form .clear-both {
  clear: both;
}
