<li class="sidebar-list">
  <a ui-sref="kubernetes.dashboard" ui-sref-active="active">Dashboard <span class="menu-icon fa fa-tachometer-alt fa-fw"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.namespaces" ui-sref-active="active">Namespaces <span class="menu-icon fas fa-layer-group"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.services" ui-sref-active="active">Services <span class="menu-icon fa fa-list-alt fa-fw"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.containers" ui-sref-active="active">Containers <span class="menu-icon fa fa-server fa-fw"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.configs" ui-sref-active="active">Configs <span class="menu-icon fa fa-file-code fa-fw"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.secrets" ui-sref-active="active">Secrets <span class="menu-icon fa fa-user-secret fa-fw"></span></a>
</li>
<li class="sidebar-list">
  <a ui-sref="kubernetes.nodes" ui-sref-active="active">Nodes <span class="menu-icon fa fa-hdd fa-fw"></span></a>
</li>
