<page-header title="'Create edge group'" breadcrumbs="[{label:'Edge groups', link:'edge.groups'}, 'Add edge group']"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <edge-group-form
          loaded="$ctrl.state.loaded"
          page-type="create"
          form-action-label="Add edge group"
          form-action="$ctrl.createGroup"
          groups="$ctrl.endpointGroups"
          model="$ctrl.model"
        ></edge-group-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
