<information-panel title-text="Advanced deployment">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      Advanced deployment allows you to deploy any Kubernetes manifest inside your cluster.
    </p>
    <p>
      <button type="button" class="btn btn-sm btn-primary" ui-sref="kubernetes.deploy"> <i class="fa fa-file-code space-right" aria-hidden="true"></i>Advanced deployment </button>
    </p>
  </span>
</information-panel>
