<rd-header>
  <rd-header-title title-text="Node details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.nodes.node" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="kubernetes.nodes">Nodes</a> &gt; <a ui-sref="kubernetes.nodes.node" ui-sref-opts="{reload: true}">{{ ctrl.node.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-hdd" title-text="Node status">
        <span class="btn-group btn-group-sm">
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'conditions'"><i class="fa fa-heartbeat space-right" aria-hidden="true"></i>Conditions</label>
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'events'"><i class="fa fa-history space-right" aria-hidden="true"></i>Events</label>
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'yaml'"><i class="fa fa-code space-right" aria-hidden="true"></i>Yaml</label>
        </span>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody ng-if="!ctrl.node"><tr><td class="text-center text-muted">Loading...</td></tr></tbody>
          <tbody ng-if="ctrl.node">
            <tr>
              <td>Hostname</td>
              <td>{{ ctrl.node.Name }}</td>
            </tr>
            <tr>
              <td>OS Information</td>
              <td>{{ ctrl.node.OS.Platform }}/{{ ctrl.node.OS.Architecture }}&nbsp;&nbsp;&nbsp;({{ ctrl.node.OS.Image }})</td>
            </tr>
            <tr>
              <td>Total CPU</td>
              <td>{{ ctrl.node.CPU }}</td>
            </tr>
            <tr>
              <td>Total Memory</td>
              <td>{{ ctrl.node.Memory }}</td>
            </tr>
            <tr>
              <td>Kubelet version</td>
              <td>{{ ctrl.node.Version }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td><span class="label label-{{ctrl.node.Status | kubernetesNodeStatusColor}}">{{ ctrl.node.Status }}</span></td>
            </tr>
            <tr>
              <td>Role</td>
              <td>{{ ctrl.node.Role }}</td>
            </tr>
            <tr>
              <td>Creation date</td>
              <td>{{ ctrl.node.CreatedAt | getisodate }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'conditions'">
  <div class="col-sm-12">
    <kubernetes-node-conditions-datatable
    title-text="Node conditions" title-icon="fa-heartbeat"
    dataset="ctrl.node.Conditions" table-key="kubernetes.node.conditions"
    order-by="Type"
    loading="ctrl.state.dataLoading"
    ></kubernetes-node-conditions-datatable>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'events'">
  <div class="col-sm-12">
    <kubernetes-events-datatable
    title-text="Events" title-icon="fa-history"
    dataset="ctrl.events" table-key="kubernetes.node.events"
    order-by="Date"
    reverse-order="true"
    loading="ctrl.state.eventsLoading"
    refresh-callback="ctrl.getEvents"
    ></kubernetes-events-datatable>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'yaml'">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-code" title-text="Inspect"></rd-widget-header>
      <rd-widget-body>
        <pre>{{ ctrl.node.Yaml }}</pre>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>