<rd-header>
  <rd-header-title title-text="Services list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.services" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Services</rd-header-content>
</rd-header>

<div class="row" ng-if="ctrl.deployments">
  <div class="col-sm-12">
    <kubernetes-deployments-datatable
    title-text="Deployments" title-icon="fa-list-alt"
    dataset="ctrl.deployments" table-key="kubernetes.deployments"
    order-by="Name" 
    refresh-callback="ctrl.getAll"
    ></kubernetes-deployments-datatable>
  </div>
</div>
