<rd-header>
  <rd-header-title title="Service logs"></rd-header-title>
  <rd-header-content>
    <a ui-sref="services">Services</a> &gt; <a ui-sref="service({id: service.Id})">{{ service.Name }}</a> &gt; Logs
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-list-alt"></i>
        </div>
        <div class="title">{{ service.Name }}</div>
        <div class="comment">Name</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<logs-view id="ServiceId" type="'service'"></logs-view>
