<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ containerName }}</div>
        <div class="comment">
          Name
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="CPU usage"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <canvas id="cpu-stats-chart" width="770" height="230"></canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Memory usage"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <canvas id="memory-stats-chart" width="770" height="230"></canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Network usage"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <canvas id="network-stats-chart" width="770" height="230"></canvas>
        <div class="comment">
          <div id="network-legend" style="margin-bottom: 20px;"></div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
