<div class="row">
    <div class="col-xs-12">
        <h1>Stats</h1>
        <h2>CPU Usage</h2>
        <div class="row">
            <div class="col-sm-8">
                <canvas id="cpu-stats-chart" width="700" height="300"></canvas>
            </div>
            <div class="col-sm-4">
                <h3>Other CPU usage data</h3>
                <p>TODO</p>
            </div>
        </div>
        <h2>Memory</h2>
        <div class="row">
            <div class="col-sm-8">
                <canvas id="memory-stats-chart" width="700" height="300"></canvas>
            </div>
            <div class="col-sm-4">
                <h3>Other Memory Stats</h3>
                <p>TODO</p>
            </div>
        </div>
    </div>
</div>
