<div>
  <div class="col-sm-12 form-section-title"> Azure configuration </div>
  <!-- applicationId-input -->
  <div class="form-group">
    <label for="azure_credential_appid" class="col-sm-3 col-lg-2 control-label text-left">Application ID</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="azure_credential_appid" ng-model="$ctrl.applicationId" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" required />
    </div>
  </div>
  <!-- !applicationId-input -->
  <!-- tenantId-input -->
  <div class="form-group">
    <label for="azure_credential_tenantid" class="col-sm-3 col-lg-2 control-label text-left">Tenant ID</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="azure_credential_tenantid" ng-model="$ctrl.tenantId" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" required />
    </div>
  </div>
  <!-- !tenantId-input -->
  <!-- authenticationkey-input -->
  <div class="form-group">
    <label for="azure_credential_authkey" class="col-sm-3 col-lg-2 control-label text-left">Authentication key</label>
    <div class="col-sm-9 col-lg-10">
      <input
        type="text"
        class="form-control"
        name="azure_credential_authkey"
        ng-model="$ctrl.authenticationKey"
        placeholder="cOrXoK/1D35w8YQ8nH1/8ZGwzz45JIYD5jxHKXEQknk="
        required
      />
    </div>
  </div>
  <!-- !authenticationkey-input -->
</div>
