<rd-header>
  <rd-header-title title="Stack details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="stack({name: stack.Name})" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="stacks">Stacks</a> > <a ui-sref="stack({name: stack.Name})">{{ stack.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-list-alt" title="Stack details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <!--<td ng-if="!service.EditName">-->
              <td>
                {{ stack.Name }}
                <!--<button class="btn btn-xs btn-danger" ng-click="removeStack()"><i class="fa fa-trash space-right" aria-hidden="true"></i>Delete this stack</button>-->
                <!--<a href="" data-toggle="tooltip" title="Edit service name" ng-click="service.EditName = true;"><i class="fa fa-edit"></i></a>-->
              </td>
              <!--<td ng-if="service.EditName">
                <input type="text" class="containerNameInput" ng-model="service.newServiceName">
                <a class="interactive" ng-click="service.EditName = false;"><i class="fa fa-times"></i></a>
                <a class="interactive" ng-click="renameService(service)"><i class="fa fa-check-square-o"></i></a>
              </td>-->
            </tr>
            <tr>
              <td>Services</td>
              <td>{{ stack.Items }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
      <rd-widget-footer ng-if="service.hasChanges">
        <div>
            <button type="button" class="btn btn-primary" ng-click="updateService(service)">Save changes</button>
            <button type="button" class="btn btn-default" ng-click="cancelChanges(service)">Reset</button>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="services.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Associated services">
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count_services" ng-change="changePaginationCountServices()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a ui-sref="stack" ng-click="orderServices('Name')">
                  Name
                  <span ng-show="sortServicesType == 'Name' && !sortServicesReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortServicesType == 'Name' && sortServicesReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="stack" ng-click="orderServices('Image')">
                  Image
                  <span ng-show="sortServicesType == 'Image' && !sortServicesReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortServicesType == 'Image' && sortServicesReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="stack" ng-click="orderServices('Mode')">
                  Mode
                  <span ng-show="sortServicesType == 'Mode' && !sortServicesReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortServicesType == 'Mode' && sortServicesReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="service in (filteredServices = ( services | orderBy:sortServicesType:sortServicesReverse | itemsPerPage: state.pagination_count_services))">
              <td><a ui-sref="service({id: service.Id})">{{ service.Name }}</a></td>
              <td>{{ service.Image | hideshasum }}</td>
              <td>
                {{ service.Mode }}
                <code data-toggle="tooltip" title="Replicas">{{ service.Running }}</code>
                /
                <code data-toggle="tooltip" title="Replicas">{{ service.Replicas }}</code>
                <span ng-if="service.Mode === 'replicated' && !service.Scale">
                  <a class="interactive" ng-click="service.Scale = true; service.ReplicaCount = service.Replicas;"><i class="fa fa-arrows-v" aria-hidden="true"></i> Scale</a>
                </span>
                <span ng-if="service.Mode === 'replicated' && service.Scale">
                  <input class="input-sm" type="number" ng-model="service.Replicas" />
                  <a class="interactive" ng-click="service.Scale = false;"><i class="fa fa-times"></i></a>
                  <a class="interactive" ng-click="scaleService(service)"><i class="fa fa-check-square-o"></i></a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="services" class="pagination-controls">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="tasks.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div id="service-tasks" class="padding-top" ng-include="'app/components/service/includes/tasks.html'"></div>
  </div>
</div>
