<page-header title="'docker_services.details_title' | i18n" breadcrumbs="[{label:'docker.services' | i18n, link:'docker.services'}, service.Name]" reload="true"> </page-header>

<div ng-if="!isLoading">
  <div class="row">
    <div ng-if="isUpdating" class="col-lg-12 col-md-12 col-xs-12">
      <div class="alert alert-info" role="alert" id="service-update-alert">
        <p>{{ 'docker_services.update_alert' | i18n }}</p>
        <a ui-sref="docker.services.service({id: service.Id}, {reload: true})">{{ 'docker_services.update_alert_refresh' | i18n }}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-xs-9">
      <rd-widget>
        <rd-widget-header icon="shuffle" title-text="{{ 'docker_services.details_header' | i18n }}"></rd-widget-header>
        <rd-widget-body classes="no-padding">
          <table class="table">
            <tbody>
              <tr>
                <td class="w-1/5">{{ 'docker_services.name' | i18n }}</td>
                <td ng-if="applicationState.endpoint.apiVersion <= 1.24">
                  <input
                    type="text"
                    class="form-control"
                    ng-model="service.Name"
                    ng-change="updateServiceAttribute(service, 'Name')"
                    ng-disabled="isUpdating"
                    data-cy="docker-service-edit-name"
                  />
                </td>
                <td ng-if="applicationState.endpoint.apiVersion >= 1.25"> {{ service.Name }} </td>
              </tr>
              <tr>
                <td>{{ 'docker_services.id' | i18n }}</td>
                <td> {{ service.Id }} </td>
              </tr>
              <tr ng-if="service.CreatedAt">
                <td>{{ 'docker_services.created_at' | i18n }}</td>
                <td>{{ service.CreatedAt | getisodate }}</td>
              </tr>
              <tr ng-if="service.UpdatedAt">
                <td>{{ 'docker_services.last_updated_at' | i18n }}</td>
                <td>{{ service.UpdatedAt | getisodate }}</td>
              </tr>
              <tr ng-if="service.Version">
                <td>{{ 'docker_services.version' | i18n }}</td>
                <td>{{ service.Version }}</td>
              </tr>
              <tr>
                <td>{{ 'docker_services.scheduling_mode' | i18n }}</td>
                <td>{{ service.Mode }}</td>
              </tr>
              <tr ng-if="service.Mode === 'replicated'">
                <td>{{ 'docker_services.replicas' | i18n }}</td>
                <td>
                  <span ng-if="service.Mode === 'replicated'">
                    <input
                      class="input-sm"
                      type="number"
                      data-cy="docker-service-edit-replicas-input"
                      ng-model="service.Replicas"
                      ng-change="updateServiceAttribute(service, 'Replicas')"
                      disable-authorization="DockerServiceUpdate"
                    />
                  </span>
                </td>
              </tr>
              <tr>
                <td>{{ 'common.image' | i18n }}</td>
                <td>{{ service.Image }}</td>
              </tr>
              <tr ng-if="isAdmin && applicationState.endpoint.type !== 4">
                <td>
                  <div class="inline-flex items-center">
                    <div> {{ 'docker_services.service_webhook' | i18n }} </div>
                    <portainer-tooltip
                      message="'docker_services.webhook_tooltip' | i18n"
                    >
                    </portainer-tooltip>
                  </div>
                </td>
                <td>
                  <div class="flex flex-wrap items-center">
                    <por-switch-field
                      label-class="'!mr-0'"
                      checked="WebhookExists"
                      disabled="disabledWebhookButton(WebhookExists)"
                      on-change="(onWebhookChange)"
                    ></por-switch-field>
                    <span ng-if="webhookURL">
                      <span class="text-muted">{{ webhookURL | truncatelr }}</span>
                      <button type="button" class="btn btn-sm btn-primary btn-sm space-left" ng-if="webhookURL" ng-click="copyWebhook()">
                        <pr-icon icon="'copy'" class-name="'mr-1'"></pr-icon>
                        {{ 'docker_services.copy_link' | i18n }}
                      </button>
                      <span>
                        <pr-icon id="copyNotification" icon="'check'" mode="'success'" style="display: none"></pr-icon>
                      </span>
                    </span>
                  </div>
                </td>
              </tr>
              <tr authorization="DockerServiceLogs, DockerServiceUpdate, DockerServiceDelete">
                <td colspan="2">
                  <p class="small text-muted" authorization="DockerServiceUpdate">
                    {{ 'docker_services.rollback_note' | i18n }} </p
                  ><div class="flex flex-wrap gap-x-2 gap-y-1">
                    <a
                      authorization="DockerServiceLogs"
                      ng-if="applicationState.endpoint.apiVersion >= 1.3"
                      class="btn btn-primary btn-sm"
                      type="button"
                      ui-sref="docker.services.service.logs({id: service.Id})"
                    >
                      <pr-icon icon="'file-text'"></pr-icon>{{ 'docker_services.service_logs' | i18n }}</a
                    >
                    <button
                      authorization="DockerServiceUpdate"
                      type="button"
                      class="btn btn-primary btn-sm !ml-0"
                      ng-disabled="state.updateInProgress || isUpdating"
                      ng-click="forceUpdateService(service)"
                      button-spinner="state.updateInProgress"
                      ng-if="applicationState.endpoint.apiVersion >= 1.25"
                    >
                      <span ng-hide="state.updateInProgress" class="vertical-center">
                        <pr-icon icon="'refresh-cw'"></pr-icon>
                        {{ 'docker_services.update_the_service' | i18n }}</span
                      >
                      <span ng-show="state.updateInProgress">{{ 'docker_services.update_in_progress' | i18n }}</span>
                    </button>
                    <button
                      authorization="DockerServiceUpdate"
                      type="button"
                      class="btn btn-primary btn-sm !ml-0"
                      ng-disabled="state.rollbackInProgress || isUpdating"
                      ng-click="rollbackService(service)"
                      button-spinner="state.rollbackInProgress"
                      ng-if="applicationState.endpoint.apiVersion >= 1.25"
                    >
                      <span ng-hide="state.rollbackInProgress" class="vertical-center">
                        <pr-icon icon="'rotate-ccw'"></pr-icon>
                        {{ 'docker_services.rollback_the_service' | i18n }}</span
                      >
                      <span ng-show="state.rollbackInProgress">{{ 'docker_services.rollback_in_progress' | i18n }}</span>
                    </button>
                    <button
                      authorization="DockerServiceDelete"
                      type="button"
                      class="btn btn-danger btn-sm !ml-0"
                      ng-disabled="state.deletionInProgress || isUpdating"
                      ng-click="removeService()"
                      button-spinner="state.deletionInProgress"
                    >
                      <span ng-hide="state.deletionInProgress" class="vertical-center">
                        <pr-icon icon="'trash-2'"></pr-icon>
                        {{ 'docker_services.delete_the_service' | i18n }}</span
                      >
                      <span ng-show="state.deletionInProgress">{{ 'docker_services.deletion_in_progress' | i18n }}</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
        <rd-widget-footer authorization="DockerServiceUpdate">
          <p class="small text-muted">
            {{ 'docker_services.docker_doc_help_prefix' | i18n }} <a href="https://docs.docker.com/engine/reference/commandline/service_update/" target="self">{{ 'docker_services.docker_doc_help_link' | i18n }}</a>.
          </p>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" ng-disabled="!hasChanges(service, ['Mode', 'Replicas', 'Name', 'Webhooks'])" ng-click="updateService(service)"
                >{{ 'docker_services.apply_changes' | i18n }}</button
              >
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <pr-icon icon="'chevron-down'"></pr-icon>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="cancelChanges(service, ['Mode', 'Replicas', 'Name'])">{{ 'docker_services.reset_changes' | i18n }}</a></li>
                <li><a ng-click="cancelChanges(service)">{{ 'docker_services.reset_all_changes' | i18n }}</a></li>
              </ul>
            </div>
          </div>
        </rd-widget-footer>
      </rd-widget>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3">
      <rd-widget>
        <rd-widget-header icon="menu" title-text="{{ 'docker_services.quick_navigation' | i18n }}"></rd-widget-header>
        <rd-widget-body classes="no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li><a href ng-click="goToItem('service-env-variables')">{{ 'docker_services.nav_env_variables' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-container-image')">{{ 'docker_services.nav_container_image' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-container-labels')">{{ 'docker_services.nav_container_labels' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-mounts')">{{ 'docker_services.nav_mounts' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-network-specs')">{{ 'docker_services.nav_network_ports' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-resources')">{{ 'docker_services.nav_resource_limits' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-placement-constraints')">{{ 'docker_services.nav_placement_constraints' | i18n }}</a></li>
            <li ng-if="applicationState.endpoint.apiVersion >= 1.3"><a href ng-click="goToItem('service-placement-preferences')">{{ 'docker_services.nav_placement_preferences' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-restart-policy')">{{ 'docker_services.nav_restart_policy' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-update-config')">{{ 'docker_services.nav_update_config' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-logging')">{{ 'docker_services.nav_logging' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-labels')">{{ 'docker_services.nav_service_labels' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-configs')">{{ 'docker_services.nav_configs' | i18n }}</a></li>
            <li ng-if="applicationState.endpoint.apiVersion >= 1.25"><a href ng-click="goToItem('service-secrets')">{{ 'docker_services.nav_secrets' | i18n }}</a></li>
            <li><a href ng-click="goToItem('service-tasks')">{{ 'docker_services.nav_tasks' | i18n }}</a></li>
          </ul>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <!-- access-control-panel -->
  <access-control-panel
    ng-if="service"
    resource-id="service.Id"
    resource-control="service.ResourceControl"
    resource-type="resourceType"
    on-update-success="(onUpdateResourceControlSuccess)"
    environment-id="endpoint.Id"
  >
  </access-control-panel>
  <!-- !access-control-panel -->

  <div class="row">
    <hr />
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h3 id="container-specs">{{ 'docker_services.container_spec_heading' | i18n }}</h3>
      <div id="service-container-spec" class="padding-top" ng-include="'app/docker/views/services/edit/includes/container-specs.html'"></div>
      <div id="service-container-image" class="padding-top" ng-include="'app/docker/views/services/edit/includes/image.html'"></div>
      <div id="service-env-variables" class="padding-top" ng-include="'app/docker/views/services/edit/includes/environmentvariables.html'"></div>
      <div id="service-container-labels" class="padding-top" ng-include="'app/docker/views/services/edit/includes/containerlabels.html'"></div>
      <div id="service-mounts" class="padding-top" ng-include="'app/docker/views/services/edit/includes/mounts.html'"></div>
    </div>
  </div>

  <div class="row">
    <hr />
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h3 id="service-network-specs">{{ 'docker_services.networks_ports_heading' | i18n }}</h3>
      <div id="service-networks" class="padding-top" ng-include="'app/docker/views/services/edit/includes/networks.html'"></div>

      <docker-service-ports-mapping-field
        id="service-published-ports"
        class="padding-top block"
        values="formValues.ports"
        on-change="(onChangePorts)"
        has-changes="hasChanges(service, ['Ports'])"
        on-reset="(onResetPorts)"
        on-submit="(onSubmit)"
      ></docker-service-ports-mapping-field>

      <div id="service-hosts-entries" class="padding-top" ng-include="'app/docker/views/services/edit/includes/hosts.html'"></div>
    </div>
  </div>

  <div class="row">
    <hr />
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h3 id="service-specs">{{ 'docker_services.service_spec_heading' | i18n }}</h3>
      <div id="service-resources" class="padding-top" ng-include="'app/docker/views/services/edit/includes/resources.html'"></div>
      <div id="service-placement-constraints" class="padding-top" ng-include="'app/docker/views/services/edit/includes/constraints.html'"></div>
      <div
        id="service-placement-preferences"
        ng-if="applicationState.endpoint.apiVersion >= 1.3"
        class="padding-top"
        ng-include="'app/docker/views/services/edit/includes/placementPreferences.html'"
      ></div>
      <div id="service-restart-policy" class="padding-top" ng-include="'app/docker/views/services/edit/includes/restart.html'"></div>
      <div id="service-update-config" class="padding-top" ng-include="'app/docker/views/services/edit/includes/updateconfig.html'"></div>
      <div id="service-logging" class="padding-top" ng-include="'app/docker/views/services/edit/includes/logging.html'"></div>
      <div id="service-labels" class="padding-top" ng-include="'app/docker/views/services/edit/includes/servicelabels.html'"></div>
      <div id="service-configs" class="padding-top" ng-include="'app/docker/views/services/edit/includes/configs.html'"></div>
      <div id="service-secrets" ng-if="applicationState.endpoint.apiVersion >= 1.25" class="padding-top" ng-include="'app/docker/views/services/edit/includes/secrets.html'"></div>
    </div>
  </div>

  <div id="service-tasks" class="padding-top" ng-include="'app/docker/views/services/edit/includes/tasks.html'"></div>
</div>
