<rd-header>
  <rd-header-title title="DASHBOARD.HEADER.TITLE">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <por-translation key="DASHBOARD.HEADER.CONTENT"></por-translation>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-md-12" ng-if="applicationState.endpoint.mode.provider !== 'DOCKER_SWARM'">
    <rd-widget>
      <rd-widget-header icon="fa-tachometer" title="DASHBOARD.WIDGET_NODE.TITLE"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_NODE.NODE_NAME"></por-translation></td>
              <td>{{ infoData.Name }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_NODE.DOCKER_VERSION"></por-translation></td>
              <td>{{ infoData.ServerVersion }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_NODE.CPU"></por-translation></td>
              <td>{{ infoData.NCPU }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_NODE.MEMORY"></por-translation></td>
              <td>{{ infoData.MemTotal|humansize }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-md-12" ng-if="applicationState.endpoint.mode.provider === 'DOCKER_SWARM'">
    <rd-widget>
      <rd-widget-header icon="fa-tachometer" title="DASHBOARD.WIDGET_CLUSTER.TITLE"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_CLUSTER.NODES"></por-translation></td>
              <td>{{ infoData.SystemStatus[0][1] == 'primary' ? infoData.SystemStatus[3][1] : infoData.SystemStatus[4][1] }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_CLUSTER.SWARM_VERSION"></por-translation></td>
              <td>{{ infoData.ServerVersion|swarmversion }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_CLUSTER.CPU"></por-translation></td>
              <td>{{ infoData.NCPU }}</td>
            </tr>
            <tr>
              <td><por-translation key="DASHBOARD.WIDGET_CLUSTER.MEMORY"></por-translation></td>
              <td>{{ infoData.MemTotal|humansize: 2 }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-md-12" ng-if="applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
    <rd-widget>
      <rd-widget-header icon="fa-tachometer" title="DASHBOARD.WIDGET_SWARM.TITLE"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td colspan="2">
                <span class="small text-muted"><por-translation key="DASHBOARD.WIDGET_SWARM.COMMENT"></por-translation></span>
              </td>
            </tr>
            <tr >
              <td><por-translation key="DASHBOARD.WIDGET_SWARM.NODE_ROLE"></por-translation></td>
              <td>{{ infoData.Swarm.ControlAvailable ? 'Manager' : 'Worker' }}</td>
            </tr>
            <tr ng-if="infoData.Swarm.ControlAvailable">
              <td><por-translation key="DASHBOARD.WIDGET_SWARM.NODES_IN_CLUSTER"></por-translation></td>
              <td>{{ infoData.Swarm.Nodes }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <a ui-sref="containers">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-server"></i>
          </div>
          <div class="pull-right">
            <div><i class="fa fa-heartbeat space-right green-icon"></i>{{ containerData.running }} <por-translation key="DASHBOARD.WIDGET_CONTAINERS.RUNNING_CONTAINERS"></por-translation></div>
            <div><i class="fa fa-heartbeat space-right red-icon"></i>{{ containerData.stopped }} <por-translation key="DASHBOARD.WIDGET_CONTAINERS.STOPPED_CONTAINERS"></por-translation></div>
          </div>
          <div class="title">{{ containerData.total }}</div>
          <div class="comment"><por-translation key="DASHBOARD.WIDGET_CONTAINERS.COMMENT"></por-translation></div>
        </rd-widget-body>
      </rd-widget>
    </a>
  </div>
  <div class="col-xs-12 col-md-6">
    <a ui-sref="images">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-clone"></i>
          </div>
          <div class="pull-right">
            <div><i class="fa fa-pie-chart space-right"></i>{{ imageData.size|humansize }}</div>
          </div>
          <div class="title">{{ imageData.total }}</div>
          <div class="comment"><por-translation key="DASHBOARD.WIDGET_IMAGES.COMMENT"></por-translation></div>
        </rd-widget-body>
      </rd-widget>
    </a>
  </div>
  <div class="col-xs-12 col-md-6">
    <a ui-sref="volumes">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-cubes"></i>
          </div>
          <div class="pull-right" ng-if="infoData.Driver">
            <div><i class="fa fa-hdd-o space-right"></i>{{ infoData.Driver }} <por-translation key="DASHBOARD.WIDGET_VOLUMES.DRIVER"></por-translation></div>
          </div>
          <div class="title">{{ volumeData.total }}</div>
          <div class="comment"><por-translation key="DASHBOARD.WIDGET_VOLUMES.COMMENT"></por-translation></div>
        </rd-widget-body>
      </rd-widget>
    </a>
  </div>
  <div class="col-xs-12 col-md-6">
    <a ui-sref="networks">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="title">{{ networkData.total }}</div>
          <div class="comment"><por-translation key="DASHBOARD.WIDGET_NETWORKS.COMMENT"></por-translation></div>
        </rd-widget-body>
      </rd-widget>
    </a>
  </div>
</div>
