 
<div class="col-xs-offset-1">
    <!--<div class="sidebar span4">
        <div ng-include="template" ng-controller="SideBarController"></div>
    </div>-->
    <div class="row">
        <div class="col-xs-10" id="masthead" style="display:none">
            <div class="jumbotron">
                <h1>DockerUI</h1>
                <p class="lead">The Linux container engine</p>
                    <a class="btn btn-large btn-success" href="http://docker.io">Learn more.</a>
              </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-10">
            <div class="col-xs-5">
                <h3>Running Containers</h3>
                <ul>
                    <li ng-repeat="container in containers|orderBy:predicate">
                        <a href="#/containers/{{ container.Id }}/">{{ container|containername }}</a>
                        <span class="label label-{{ container.Status|statusbadge }}">{{ container.Status }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 text-right">
                <h3>Status</h3>
                <canvas id="containers-chart" class="pull-right">
                    Get a better browser... Your holding everyone back.
                </canvas>
                <div id="chart-legend"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10" id="stats">
            <h4>Containers created</h4>
           <canvas id="containers-started-chart" width="700">
                Get a better browser... You're holding everyone back.
           </canvas>
            <h4>Images created</h4>
           <canvas id="images-created-chart" width="700">
                Get a better browser... You're holding everyone back.
           </canvas>
        </div>
    </div>
</div>
