<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ containerData.total }}</div>
        <div class="comment">Containers</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ containerData.running }}</div>
        <div class="comment">Running</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ containerData.stopped }}</div>
        <div class="comment">Stopped</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon gray pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ containerData.ghost }}</div>
        <div class="comment">Ghost</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Containers created"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <canvas id="containers-started-chart" width="770" height="230">
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
                    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tag" title="Images created"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <canvas id="images-created-chart" width="770" height="230">
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
                    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
