<div class="page-wrapper">
  <!-- login box -->
  <div class="container simple-box">
    <div class="col-sm-6 col-sm-offset-3">
      <!-- login box logo -->
      <div class="row">
        <img ng-if="!logo" src="images/logo_alt.png" class="simple-box-logo" alt="Portainer">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo">
      </div>
      <!-- !login box logo -->
      <!-- login panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- login form -->
          <form class="simple-box-form form-horizontal">
            <!-- username input -->
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input id="username" type="text" class="form-control" name="username" ng-model="formValues.Username" auto-focus>
            </div>
            <!-- !username input -->
            <!-- password input -->
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
              <input id="password" type="password" class="form-control" name="password" ng-model="formValues.Password">
            </div>
            <!-- !password input -->
            <!-- login button -->
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="authenticateUser()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                <span class="pull-left" style="margin: 5px;" ng-if="state.AuthenticationError">
                  <i class="fa fa-exclamation-triangle red-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  <span class="small text-danger">{{ state.AuthenticationError }}</span>
                </span>
              </div>
            </div>
            <!-- !login button -->
          </form>
          <!-- !login form -->
        </div>
      </div>
      <!-- !login panel -->
    </div>
  </div>
  <!-- !login box -->
</div>
