.point {
  margin-right: 8px;
  font-size: 10px;
}

.file-tree ul.nav.nav-sidebar {
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.file-tree ul.nav.nav-sidebar:first-child {
  padding-left: 0;
}

.file-tree ul.nav.nav-sidebar.file-tree-root > li {
  border-left: none;
  padding-left: 0px;
}

.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal.animated,
.animated.fast {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.animated.slow {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
