<div class="modal animated fadeIn" id="newfolder">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-submit="createFolder()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{{ 'close' | translate }}</span>
          </button>
          <h4 class="modal-title">{{ 'new_folder' | translate }}</h4>
        </div>
        <div class="modal-body">
          <label class="radio">{{ 'folder_name' | translate }}</label>
          <input class="form-control" ng-model="singleSelection().tempModel.name" autofocus="autofocus" />
          <div ng-include data-src="'error-bar'" class="clearfix"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="apiMiddleware.apiHandler.inprocess">{{ 'cancel' | translate }}</button>
          <button type="submit" class="btn btn-primary" ng-disabled="apiMiddleware.apiHandler.inprocess">{{ 'create' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
