<rd-header>
  <rd-header-title title-text="Support">
  </rd-header-title>
  <rd-header-content>
    Portainer support
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Portainer support options" icon="fa-life-ring"></rd-widget-header>
      <rd-widget-body>
      <div class="small" style="line-height:1.65;">
        <p>
          Portainer.io offers multiple commercial support options.
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Per incident</u>
          <ul>
            <li>$USD 100</li>
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YHXZJQNJQ36H6" target="_blank"><i class="fab fa-paypal" aria-hidden="true"></i> Buy it here</a></li>
          </ul>
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Per Portainer instance</u>
          <ul>
            <li>$USD 1200 per year</li>
            <li>Unlimited incidents</li>
            <li>4 named users</li>
            <li><a target="_blank" href="mailto:info@portainer.io"><i class="fa fa-envelope" aria-hidden="true"></i> Contact us</a></li>
          </ul>
        </p>
      </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
