.form-control.limited-be {
  border-color: var(--BE-only);
}

button.limited-be {
  background-color: var(--BE-only);
  border-color: var(--BE-only);
}

ng-form.limited-be,
form.limited-be {
  border: solid 1px var(--BE-only);
  border-radius: 10px;
  padding: 10px;
  pointer-events: none;
  touch-action: none;
  display: block;
}
