<!-- template -->
<div ng-class="{ 'blocklist-item--selected': $ctrl.model.Selected }" class="blocklist-item template-item" ng-click="$ctrl.onSelect($ctrl.model)">
  <div class="blocklist-item-box">
    <!-- template-image -->
    <span ng-if="$ctrl.model.Logo">
      <img class="blocklist-item-logo" ng-src="{{ $ctrl.model.Logo }}" />
    </span>
    <span class="blocklist-item-logo" ng-if="!$ctrl.model.Logo">
      <i class="fa fa-rocket fa-4x blue-icon" aria-hidden="true"></i>
    </span>
    <!-- !template-image -->
    <!-- template-details -->
    <div class="col-sm-12 template-item-details">
      <!-- blocklist-item-line1 -->
      <div class="blocklist-item-line">
        <span>
          <span class="blocklist-item-title">
            {{ $ctrl.model.Title }}
          </span>
          <span class="space-left blocklist-item-subtitle">
            <span ng-if="$ctrl.model.Type != 3">
              <i class="fab fa-linux" aria-hidden="true" ng-if="$ctrl.model.Platform === 1 || $ctrl.model.Platform === 'linux' || !$ctrl.model.Platform"></i>
              <span ng-if="!$ctrl.model.Platform"> &amp; </span>
              <i class="fab fa-windows" aria-hidden="true" ng-if="$ctrl.model.Platform === 2 || $ctrl.model.Platform === 'windows' || !$ctrl.model.Platform"></i>
            </span>
            <span ng-if="$ctrl.model.Type === 3">
              <i class="fa fa-dharmachakra" aria-hidden="true"></i>
            </span>
            <span>
              {{ $ctrl.typeLabel }}
            </span>
          </span>
        </span>
      </div>
      <!-- !blocklist-item-line1 -->
      <span class="blocklist-item-actions" ng-transclude="actions"></span>
      <!-- blocklist-item-line2 -->
      <div class="blocklist-item-line template-item-details-sub">
        <span class="blocklist-item-desc">
          {{ $ctrl.model.Description }}
        </span>
        <span class="small text-muted" ng-if="$ctrl.model.Categories.length > 0">
          {{ $ctrl.model.Categories.join(', ') }}
        </span>
      </div>
      <!-- !blocklist-item-line2 -->
    </div>
    <!-- !template-details -->
  </div>
  <!-- !template -->
</div>
