<rd-header>
  <rd-header-title title="Image details">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="images">Images</a> > <a ui-sref="image({id: image.Id})">{{ image.Id }}</a>
  </rd-header-content>
</rd-header>

<div class="row" ng-if="image.RepoTags.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa fa-tags" title="Image tags"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="pull-left" ng-repeat="tag in image.RepoTags" style="display:table">
                <div class="input-group col-md-1" style="padding:0 15px">
                  <span class="input-group-addon">{{ tag }}</span>
                  <span class="input-group-btn">
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="Push to registry" ng-click="pushTag(tag)">
                      <span class="fa fa-upload white-icon" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="Pull from registry" ng-click="pullTag(tag)">
                      <span class="fa fa-download white-icon" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="Remove tag" ng-click="removeTag(tag)">
                      <span class="fa fa-trash-o white-icon" aria-hidden="true"></span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">
                Note: you can click on the upload icon <span class="fa fa-upload" aria-hidden="true"></span> to push an image
                or on the download icon <span class="fa fa-download" aria-hidden="true"></span> to pull an image
                or on the trash icon <span class="fa fa-trash-o" aria-hidden="true"></span> to delete a tag.
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-tag" title="Tag the image"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-and-registry-inputs -->
          <div class="form-group">
            <label for="image_name" class="col-sm-1 control-label text-left">Name</label>
            <div class="col-sm-11 col-md-6">
              <input type="text" class="form-control" ng-model="config.Image" id="image_name" placeholder="e.g. myImage:myTag">
            </div>
            <label for="image_registry" class="col-sm-2 margin-sm-top control-label text-left">
              Registry
              <portainer-tooltip position="bottom" message="A registry to pull the image from. Leave empty to use the official Docker registry."></portainer-tooltip>
            </label>
            <div class="col-sm-10 col-md-3 margin-sm-top">
              <input type="text" class="form-control" ng-model="config.Registry" id="image_registry" placeholder="e.g. myregistry.mydomain">
            </div>
          </div>
          <!-- !name-and-registry-inputs -->
          <!-- tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">Note: if you don't specify the tag in the image name, <span class="label label-default">latest</span> will be used.</span>
            </div>
          </div>
          <!-- !tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="!config.Image" ng-click="tagImage()">Tag</button>
              <i id="pullImageSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Image details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>ID</td>
              <td>
                {{ image.Id }}
                <button class="btn btn-xs btn-danger" ng-click="removeImage(image.Id)"><i class="fa fa-trash space-right" aria-hidden="true"></i>Delete this image</button>
              </td>
            </tr>
            <tr ng-if="image.Parent">
              <td>Parent</td>
              <td><a ui-sref="image({id: image.Parent})">{{ image.Parent }}</a></td>
            </tr>
            <tr>
              <td>Size</td>
              <td>{{ image.VirtualSize|humansize }}</td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{ image.Created|getisodate }}</td>
            </tr>
            <tr>
              <td>Build</td>
              <td>Docker {{ image.DockerVersion }} on {{ image.Os}}, {{ image.Architecture }}</td>
            </tr>
            <tr ng-if="image.Author">
              <td>Author</td>
              <td>{{ image.Author }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Dockerfile details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>CMD</td>
              <td><code>{{ image.Command|command }}</code></td>
            </tr>
            <tr ng-if="image.Entrypoint">
              <td>ENTRYPOINT</td>
              <td><code>{{ image.Entrypoint|command }}</code></td>
            </tr>
            <tr ng-if="image.ExposedPorts.length > 0">
              <td>EXPOSE</td>
              <td>
                <span class="label label-default space-right" ng-repeat="port in image.ExposedPorts">
                  {{ port }}
                </span>
              </td>
            </tr>
            <tr ng-if="image.Volumes.length > 0">
              <td>VOLUME</td>
              <td>
                <span class="label label-default space-right" ng-repeat="volume in image.Volumes">
                  {{ volume }}
                </span>
              </td>
            </tr>
            <tr ng-if="image.Env.length > 0">
              <td>ENV</td>
              <td>
                <table class="table table-bordered table-condensed">
                  <tr ng-repeat="var in image.Env">
                    <td>{{ var|key: '=' }}</td>
                    <td>{{ var|value: '=' }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="history.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Image layers"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table id="image-layers" class="table">
          <thead>
            <tr>
              <td>Size</td>
              <td>Layer</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="layer in history">
              <td class="col-md-1" style="white-space:nowrap;">{{layer.Size|humansize}}</td>
              <td class="col-md-6">
                <div ng-if="layer.CreatedBy.length > 100">
                  <span id="layer-command-{{$index}}-full" style="display: none">
                    {{layer.CreatedBy}}
                  </span>
                  <span id="layer-command-{{$index}}-short">
                    {{layer.CreatedBy|limitTo:100}}{{layer.CreatedBy.length > 100 ? '...' : ''}}
                  </span>
                </div>
                <div ng-if="layer.CreatedBy.length <= 100">
                  <span id="layer-command-{{$index}}-full">
                    {{layer.CreatedBy}}
                  </span>
                </div>
              </td>
              <td class="expand"><div ng-if="layer.CreatedBy.length > 100"><a id="layer-command-expander{{$index}}" class="btn" ng-click='toggleLayerCommand($index)'><span class="glyphicon glyphicon-plus-sign"></span></a></div></td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
