<rd-header>
  <rd-header-title title="Image details"></rd-header-title>
  <rd-header-content>
    Images > <a ui-sref="image({id: id})">{{ id }}</a>
  </rd-header-content>
</rd-header>


<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-clone"></i>
        </div>
        <div class="title">{{ id }}</div>
        <div class="comment">Image ID</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-cogs"></i>
        </div>
        <div class="title">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-danger" ng-click="removeImage(id)">Remove</button>
          </div>
        </div>
        <div class="comment">
          Actions
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Image details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Created</td>
              <td>{{ image.Created | date: 'medium'}}</td>
            </tr>
            <tr>
              <td>Tags</td>
              <td>
                <ul>
                  <li ng-repeat="tag in RepoTags">{{ tag }}
                    <button ng-click="removeImage(tag)" class="btn btn-sm btn-danger">Remove tag</button>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Parent</td>
              <td><a ui-sref="image({id: image.Parent})">{{ image.Parent }}</a></td>
            </tr>
            <tr>
              <td>Size (Virtual Size)</td>
              <td>{{ image.Size|humansize }} ({{ image.VirtualSize|humansize }})</td>
            </tr>

            <tr>
              <td>Hostname</td>
              <td>{{ image.ContainerConfig.Hostname }}</td>
            </tr>
            <tr>
              <td>User</td>
              <td>{{ image.ContainerConfig.User }}</td>
            </tr>
            <tr>
              <td>Cmd</td>
              <td>{{ image.ContainerConfig.Cmd }}</td>
            </tr>
            <tr>
              <td>Volumes</td>
              <td>{{ image.ContainerConfig.Volumes }}</td>
            </tr>
            <tr>
              <td>Volumes from</td>
              <td>{{ image.ContainerConfig.VolumesFrom }}</td>
            </tr>
            <tr>
              <td>Built with</td>
              <td>Docker {{ image.DockerVersion }} on {{ image.Os}}, {{ image.Architecture }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
