.slider-badge {
  top: -2px;
}

.root {
  margin-left: 10px;
  margin-bottom: 50px;
}

.root :global(.rc-slider-tooltip-inner) {
  background-color: white;
  min-width: max-content;
  color: var(--black);
}
