<div class="breadcrumb-links" ng-show="$ctrl.display">
  <div class="pull-left" ng-transclude></div>
  <div class="pull-right" ng-if="$ctrl.username">
    <a ui-sref="portainer.account" style="margin-right: 5px">
      <u> <i class="fa fa-wrench" aria-hidden="true"></i> my account </u>
    </a>
    <a ui-sref="portainer.logout({performApiLogout: true})" class="text-danger" style="margin-right: 25px" data-cy="template-logoutButton">
      <u> <i class="fa fa-sign-out-alt" aria-hidden="true"></i> log out</u>
    </a>
  </div>
</div>
