<div id="build-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Build Image</h3>
            </div>
            <div class="modal-body">
                <div id="editor"></div>
                <p>{{ messages }}</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" ng-click="build()">Build</a>
            </div>
        </div>
    </div>
</div>
