.portainer-selector-root,
.portainer-selector__menu {
  --bg-multiselect-color: var(--white-color);
  --border-multiselect: var(--grey-48);
}
:root[theme='dark'] .portainer-selector-root,
:root[theme='dark'] .portainer-selector__menu {
  --bg-multiselect-color: var(--grey-1);
  --border-multiselect: var(--grey-3);
}
:root[theme='highcontrast'] .portainer-selector-root,
:root[theme='highcontrast'] .portainer-selector__menu {
  --bg-multiselect-color: var(--grey-1);
  --border-multiselect: var(--black-color);
}

.portainer-selector-root .portainer-selector__control {
  border: 1px solid var(--border-multiselect);
  background-color: var(--bg-multiselect-color);
}

.portainer-selector-root .portainer-selector__multi-value {
  background-color: var(--grey-51);
}

:root[theme='dark'] .portainer-selector-root .portainer-selector__multi-value {
  background-color: var(--grey-3);
}

:root[theme='highcontrast'] .portainer-selector-root .portainer-selector__multi-value {
  background-color: var(--grey-3);
}

.portainer-selector-root .portainer-selector__multi-value__label {
  color: var(--black-color);
}

:root[theme='dark'] .portainer-selector-root .portainer-selector__multi-value__label {
  color: var(--white-color);
}

:root[theme='highcontrast'] .portainer-selector-root .portainer-selector__multi-value__label {
  color: var(--white-color);
}

.portainer-selector__menu-portal .portainer-selector__menu,
.portainer-selector-root .portainer-selector__menu {
  background-color: var(--bg-multiselect-color);
  border: 1px solid var(--border-multiselect);
  padding: 5px;
  z-index: 10;
}

.portainer-selector__menu .portainer-selector__option {
  background-color: var(--bg-multiselect-color);
  border-radius: 5px;
}

.portainer-selector__menu .portainer-selector__option:active,
.portainer-selector__menu .portainer-selector__option--is-focused {
  background-color: var(--ui-gray-3);
}

:root[theme='dark'] .portainer-selector__menu .portainer-selector__option:active,
:root[theme='dark'] .portainer-selector__menu .portainer-selector__option--is-focused {
  background-color: var(--blue-2);
  color: var(--white-color);
}

.portainer-selector__menu .portainer-selector__option--is-selected {
  color: var(--grey-7);
}

:root[theme='highcontrast'] .portainer-selector-root .portainer-selector__single-value,
:root[theme='dark'] .portainer-selector-root .portainer-selector__single-value {
  color: var(--white-color);
}

:root[theme='highcontrast'] .portainer-selector-root .portainer-selector__input-container,
:root[theme='dark'] .portainer-selector-root .portainer-selector__input-container {
  color: var(--white-color);
}
