<rd-header>
  <rd-header-title title-text="Config details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.configs.config({id: config.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="docker.configs">Configs</a> &gt; <a ui-sref="docker.configs.config({id: config.Id})">{{ config.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-file-code" title-text="Config details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ config.Name }}</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ config.Id }}
                <button authorization="DockerConfigDelete" class="btn btn-xs btn-danger" ng-click="removeConfig(config.Id)"
                  ><i class="fa fa-trash-alt space-right" aria-hidden="true"></i>Delete this config</button
                >
                <button authorization="DockerConfigCreate" class="btn btn-xs btn-primary" ui-sref="docker.configs.new({id: config.Id})"
                  ><i class="fa fa-copy space-right" aria-hidden="true"></i>Clone config</button
                >
              </td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{ config.CreatedAt | getisodate }}</td>
            </tr>
            <tr>
              <td>Last updated</td>
              <td>{{ config.UpdatedAt | getisodate }}</td>
            </tr>
            <tr ng-if="!(config.Labels | emptyobject)">
              <td>Labels</td>
              <td>
                <table class="table table-bordered table-condensed">
                  <tr ng-repeat="(k, v) in config.Labels">
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="config"
  resource-id="config.Id"
  resource-control="config.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
>
</access-control-panel>
<!-- !access-control-panel -->

<div class="row" ng-if="config">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-file-code" title-text="Config content"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <code-editor identifier="config-editor" yml="false" read-only="true" value="config.Data"></code-editor>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
