<rd-header>
  <rd-header-title title-text="Create job"></rd-header-title>
  <rd-header-content ng-if="provider === 'DOCKER_STANDALONE'">
    <a ui-sref="docker.host">Host</a> &gt; Add job
  </rd-header-content>
  <rd-header-content ng-if="provider === 'DOCKER_SWARM_MODE'">
  <a ui-sref="docker.swarm">Swarm</a> &gt; Add job
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- image-input -->
          <div class="form-group">
            <label for="job_image" class="col-sm-1 control-label text-left">Image</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="formValues.Image" id="job_image" placeholder="e.g. hello-world:latest"
                auto-focus>
            </div>
          </div>
          <!-- !image-input -->
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              This job will run inside a privileged container on the host. You can access the host filesystem under the
              <code>/host</code> folder.
            </span>
          </div>
          <!-- execution-method -->
          <div class="col-sm-12 form-section-title">
            Job creation
          </div>
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0">
            <div class="boxselector_wrapper">
              <div>
                <input type="radio" id="method_editor" ng-model="state.Method" value="editor">
                <label for="method_editor">
                  <div class="boxselector_header">
                    <i class="fa fa-edit" aria-hidden="true" style="margin-right: 2px;"></i>
                    Web editor
                  </div>
                  <p>Use our Web editor</p>
                </label>
              </div>
              <div>
                <input type="radio" id="method_upload" ng-model="state.Method" value="upload">
                <label for="method_upload">
                  <div class="boxselector_header">
                    <i class="fa fa-upload" aria-hidden="true" style="margin-right: 2px;"></i>
                    Upload
                  </div>
                  <p>Upload from your computer</p>
                </label>
              </div>
            </div>
          </div>
          <!-- !execution-method -->
          <!-- web-editor -->
          <div ng-show="state.Method === 'editor'">
            <div class="col-sm-12 form-section-title">
              Web editor
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <code-editor identifier="script-creation-editor" placeholder="# Define or paste the content of your script file here"
                  on-change="editorUpdate"></code-editor>
              </div>
            </div>
          </div>
          <!-- !web-editor -->
          <!-- upload -->
          <div ng-show="state.Method === 'upload'">
            <div class="col-sm-12 form-section-title">
              Upload
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                You can upload a script file from your computer.
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.JobFile">Select file</button>
                <span style="margin-left: 5px;">
                  {{ formValues.JobFile.name }}
                  <i class="fa fa-times red-icon" ng-if="!formValues.JobFile" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- !upload -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            Actions
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="state.actionInProgress
              || (state.Method === 'upload' && !formValues.JobFile)
              || !formValues.Image"
                ng-click="executeScript()" button-spinner="state.actionInProgress">
                <span ng-hide="state.actionInProgress">Execute</span>
                <span ng-show="state.actionInProgress">Execution starting ...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">
                {{ state.formValidationError }}
              </span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>