<div class="detail">
  <h2>Swarm Information</h2>

  <div>
    <p class="lead">
      <strong>Swarm version: </strong>{{ docker.Version }}<br/>
      <strong>API Version: </strong>{{ docker.ApiVersion }}<br/>
      <strong>Go Version: </strong>{{ docker.GoVersion }}<br/>
    </p>
  </div>

  <h2>Cluster Information</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Nodes:</td>
        <td>{{ swarm.Nodes }}</td>
      </tr>
      <tr>
        <td>Containers:</td>
        <td>{{ info.Containers }}</td>
      </tr>
      <tr>
        <td>Images:</td>
        <td>{{ info.Images }}</td>
      </tr>
      <tr>
        <td>Strategy:</td>
        <td>{{ swarm.Strategy }}</td>
      </tr>
      <tr>
        <td>CPUs:</td>
        <td>{{ info.NCPU }}</td>
      </tr>
      <tr>
        <td>Total Memory:</td>
        <td>{{ info.MemTotal|humansize }}</td>
      </tr>
      <tr>
        <td>Operating System:</td>
        <td>{{ info.OperatingSystem }}</td>
      </tr>
      <tr>
        <td>Kernel Version:</td>
        <td>{{ info.KernelVersion }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Nodes Information</h2>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>IP</th>
      <th>Containers</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr ng-repeat="node in swarm.Status">
        <td>{{ node.name }}</td>
        <td>{{ node.ip }}</td>
        <td>{{ node.containers }}</td>
        <td><span class="label label-{{ node.status|statusbadge }}">{{ node.status }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
