<div class="detail">
    <h2>Docker Information</h2>

    <div>
        <p class="lead">
            <strong>API Endpoint: </strong>{{ endpoint }}<br/>
            <strong>API Version: </strong>{{ docker.ApiVersion }}<br/>
            <strong>Docker version: </strong>{{ docker.Version }}<br/>
            <strong>Git Commit: </strong>{{ docker.GitCommit }}<br/>
            <strong>Go Version: </strong>{{ docker.GoVersion }}<br/>
        </p>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Containers:</td>
            <td>{{ info.Containers }}</td>
        </tr>
        <tr>
            <td>Images:</td>
            <td>{{ info.Images }}</td>
        </tr>
        <tr>
            <td>Debug:</td>
            <td>{{ info.Debug }}</td>
        </tr>
        <tr>
            <td>CPUs:</td>
            <td>{{ info.NCPU }}</td>
        </tr>
        <tr>
            <td>Total Memory:</td>
            <td>{{ info.MemTotal|humansize }}</td>
        </tr>
        <tr>
            <td>Operating System:</td>
            <td>{{ info.OperatingSystem }}</td>
        </tr>
        <tr>
            <td>Kernel Version:</td>
            <td>{{ info.KernelVersion }}</td>
        </tr>
        <tr>
            <td>ID:</td>
            <td>{{ info.ID }}</td>
        </tr>
        <tr>
            <td>Labels:</td>
            <td>{{ info.Labels }}</td>
        </tr>
        <tr>
            <td>File Descriptors:</td>
            <td>{{ info.NFd }}</td>
        </tr>
        <tr>
            <td>Goroutines:</td>
            <td>{{ info.NGoroutines }}</td>
        </tr>
        <tr>
            <td>Storage Driver:</td>
            <td>{{ info.Driver }}</td>
        </tr>
        <tr>
            <td>Storage Driver Status:</td>
            <td>
                <p ng-repeat="val in info.DriverStatus">
                    {{ val[0] }}: {{ val[1] }}
                </p>
            </td>
        </tr>
        <tr>
            <td>Execution Driver:</td>
            <td>{{ info.ExecutionDriver }}</td>
        </tr>
        <tr>
            <td>Events:</td>
            <td><a href="#/events">Events</a></td>
        </tr>
        <tr>
            <td>IPv4 Forwarding:</td>
            <td>{{ info.IPv4Forwarding }}</td>
        </tr>
        <tr>
            <td>Index Server Address:</td>
            <td>{{ info.IndexServerAddress }}</td>
        </tr>
        <tr>
            <td>Init Path:</td>
            <td>{{ info.InitPath }}</td>
        </tr>
        <tr>
            <td>Docker Root Directory:</td>
            <td>{{ info.DockerRootDir }}</td>
        </tr>
        <tr>
            <td>Init SHA1</td>
            <td>{{ info.InitSha1 }}</td>
        </tr>
        <tr>
            <td>Memory Limit:</td>
            <td>{{ info.MemoryLimit }}</td>
        </tr>
        <tr>
            <td>Swap Limit:</td>
            <td>{{ info.SwapLimit }}</td>
        </tr>
        </tbody>
    </table>
</div>
