<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-9">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="title">{{ network.Name }}</div>
        <div class="comment">Name</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon grey pull-left">
          <i class="fa fa-cogs"></i>
        </div>
        <div class="title">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" disabled>Connect container...</button>
            <button class="btn btn-danger" ng-click="remove(id)">Remove</button>
          </div>
        </div>
        <div class="comment">
          Actions
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-sitemap" title="Network details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Id</td>
              <td>{{ network.Id }}</td>
            </tr>
            <tr>
              <td>Scope</td>
              <td>{{ network.Scope }}</td>
            </tr>
            <tr>
              <td>Driver</td>
              <td>{{ network.Driver }}</td>
            </tr>
            <tr>
              <td>IPAM</td>
              <td>
                <table class="table table-striped">
                  <tr>
                    <td>Driver</td>
                    <td>{{ network.IPAM.Driver }}</td>
                  </tr>
                  <tr>
                    <td>Subnet</td>
                    <td>{{ network.IPAM.Config[0].Subnet }}</td>
                  </tr>
                  <tr>
                    <td>Gateway</td>
                    <td>{{ network.IPAM.Config[0].Gateway }}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Containers</td>
              <td>
                <table class="table table-striped" ng-repeat="(Id, container) in network.Containers">
                  <tr>
                    <td>Id</td>
                    <td><a href="#/containers/{{ Id }}">{{ Id }}</a></td>
                  </tr>
                  <tr>
                    <td>EndpointID</td>
                    <td>{{ container.EndpointID}}</td>
                  </tr>
                  <tr>
                    <td>MacAddress</td>
                    <td>{{ container.MacAddress}}</td>
                  </tr>
                  <tr>
                    <td>IPv4Address</td>
                    <td>{{ container.IPv4Address}}</td>
                  </tr>
                  <tr>
                    <td>IPv6Address</td>
                    <td>{{ container.IPv6Address}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <button ng-click="disconnect(network.Id, Id)" class="btn btn-danger">
                        Disconnect from network
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Options</td>
              <td>
                <table role="table" class="table table-striped">
                  <tr ng-repeat="(k, v) in network.Options">
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
