.sidebar-title {
  color: var(--text-sidebar-title-color);
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all 0.6s ease 0s;
}

#page-wrapper:not(.open) .sidebar-title {
  display: none;
  height: 0px;
  text-indent: -100px;
}

.sidebar-title {
  height: auto;
}

.sidebar-title {
  line-height: 36px;
}

@media (max-height: 785px) {
  .sidebar-title {
    line-height: 26px;
  }
}

@media (min-height: 786px) and (max-height: 924px) {
  .sidebar-title {
    line-height: 30px;
  }
}
