<page-header title="'Edge Jobs'" breadcrumbs="['Edge Jobs']" reload="true"> </page-header>

<information-panel title-text="Information">
  <span class="small">
    <p class="text-muted">Edge Jobs requires Docker Standalone and a cron implementation that reads jobs from <code>/etc/cron.d</code></p>
  </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <edge-jobs-datatable
      title-text="Edge jobs"
      title-icon="clock"
      dataset="$ctrl.edgeJobs"
      table-key="edgeJobs"
      order-by="Name"
      remove-action="$ctrl.removeAction"
    ></edge-jobs-datatable>
  </div>
</div>
