<div id="pull-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Pull Image</h3>
            </div>
            <div class="modal-body">
                <form novalidate role="form" name="pullForm">
                    <!--<div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Image name</span>
                        <input type="text" class="form-control" placeholder="imageName" aria-describedby="basic-addon1">
                    </div>-->
                    <div class="form-group">
                        <label>Registry:</label>
                        <input type="text" ng-model="config.registry" class="form-control"
                               placeholder="Registry. Leave empty to user docker hub"/>
                    </div>
                    <div class="form-group">
                        <label>Repo:</label>
                        <input type="text" ng-model="config.repo" class="form-control"
                               placeholder="Repository - usually your username."/>
                    </div>
                    <div class="form-group">
                        <label>Image Name:</label>
                        <input type="text" ng-model="config.fromImage" class="form-control" placeholder="Image name"
                               required/>
                    </div>
                    <div class="form-group">
                        <label>Tag Name:</label>
                        <input type="text" ng-model="config.tag" class="form-control"
                               placeholder="Tag name. If empty it will download ALL tags."/>
                    </div>
                </form>
            </div>
            <div class="alert alert-error" id="error-message" style="display:none">
                {{ error }}
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" ng-click="pull()">Pull</a>
            </div>
        </div>
    </div>
</div>
