<rd-header>
  <rd-header-title title-text="Edge Stacks list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="edge.stacks" ui-sref-opts="{reload: true}">
      <pr-icon icon="'refresh-cw'" feather="true"></pr-icon>
    </a>
  </rd-header-title>
</rd-header>
<div class="row">
  <div class="col-sm-12">
    <edge-stacks-datatable
      title-text="Edge Stacks"
      title-icon="layers"
      dataset="$ctrl.stacks"
      table-key="edgeStacks"
      order-by="Name"
      remove-action="$ctrl.removeAction"
      refresh-callback="$ctrl.getStacks"
    ></edge-stacks-datatable>
  </div>
</div>
