<rd-header>
  <rd-header-title title-text="Edge job details">
    <a data-toggle="tooltip" title-text="Refresh" ui-sref="edge.jobs.job({id: $ctrl.edgeJob.Id, tab: $ctrl.state.activeTab})" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content> <a ui-sref="edge.jobs">Edge jobs</a> &gt; {{ ::$ctrl.$ctrl.edgeJob.Name }} </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <uib-tabset active="$ctrl.state.activeTab">
          <uib-tab index="0">
            <uib-tab-heading> <i class="fa fa-wrench" aria-hidden="true"></i> Configuration </uib-tab-heading>

            <edge-job-form
              ng-if="$ctrl.edgeJob"
              model="$ctrl.edgeJob"
              endpoints="endpoints"
              groups="$ctrl.groups"
              tags="$ctrl.tags"
              form-action="$ctrl.update"
              form-action-label="Update Edge job"
              action-in-progress="$ctrl.state.actionInProgress"
            ></edge-job-form>
          </uib-tab>

          <uib-tab index="1">
            <uib-tab-heading> <i class="fa fa-tasks" aria-hidden="true"></i> Tasks </uib-tab-heading>

            <div class="col-sm-12 form-section-title">
              Information
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                Tasks are retrieved across all endpoints via snapshots. Data available in this view might not be up-to-date.
              </span>
            </div>

            <div class="col-sm-12 form-section-title" style="margin-bottom: 20px;">
              Tasks
            </div>
            <edge-job-tasks-datatable
              ng-if="$ctrl.tasks"
              title-text="Tasks"
              title-icon="fa-tasks"
              dataset="$ctrl.tasks"
              table-key="edge-job-tasks"
              order-by="Status"
              reverse-order="true"
              on-download-logs-click="($ctrl.downloadLogs)"
              on-collect-logs-click="($ctrl.collectLogs)"
              on-clear-logs-click="($ctrl.clearLogs)"
            ></edge-job-tasks-datatable>
          </uib-tab>
        </uib-tabset>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
