<rd-header>
  <rd-header-title title-text="Edge job details">
    <a data-toggle="tooltip" title-text="Refresh" ui-sref="edge.jobs.job({id: edgeJob.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content> <a ui-sref="edge.jobs">Edge jobs</a> &gt; {{ ::edgeJob.Name }} </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <uib-tabset active="state.activeTab">
          <uib-tab index="0">
            <uib-tab-heading> <i class="fa fa-wrench" aria-hidden="true"></i> Configuration </uib-tab-heading>

            <edge-job-form
              ng-if="edgeJob"
              model="edgeJob"
              endpoints="endpoints"
              groups="groups"
              tags="tags"
              form-action="update"
              form-action-label="Update edgeJob"
              action-in-progress="state.actionInProgress"
            ></edge-job-form>
          </uib-tab>

          <uib-tab index="1">
            <uib-tab-heading> <i class="fa fa-tasks" aria-hidden="true"></i> Tasks </uib-tab-heading>

            <div class="col-sm-12 form-section-title">
              Information
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                Tasks are retrieved across all endpoints via snapshots. Data available in this view might not be up-to-date.
              </span>
            </div>

            <div class="col-sm-12 form-section-title" style="margin-bottom: 20px;">
              Tasks
            </div>
            <edgeJob-tasks-datatable
              ng-if="tasks"
              title-text="Tasks"
              title-icon="fa-tasks"
              dataset="tasks"
              table-key="edgeJob-tasks"
              order-by="Status"
              reverse-order="true"
              go-to-container-logs="goToContainerLogs"
              get-edge-task-logs="getEdgeTaskLogs"
            ></edgeJob-tasks-datatable>
          </uib-tab>
        </uib-tabset>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
