html, body, #content-wrapper, .page-content, #view {
  height: 100%;
  width: 100%;
}

.white-space-normal {
  white-space: normal !important;
}

.btn-group button {
  margin: 3px;
}

.messages {
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.legend .title {
  padding: 0 0.3em;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
}

.logo {
  display: inline;
  width: 100%;
  max-width: 155px;
  height: 100%;
  max-height: 55px;
  margin-bottom: 5px;
}

.containerNameInput {
  width: 85%;
  border:none;
  background:none;
  border-bottom: 1px solid black;
}

.containerNameInput:active, .containerNameInput:focus {
  outline:none;
}

#network-legend {
  text-align: center;
}

#network-legend span {
  display: inline;
  font-size: 18px;
}

.header_title_content {
  margin-left: 5px;
}

.form-horizontal .control-label.text-left{
    text-align: left;
    font-size: 0.9em;
}

input[type="checkbox"] {
  margin-top: 1px;
  vertical-align: middle;
}

input[type="radio"] {
  margin-top: 1px;
  vertical-align: middle;
}

a[ng-click]{
  cursor: pointer;
}

.space-right {
  margin-right: 5px;
}

.fa.green-icon {
  color: #23ae89;
}

.tooltip.portainer-tooltip .tooltip-inner {
  font-family: Montserrat;
  background-color: #ffffff;
  padding: .833em 1em;
  color: #333333;
  border: 1px solid #d4d4d5;
  border-radius: .14285714rem;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
}

.tooltip.portainer-tooltip .tooltip-arrow {
  display: none;
}

.fa.tooltip-icon {
  margin-left: 5px;
  font-size: 1.3em;
  color: #337ab7;
}

.fa.red-icon {
  color: #ae2323;
}

.fa.white-icon {
  color: white;
}

.widget .widget-body table tbody .image-tag {
  font-size: 90% !important;
  margin-right: 5px;
}

.widget .widget-body table tbody .fit-text-size {
  font-size: 90% !important;
}

.nopadding {
  padding: 0 !important;
}

.terminal-container {
  width: 100%;
  padding: 10px 5px;
}

.interactive {
  cursor: pointer;
}

.template-list {
  display: flex;
  flex-wrap: wrap;
}

.custom-header-ico {
  max-width: 32px;
  max-height: 32px;
  margin-right: 2px;
}

.btn-responsive {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

@media screen and (min-width: 1107px) {
  .btn-responsive {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #85898b;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.container-template {
  font-size: 1em;
  width: 256px;
  height: 128px;
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #f6f6f6;
  color: #30426a;
}

.container-template--selected {
  background-color: #ececec;
  color: #2d3e63;
}

.container-template:hover {
  background-color: #ececec;
  color: #2d3e63;
}

.container-template .logo {
  max-width: 48px;
  max-height: 48px;
}

.container-template .title {
  text-align: center;
}

.container-template .description {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.simple-box {
  margin-bottom: 80px;
}

.simple-box > div:first-child {
  padding-bottom: 10px;
}

.simple-box-logo {
  display: block;
  margin: auto;
  position: relative;
  width: 240px;
  margin-bottom: 10px;
}

.login-form > div {
  margin-bottom: 25px;
}

.login-form > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-body {
  padding-top: 30px;
  background-color: #ffffff;
}

.pagination-controls {
  margin-left: 10px;
}

.user-box {
  margin-right: 25px;
}

.select-endpoint {
  width: 80%;
  margin: 0 auto;
}

#stdoutLog, #stderrLog {
  background: #000;
  color: #fff;
}

ul.sidebar .sidebar-list a.active {
  color: #fff;
  text-indent: 22px;
  border-left: 3px solid #fff;
  background: #2d3e63;
}

@media (min-width: 768px) {
    .pull-sm-left {
        float: left !important;
    }
    .pull-sm-right {
        float: right !important;
    }
    .pull-sm-none {
        float: none !important;
    }
}
@media (min-width: 992px) {
    .pull-md-left {
        float: left !important;
    }
    .pull-md-right {
        float: right !important;
    }
    .pull-md-none {
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .pull-lg-left {
        float: left !important;
    }
    .pull-lg-right {
        float: right !important;
    }
    .pull-lg-none {
        float: none !important;
    }
}
.pull-none {
    float: none !important;
}
