.logo {
  display: inline;
  width: 155px;
  height: 55px;
}

.simple-box-logo {
  display: block;
  margin: auto;
  position: relative;
  width: 240px;
  margin-bottom: 10px;
  height: 100px;
}


.tooltip.portainer-tooltip .tooltip-inner {
  font-family: Arial;
  background-color: #ffffff;
  padding: .833em 1em;
  color: #333333;
  border: 1px solid #d4d4d5;
  border-radius: .14285714rem;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
}