.container > hr {
    margin: 60px 0;
}

.jumbotron {
    margin: 80px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.masthead .nav {
    margin: 0;
    margin: 0 0 2em 0;
    width: 100%;
}

.masthead .nav.well {
    padding: 0;
}

.masthead .nav li {
    display: table-cell;
    float: none;
    width: 1%;
}

.masthead .nav li a {
    font-weight: bold;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(255,255,255,.75);
}

.masthead .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.masthead .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.btn-group button {
    margin: 3px;
}

.detail {
    width: 80%;
    margin: 0 auto;
}

.center {
    width: 100%;
    margin: 0 auto;
}

.btn-remove {
    max-width: 70%;
    margin: 0 auto;
}

.actions {
    margin: 0 auto;
}

.container-bottom {
    height: 50px;
}

.well {
    padding: 10px 15px 0 15px;
}

.messages {
    max-height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.legend .title {
    padding: 0 0.3em;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
}

.inline-four .form-control {
    max-width: 25%;
}

.dropdown {
    cursor: pointer;
}

.logo {
  display: inline;
  width: 100%;
  max-width: 155px;
  height: 100%;
  max-height: 55px;
  margin-bottom: 5px;
}

.containerNameInput {
  width: 85%;
  border:none;
  background:none;
  border-bottom: 1px solid black;
}

.containerNameInput:active, .containerNameInput:focus {
  outline:none;
}

#network-legend {
  text-align: center;
}

#network-legend span {
  display: inline;
  font-size: 18px;
}

.header_title_content {
  margin-left: 5px;
}

.form-horizontal .control-label.text-left{
    text-align: left;
    font-size: 0.9em;
}

input[type="checkbox"] {
  margin-top: 1px;
  vertical-align: middle;
}

input[type="radio"] {
  margin-top: 1px;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.text-icon {
  margin-right: 5px;
}

.fa.green-icon {
  color: #23ae89;
}

.fa.red-icon {
  color: #ae2323;
}

.fa.white-icon {
  color: white;
}

.image-tag {
  margin-right: 5px;
}

.label.tag {
  margin-right: 5px;
}

.widget .widget-body table tbody .image-tag {
  font-size: 90% !important;
}

.terminal-container {
  width: 100%;
  padding: 10px 5px;
}

.interactive {
  cursor: pointer;
}

.action-group {
  margin: 10px;
}

.btn-ico {
  margin-right: 5px;
}

.template-list {
  display: flex;
  flex-wrap: wrap;
}

.custom-header-ico {
  max-width: 16px;
  max-height: 16px;
}

.container-template {
  font-size: 1em;
  width: 256px;
  height: 128px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #f6f6f6;
  color: #30426a;
}

.container-template--selected {
  background-color: #f6f6f6;
  color: #2d3e63;
}

.container-template:hover {
  background-color: #f6f6f6;
  color: #2d3e63;
}

.container-template .logo {
  max-width: 48px;
  max-height: 48px;
}

.container-template .title {
  text-align: center;
}

.container-template .description {
  text-align: center;
  font-size: 0.8em;
}

.btn-responsive {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

@media screen and (min-width: 1107px) {
  .btn-responsive {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}
