html, body, #content-wrapper, .page-content, #view {
  height: 100%;
  width: 100%;
}

.white-space-normal {
  white-space: normal !important;
}

.btn-group button {
  margin: 3px;
}

.messages {
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.legend .title {
  padding: 0 0.3em;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
}

.logo {
  display: inline;
  width: 100%;
  max-width: 155px;
  height: 100%;
  max-height: 55px;
  margin-bottom: 5px;
}

.containerNameInput {
  width: 85%;
  border:none;
  background:none;
  border-bottom: 1px solid black;
}

.containerNameInput:active, .containerNameInput:focus {
  outline:none;
}

#network-legend {
  text-align: center;
}

#network-legend span {
  display: inline;
  font-size: 18px;
}

.header_title_content {
  margin-left: 5px;
}

.form-section-title {
  border-bottom: 1px solid #777;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #777;
}

.form-horizontal .control-label.text-left{
  text-align: left;
  font-size: 0.9em;
}

input[type="checkbox"] {
  margin-top: 1px;
  vertical-align: middle;
}

a[ng-click]{
  cursor: pointer;
}

.space-right {
  margin-right: 5px;
}

.fa.green-icon {
  color: #23ae89;
}

.tooltip.portainer-tooltip .tooltip-inner {
  font-family: Montserrat;
  background-color: #ffffff;
  padding: .833em 1em;
  color: #333333;
  border: 1px solid #d4d4d5;
  border-radius: .14285714rem;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
}

.tooltip.portainer-tooltip .tooltip-arrow {
  display: none;
}

.fa.tooltip-icon {
  margin-left: 5px;
  font-size: 1.3em;
  color: #337ab7;
}

.fa.red-icon {
  color: #ae2323;
}

.fa.orange-icon {
  color: #f0ad4e;
}

.fa.white-icon {
  color: white;
}

.widget .widget-body table tbody .image-tag {
  font-size: 90% !important;
  margin-right: 5px;
}

.widget .widget-body table tbody .fit-text-size {
  font-size: 90% !important;
}

.template-widget {
  height: 100%;
}

.template-widget-body {
  max-height: 86%;
  overflow-y: auto;
}

.template-list {
  display: flex;
  flex-direction: column;
}

.template-logo {
  width: 100%;
  max-width: 60px;
  height: 100%;
  max-height: 60px;
}

.template-container {
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 2px;
  box-shadow: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
}

.template-container--selected {
  border: 2px solid #333333;
  background-color: #ececec;
  color: #2d3e63;
}

.template-container:hover {
  background-color: #ececec;
  color: #2d3e63;
}

.template-main {
  display: flex;
}

.template-note {
  padding: 0.5em;
  font-size: 0.9em;
}

.template-title {
  font-size: 1.8em;
  font-weight: bold;
}

.template-description {
  font-size: 0.9em;
  padding-right: 1em;
}

.template-line {
  display: flex;
  justify-content: space-between;
}

.nopadding {
  padding: 0 !important;
}

.padding-top {
  padding-top: 15px !important;
}

.terminal-container {
  width: 100%;
  padding: 10px 5px;
}

.interactive {
  cursor: pointer;
}

.custom-header-ico {
  max-width: 32px;
  max-height: 32px;
  margin-right: 2px;
}

.btn-responsive {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

@media screen and (min-width: 1107px) {
  .btn-responsive {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}

.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.simple-box {
  margin-bottom: 80px;
}

.simple-box > div:first-child {
  padding-bottom: 10px;
}

.simple-box-logo {
  display: block;
  margin: auto;
  position: relative;
  width: 240px;
  margin-bottom: 10px;
}

.login-form > div {
  margin-bottom: 25px;
}

.login-form > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-body {
  padding-top: 30px;
  background-color: #ffffff;
}

.pagination-controls {
  margin-left: 10px;
}

.user-box {
  margin-right: 25px;
}

.select-endpoint {
  width: 80%;
  margin: 0 auto;
}

ul.sidebar {
  bottom: 40px;
}

ul.sidebar .sidebar-title {
  height: auto;
}

ul.sidebar .sidebar-list a.active {
  color: #fff;
  text-indent: 22px;
  border-left: 3px solid #fff;
  background: #2d3e63;
}

ul.sidebar .sidebar-list .sidebar-sublist a {
  text-indent: 35px;
  font-size: 12px;
  color: #b2bfdc;
  line-height: 40px;
}

ul.sidebar .sidebar-list .sidebar-sublist a.active {
  color: #fff;
  border-left: 3px solid #fff;
  background: #2d3e63;
}

@media(min-width: 768px) and (max-width: 992px) {
  .margin-sm-top {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .pull-sm-left {
    float: left !important;
  }
  .pull-sm-right {
    float: right !important;
  }
  .pull-sm-none {
    float: none !important;
  }
}
@media (min-width: 992px) {
  .pull-md-left {
    float: left !important;
  }
  .pull-md-right {
    float: right !important;
  }
  .pull-md-none {
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .pull-lg-left {
    float: left !important;
  }
  .pull-lg-right {
    float: right !important;
  }
  .pull-lg-none {
    float: none !important;
  }
}
.pull-none {
  float: none !important;
}

.bootbox-form .bootbox-input-checkbox {
  display: none
}

.bootbox-form label {
  padding-left: 0;
}

.switch input {
  display: none;
}

.bootbox-form .checkbox i {
  margin-left: 21px;
}

.switch i, .bootbox-form .checkbox i {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding-right: 24px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 24px;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,.5);
}

.switch i:before, .bootbox-form .checkbox i:before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: white;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
}

.switch :checked + i, .bootbox-form .checkbox :checked ~ i {
  padding-right: 0;
  padding-left: 24px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px #337ab7;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px #337ab7;
}

.boxselector_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem;
}

.boxselector_wrapper > div {
  flex: 1;
  padding: 0.5rem;
}

.boxselector_wrapper .boxselector_header {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.boxselector_wrapper input[type="radio"] {
  display: none;
}

.boxselector_wrapper input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}

.boxselector_wrapper label {
  font-weight: normal;
  font-size: 12px;
  display: block;
  background: white;
  border: 1px solid #333333;
  border-radius: 2px;
  padding: 10px 10px 0 10px;
  text-align: center;
  box-shadow: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

.boxselector_wrapper input[type="radio"]:checked + label {
  background: #337ab7;
  color: white;
  padding-top: 2rem;
  border-color: #337ab7;
}

.boxselector_wrapper input[type="radio"]:checked + label::after {
  color: #337ab7;
  font-family: FontAwesome;
  border: 2px solid #337ab7;
  content: "\f00c";
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 700px) {
  .boxselector_wrapper {
    flex-direction: column;
  }
}

/*bootbox override*/
.modal-open {
  padding-right: 0 !important;
}
/*!bootbox override*/

/*angular-multi-select override*/
.multiSelect > button {
  min-height: 30px !important;
  background-color: unset;
  background-image: unset;
}

.multiSelect .multiSelectItem:not(.multiSelectGroup).selected
{
  background-image: linear-gradient( #337ab7, #337ab7 );
  color: #fff;
  border: none;
}

.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
  background-image: linear-gradient( #337ab7 , #337ab7 ) !important;
  color: #fff !important;
}

.multiSelect .tickMark,
.widget .widget-body table tbody .multiSelect .tickMark {
  top: 2px;
  right: 12px;
  font-size: 20px !important;
}
/*!angular-multi-select override*/

/*toaster override*/
#toast-container > div {
  opacity: 0.9;
}
/*!toaster override*/
