<rd-header>
  <rd-header-title title-text="Create environment group"></rd-header-title>
  <rd-header-content> <a ui-sref="portainer.groups">Environment groups</a> &gt; Add group </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <group-form
          loaded="loaded"
          page-type="create"
          model="model"
          available-endpoints="availableEndpoints"
          available-tags="availableTags"
          associated-endpoints="associatedEndpoints"
          add-label-action="addLabel"
          remove-label-action="removeLabel"
          form-action="create"
          form-action-label="Create the group"
          action-in-progress="state.actionInProgress"
          on-create-tag="(onCreateTag)"
        ></group-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
