<rd-header>
  <rd-header-title title="Registry Browse"></rd-header-title>
  <rd-header-content>
    <a ui-sref="registries">Registries</a> &gt; <a ui-sref="registry.browse({id: registry.Id})">{{ registry.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <registry-repositories-datatable
    title="Repositories" title-icon="fa-database"
    dataset="repositories" table-key="repositories"
    order-by="name" show-text-filter="true"
    access-management="applicationState.application.authentication"
    remove-action="removeAction"
    registry-id="registry.Id"
    ></registry-repositories-datatable>
  </div>
</div>
