<rd-header>
  <rd-header-title title-text="Containers list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.containers" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Containers</rd-header-content>
</rd-header>

<div class="row" ng-if="ctrl.pods">
  <div class="col-sm-12">
    <kubernetes-pods-datatable
    title-text="Pods" title-icon="fa-cubes"
    dataset="ctrl.pods" table-key="kubernetes.pods"
    order-by="Name" 
    refresh-callback="ctrl.getPods"
    ></kubernetes-pods-datatable>
  </div>
</div>
