<rd-header>
  <rd-header-title title-text="Create config"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.configs">Configs</a> &gt; Add config </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="config_name" class="col-sm-1 control-label text-left">Name</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="ctrl.formValues.Name" id="config_name" placeholder="e.g. myConfig" />
            </div>
          </div>
          <!-- !name-input -->
          <!-- config-data -->
          <div class="form-group">
            <div class="col-sm-12" ng-if="ctrl.formValues.displayCodeEditor">
              <code-editor
                identifier="config-creation-editor"
                placeholder="Define or paste the content of your config here"
                yml="false"
                on-change="(ctrl.editorUpdate)"
                value="ctrl.formValues.Data"
              ></code-editor>
            </div>
          </div>
          <!-- !config-data -->
          <!-- labels -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px">
              <label class="control-label text-left">Labels</label>
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="ctrl.addLabel()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> add label
              </span>
            </div>
            <!-- labels-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="label in ctrl.formValues.Labels" style="margin-top: 2px">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">name</span>
                  <input type="text" class="form-control" ng-model="label.name" placeholder="e.g. com.example.foo" />
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">value</span>
                  <input type="text" class="form-control" ng-model="label.value" placeholder="e.g. bar" />
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="ctrl.removeLabel($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !labels-input-list -->
          </div>
          <!-- !labels-->
          <!-- access-control -->
          <por-access-control-form form-data="ctrl.formValues.AccessControlData"></por-access-control-form>
          <!-- !access-control -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title"> Actions </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="!ctrl.formValues.Name" ng-click="ctrl.create()">Create config</button>
              <span class="text-danger" ng-if="ctrl.state.formValidationError" style="margin-left: 5px">{{ ctrl.state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
