<rd-header>
  <rd-header-title title-text="Create secret"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.secrets">Secrets</a> &gt; Add secret </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="secret_name" class="col-sm-1 control-label text-left">Name</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="formValues.Name" id="secret_name" placeholder="e.g. mySecret" />
            </div>
          </div>
          <!-- !name-input -->
          <!-- secret-data -->
          <div class="form-group">
            <label for="secret_data" class="col-sm-1 control-label text-left">Secret</label>
            <div class="col-sm-11">
              <textarea class="form-control" rows="5" ng-model="formValues.Data"></textarea>
            </div>
          </div>
          <!-- !secret-data -->
          <!-- encode-secret -->
          <div class="form-group">
            <div class="col-sm-12">
              <label for="encode_secret" class="control-label text-left">
                Encode secret
                <portainer-tooltip position="bottom" message="Secrets need to be base64 encoded. Disable this if your secret is already base64 encoded."></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px"> <input type="checkbox" name="encode_secret" ng-model="formValues.encodeSecret" /><i></i> </label>
            </div>
          </div>
          <!-- !encode-secret -->
          <!-- labels -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px">
              <label class="control-label text-left">Labels</label>
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addLabel()"> <i class="fa fa-plus-circle" aria-hidden="true"></i> add label </span>
            </div>
            <!-- labels-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="label in formValues.Labels" style="margin-top: 2px">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">name</span>
                  <input type="text" class="form-control" ng-model="label.key" placeholder="e.g. com.example.foo" />
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">value</span>
                  <input type="text" class="form-control" ng-model="label.value" placeholder="e.g. bar" />
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeLabel($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !labels-input-list -->
          </div>
          <!-- !labels-->
          <!-- access-control -->
          <por-access-control-form form-data="formValues.AccessControlData"></por-access-control-form>
          <!-- !access-control -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title"> Actions </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !formValues.Name || !formValues.Data"
                ng-click="create()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">Create the secret</span>
                <span ng-show="state.actionInProgress">Creating secret...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
