<rd-header>
  <rd-header-title title-text="Registry repositories">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.registries.registry.repositories" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.registries">Registries</a> &gt; <a ng-if="isAdmin" ui-sref="portainer.registries.registry({id: registry.Id})" ui-sref-opts="{reload:true}">{{ registry.Name }}</a><span ng-if="!isAdmin">{{ registry.Name}}</span> &gt; Repositories
  </rd-header-content>
</rd-header>

<div class="row">
  <information-panel ng-if="state.displayInvalidConfigurationMessage" title-text="Registry management configuration required">
    <span class="small text-muted">
      <p>
        <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
        Portainer was not able to use this registry management features. You might need to update the configuration used by Portainer to access this registry.
      </p>
      <p>Note: Portainer registry management features are only supported with registries exposing the <a href="https://docs.docker.com/registry/spec/api/" target="_blank">v2 registry API</a>.</p>
      <div style="margin-top: 7px;">
        <a ui-sref="portainer.registries.registry.configure({id: registry.Id})">
          <i class="fa fa-wrench" aria-hidden="true"></i> Configure this registry
        </a>
      </div>
    </span>
  </information-panel>
</div>

<div class="row" ng-if="repositories">
  <div class="col-sm-12">
    <registry-repositories-datatable
      title-text="Repositories" title-icon="fa-book"
      dataset="repositories" table-key="registryRepositories"
      order-by="Name" pagination-action="paginationAction" loading="state.loading">
    </registry-repositories-datatable>
  </div>
</div>
