<rd-header>
  <rd-header-title title-text="Create Edge job"></rd-header-title>
  <rd-header-content> <a ui-sref="edge.jobs">Edge Jobs</a> &gt; Create Edge job </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <edge-job-form
          model="model"
          groups="groups"
          tags="tags"
          form-action="create"
          form-action-label="Create edge job"
          action-in-progress="state.actionInProgress"
        ></edge-job-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
