.status-indicator {
  padding: 0 !important;
  margin-right: 1ch;
  border-radius: 50%;
  background-color: #ae2323;
  height: 10px;
  width: 10px;
  display: inline-block;
}

.ok {
  background-color: #23ae89;
}
