<rd-header>
  <rd-header-title title="Project details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="project({id: project.Id, content: project.Content})" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="projects">Projects</a>
  </rd-header-content>
</rd-header>

<div class="row" ng-if="!operationStatus">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-hdd-o" title="Operations"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Summary</td>
              <td>Checking...</td>
            </tr>
            <tr>
              <td>Messages</td>
              <td>No updates</td>
            </tr>
            <tr>
              <td>Errors</td>
              <td>No updates</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="operationStatus">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-hdd-o" title="Operations"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Summary</td>
              <td>{{ operationStatus.Name }}</td>
            </tr>
            <tr ng-if="!messages">
              <td>Messages</td>
              <td>No updates</td>
            </tr>
            <tr ng-if="!errors">
              <td>Errors</td>
              <td>No updates</td>
            </tr>
            <tr ng-if="messages">
              <td>Messages</td>
              <td>
                <table class="table">
                  <tbody>
                    <tr dir-paginate="message in ( messages | itemsPerPage: state.pagination_count)">
                      <td>{{ message.Name }}:</td>
                      <td ng-if="messages">
                        <table class="table">
                          <tbody>
                            <tr dir-paginate="messageEntry in ( message.Messages | itemsPerPage: state.pagination_count)">
                              <td>{{ messageEntry }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr ng-if="errors">
              <td>Errors</td>
              <td>
                <table class="table">
                  <tbody>
                    <tr dir-paginate="error in ( errors | itemsPerPage: state.pagination_count)">
                      <td>{{ error.Name }}:</td>
                      <td ng-if="errors">
                        <table class="table">
                          <tbody>
                            <tr dir-paginate="errorEntry in ( error.Errors | itemsPerPage: state.pagination_count)">
                              <td>{{ errorEntry }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>


<div class="row" ng-if="!project">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div ng-if="loading">
      <i class="fa fa-cog fa-spin"></i> Loading...
    </div>

    <rd-widget ng-if="!loading">
      <rd-widget-header icon="fa-object-group" title="Project does not exist"></rd-widget-header>
      <rd-widget-body>
        <p>It looks like the project you wish to inspect does not exist.</p>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="project">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Project description"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td><a class="btn btn-primary" type="button" ng-click="render()">Render</a></td>
              <td><a class="btn btn-primary" type="button" ng-click="createStack(project.Id, project.Content)">Create Stack</a></td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ project.Name }}</td>
            </tr>
            <tr>
              <td>Version</td>
              <td>{{ project.Release }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="projectImg">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title="Topology"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <img data-ng-src="data:image/png;base64,{{projectImg}}">
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

</div>
