<form class="form-horizontal" style="margin-top: 15px">
  <div class="col-sm-12 form-section-title"> Container capabilities </div>
  <div class="form-group">
    <div ng-repeat="cap in $ctrl.capabilities" class="col-xs-12 col-sm-6 col-md-4">
      <div class="row">
        <div class="col-xs-8">
          <label for="capability" class="control-label text-left" style="display: flex; padding: 0">
            {{ cap.capability }}
            <portainer-tooltip position="bottom" message="{{ cap.description }}"></portainer-tooltip>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="switch"> <input type="checkbox" name="capability" ng-model="cap.allowed" /><i></i> </label>
        </div>
      </div>
    </div>
  </div>
</form>
