<form class="form-horizontal" style="margin-top: 15px">
  <div class="col-sm-12 form-section-title"> Container capabilities </div>
  <div class="form-group flex flex-wrap gap-y-2 px-5">
    <div ng-repeat="cap in $ctrl.capabilities" class="w-1/3 text-center">
      <por-switch-field
        label-class="'col-sm-6'"
        tooltip="cap.description"
        checked="cap.allowed"
        label="cap.capability"
        name="'capability'"
        on-change="($ctrl.capabilitiesOnChange[cap.capability])"
      ></por-switch-field>
    </div>
  </div>
</form>
