<span ng-if="$ctrl.state.running">
  <label class="label label-success">Running</label> Started at {{ $ctrl.state.running.startedAt | getisodate }}
</span>
<span ng-if="$ctrl.state.waiting">
  <label class="label label-warning">Waiting</label> {{ $ctrl.state.waiting.message }}
</span>
<span ng-if="$ctrl.state.terminated">
  <label class="label label-info">Terminated</label> Code {{ $ctrl.state.terminated.exitCode }} at {{ $ctr.state.terminated.finishedAt | getisodate }}: {{ $ctrl.state.terminated.reason }}
</span>
<span ng-if="!$ctrl.state.running && !$ctrl.state.waiting && !$ctrl.state.terminated">
  <i class="fa fa-exclamation-triangle red-icon"></i> Unknown state
</span>