<button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.connectConsole()" ng-disabled="ctrl.state.connected">
  <i class="fa fa-terminal"></i>
  Kubectl Shell
</button>
<div ng-if="checked" class="{{ css }}-kubectl-shell">
  <div class="shell-container">
    <div class="shell-item">Kubectl Shell</div>
    <div class="shell-item-center">
      <a href="">Download Kubeconfig</a>
    </div>
    <div class="shell-item-right">
      <i class="fas fa-redo-alt" ng-click="ctrl.screenclear();"></i>
      <i class="fas {{ icon }}" ng-click="ctrl.mini_restore();"></i>
      <i class="fas fa-times" ng-click="ctrl.disconnect()"></i>
    </div>
  </div>
  <div>
    <div style="padding: 0px;">
      <div>
        <div id="terminal-container" class="terminal-container">
          <div style="position: fixed; color: #fff;">Loading Terminal...</div>
        </div>
      </div>
    </div>
  </div>
</div>
