.badge {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 6px;
  height: 6px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.notification-container {
  display: flex;
  border-bottom: 1px solid var(--ui-gray-4);
  padding: 5px 10px;
  margin-bottom: 15px;
}

.item-last {
  margin-left: auto;
}

.container {
  display: flex;
}
.notificationIcon {
  flex-basis: 5rem;
  width: 5rem;
}
.notificationBody {
  flex-basis: 30rem;
}
.deleteButton {
  flex-basis: 5rem;
}

.container > div {
  padding: 0px 10px;
  margin: auto;
}

.notification-title {
  font-weight: 700;
}

.notification-link {
  border-top: 1px solid var(--ui-gray-4);
  padding: 10px;
  text-align: center;
}
