<page-header
  ng-if="$ctrl.state.viewReady"
  title="'Helm details'"
  breadcrumbs="[{label:'Applications', link:'kubernetes.applications'}, $ctrl.state.params.name]"
  reload="true"
></page-header>

<kubernetes-view-loading view-ready="$ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="$ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-header icon="svg-helm" title-text="Release"></rd-widget-header>
        <div class="toolBarTitle text-muted small vertical-center px-5 pb-5 !gap-0">
          <pr-icon icon="'svg-flask'" mode="'warning'" class-name="'!mr-1'" class="vertical-center"></pr-icon>
          This is a first version for Helm charts, for more information see this&nbsp;
          <a href="https://www.portainer.io/blog/portainer-now-with-helm-support" target="_blank" class="text-blue-8 hover:text-blue-8 hover:underline">blog post</a>.
        </div>
        <rd-widget-body>
          <table class="table">
            <tbody class="release-table">
              <tr>
                <td class="vertical-center !p-2">Name</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.name }}
                </td>
              </tr>
              <tr>
                <td class="vertical-center !p-2">Chart</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.chart }}
                </td>
              </tr>
              <tr>
                <td class="vertical-center !p-2">App version</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.app_version }}
                </td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
