<page-header
  ng-if="$ctrl.state.viewReady"
  title="'Helm details'"
  breadcrumbs="[{label:'Applications', link:'kubernetes.applications'}, $ctrl.state.params.name]"
  reload="true"
></page-header>

<kubernetes-view-loading view-ready="$ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="$ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <div class="toolBar vertical-center w-full flex-wrap !gap-x-5 !gap-y-1 p-5">
          <div class="toolBarTitle vertical-center">
            <div class="widget-icon space-right">
              <pr-icon icon="'svg-helm'"></pr-icon>
            </div>

            Release
          </div>
        </div>
        <div class="toolBarTitle vertical-center !gap-0 px-5">
          <beta-alert
            is-html="true"
            message="'Beta feature - initial version of Helm charts functionality, for more information see this <a href=\'https://www.portainer.io/blog/portainer-now-with-helm-support\' target=\'_blank\' class=\'hyperlink\'>blog post</a>.'"
          ></beta-alert>
        </div>
        <rd-widget-body>
          <table class="table">
            <tbody class="release-table">
              <tr>
                <td class="vertical-center !pl-0">Name</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.name }}
                </td>
              </tr>
              <tr>
                <td class="vertical-center !pl-0">Chart</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.chart }}
                </td>
              </tr>
              <tr>
                <td class="vertical-center !pl-0">App version</td>
                <td class="vertical-center !p-2">
                  {{ $ctrl.state.release.app_version }}
                </td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
