<rd-header>
  <rd-header-title title="Container console">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content ng-if="state.loaded">
    <a ui-sref="containers">Containers</a> > <a ui-sref="container({id: container.Id})">{{ container.Name|trimcontainername }}</a> > Console
  </rd-header-content>
</rd-header>

<div class="row" ng-if="state.loaded">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-terminal" title="Console">
        <div class="pull-right">
          <i id="loadConsoleSpinner" class="fa fa-cog fa-2x fa-spin" style="margin-top: 5px; display: none;"></i>
        </div>
      </rd-widget-header>
      <rd-widget-body>
        <form>
          <div class="row">
            <!-- command-list -->
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-linux" aria-hidden="true" ng-if="imageOS == 'linux'"></i>
                  <i class="fa fa-windows" aria-hidden="true" ng-if="imageOS == 'windows'"></i>
                </span>
                <select class="form-control" ng-model="state.command" id="command">
                  <option value="bash" ng-if="imageOS == 'linux'">/bin/bash</option>
                  <option value="sh" ng-if="imageOS == 'linux'">/bin/sh</option>
                  <option value="powershell" ng-if="imageOS == 'windows'">powershell</option>
                  <option value="cmd.exe" ng-if="imageOS == 'windows'">cmd.exe</option>
                </select>
              </div>
            </div>
            <!-- !command-list -->
            <div class="col-sm-8">
              <button type="button" class="btn btn-primary" ng-click="connect()" ng-disabled="state.connected">Connect</button>
              <button type="button" class="btn btn-default" ng-click="disconnect()" ng-disabled="!state.connected">Disconnect</button>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div id="terminal-container" class="terminal-container"></div>
  </div>
</div>
