.selected .mask-icon {
  color: var(--selected-item-color);
}

:global(:root[theme='highcontrast']) .mask-icon,
:global(:root[theme='dark']) .mask-icon {
  color: var(--bg-boxselector-wrapper-disabled-color);
}

.mask-icon {
  color: var(--bg-boxselector-color);
  transform: scale(1.2);
}
