<information-panel title-text="Offline mode" cant-dismiss="true">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px"></i>
      This environment is currently offline (read-only). Data shown is based on the latest available snapshot.
    </p>
    <p class="text-muted">
      <i class="fa fa-clock" aria-hidden="true" style="margin-right: 2px"></i>
      Last snapshot: {{ $ctrl.snapshotTime | getisodatefromtimestamp }}
    </p>
    <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.triggerSnapshot()" ng-if="$ctrl.showRefreshButton">
      <i class="fa fa-sync space-right" aria-hidden="true"></i>Refresh
    </button>
  </span>
</information-panel>
