<kubernetes-view-header title="Volume list" state="kubernetes.volumes" view-ready="ctrl.state.viewReady">
  Volumes
</kubernetes-view-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <kubernetes-volumes-datatable title-text="Volumes" title-icon="fa-database" dataset="ctrl.volumes" table-key="kubernetes.volumes"
        order-by="PersistentVolumeClaim.Name" remove-action="ctrl.removeAction" refresh-callback="ctrl.getVolumes">
      </kubernetes-volumes-datatable>
    </div>
  </div>
</div>
