<rd-header>
  <rd-header-title title-text="KVM Control"></rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.endpoints">Environments</a> &gt; <a ui-sref="portainer.endpoints.endpoint({id: $state.endpoint.Id})">{{ $state.endpoint.Name }}</a> &gt;
    {{ $state.deviceName }} > KVM Control
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <div class="datatable">
      <rd-widget>
        <rd-widget-body classes="no-padding">
          <div class="toolBar">
            <div class="toolBarTitle">KVM Control</div>
          </div>
          <div class="actionBar">
            <kvm-control device-id="$state.deviceId" server="$state.mpsServer" token="$state.mpsToken"> </kvm-control>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
