<rd-header>
  <rd-header-title title-text="Edge Devices">
    <a data-toggle="tooltip" title="Refresh" ui-sref="edge.devices" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Edge Devices</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <edge-devices-datatable
      dataset="(edgeDevices)"
      is-add-action-visible="true"
      on-refresh="(getEnvironments)"
    ></edge-devices-datatable>
  </div>
</div>
