<page-header title="'Namespace list'" breadcrumbs="['Namespaces summary']" reload="true"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="layers" feather-icon="true" title-text="Namespace"> </rd-widget-header>
      <rd-widget-body>
        <div class="dashboard-grid-4 mx-3">
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'nginx'" value="1"></dashboard-item>
          </a>
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'bisna-v1.0'" value="5"></dashboard-item>
          </a>
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'bisna-v1.2'" value="2"></dashboard-item>
          </a>
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'bisna-v1.4'" value="3"></dashboard-item>
          </a>
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'unity3d-x64'" value="3"></dashboard-item>
          </a>
          <a ui-sref="docker.volumes">
            <dashboard-item feather-icon="true" icon="'codepen'" type="'unity3d-webGL'" value="3"></dashboard-item>
          </a>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
