<rd-header>
  <rd-header-title title-text="Import image"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.images">Images</a> &gt; Import image </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- upload -->
          <div class="col-sm-12 form-section-title"> Upload </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small"> You can upload a tar archive containing your images. </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-sm btn-primary" ngf-select ngf-min-size="10" ng-model="formValues.UploadFile">Select file</button>
              <span style="margin-left: 5px">
                {{ formValues.UploadFile.name }}
                <i class="fa fa-times red-icon" ng-if="!formValues.UploadFile" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <!-- !upload -->
          <div ng-if="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
            <div class="col-sm-12 form-section-title"> Deployment </div>
            <!-- node-selection -->
            <node-selector model="formValues.NodeName"> </node-selector>
            <!-- !node-selection -->
          </div>
          <div class="row" authorization="DockerImageCreate">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <rd-widget>
                <rd-widget-header icon="fa-tag" title-text="Tag the image"></rd-widget-header>
                <rd-widget-body>
                  <!-- image-and-registry -->
                  <por-image-registry
                    model="formValues.RegistryModel"
                    label-class="col-sm-1"
                    input-class="col-sm-11"
                    endpoint="endpoint"
                    is-admin="isAdmin"
                    set-validity="setPullImageValidity"
                    check-rate-limits="true"
                  ></por-image-registry>
                </rd-widget-body>
              </rd-widget>
            </div>
          </div>
          <!-- actions -->
          <div class="col-sm-12 form-section-title"> Actions </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !formValues.UploadFile"
                ng-click="uploadImage()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">Upload</span>
                <span ng-show="state.actionInProgress">Images uploading in progress...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
