<rd-header>
  <rd-header-title title="Service list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="services" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadServicesSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>Services</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-list-alt" title="Services">
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </rd-widget-header>
      <rd-widget-taskbar classes="col-lg-12 col-md-12 col-xs-12">
        <div class="pull-left">
          <button type="button" class="btn btn-danger" ng-click="removeAction()" ng-disabled="!state.selectedItemCount"><i class="fa fa-trash space-right" aria-hidden="true"></i>Remove</button>
          <a class="btn btn-default btn-responsive" type="button" ui-sref="actions.create.service">Add service</a>
        </div>
        <div class="pull-right">
          <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control input-sm" />
        </div>
      </rd-widget-taskbar>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <th></th>
              <th>
                <a ui-sref="services" ng-click="order('Name')">
                  Name
                  <span ng-show="sortType == 'Name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="services" ng-click="order('Image')">
                  Image
                  <span ng-show="sortType == 'Image' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Image' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="services" ng-click="order('Mode')">
                  Scheduling mode
                  <span ng-show="sortType == 'Mode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Mode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
            </thead>
            <tbody>
              <tr dir-paginate="service in (state.filteredServices = ( services | filter:state.filter | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))">
                <td><input type="checkbox" ng-model="service.Checked" ng-change="selectItem(service)"/></td>
                <td><a ui-sref="service({id: service.Id})">{{ service.Name }}</a></td>
                <td>{{ service.Image | hideshasum }}</td>
                <td>
                  {{ service.Mode }}
                  <span ng-if="service.Mode === 'replicated' && !service.Scale">
                    <code data-toggle="tooltip" title="Replicas">{{ service.Replicas }}</code>
                    <a class="interactive" ng-click="service.Scale = true; service.ReplicaCount = service.Replicas;"><i class="fa fa-arrows-v" aria-hidden="true"></i> Scale</a>
                  </span>
                  <span ng-if="service.Mode === 'replicated' && service.Scale">
                    <input class="input-sm" type="number" ng-model="service.Replicas" />
                    <a class="interactive" ng-click="service.Scale = false;"><i class="fa fa-times"></i></a>
                    <a class="interactive" ng-click="scaleService(service)"><i class="fa fa-check-square-o"></i></a>
                  </span>
                </td>
              </tr>
              <tr ng-if="!services">
                <td colspan="4" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="services.length == 0">
                <td colspan="4" class="text-center text-muted">No services available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="services" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>
