<rd-header>
  <rd-header-title title="Service list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="services" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Services</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-list-alt" title="Services">
        <div class="pull-right">
          <i id="loadServicesSpinner" class="fa fa-cog fa-2x fa-spin" style="margin-top: 5px;"></i>
        </div>
      </rd-widget-header>
      <rd-widget-taskbar classes="col-lg-12 col-md-12 col-xs-12">
        <div class="pull-left">
          <button type="button" class="btn btn-danger" ng-click="removeAction()" ng-disabled="!state.selectedItemCount"><i class="fa fa-trash btn-ico" aria-hidden="true"></i>Remove</button>
          <a class="btn btn-default btn-responsive" type="button" ui-sref="actions.create.service">Add service</a>
        </div>
        <div class="pull-right">
          <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control input-sm" />
        </div>
      </rd-widget-taskbar>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <th></th>
              <th>
                <a ui-sref="services" ng-click="order('Name')">
                  Name
                  <span ng-show="sortType == 'Name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="services" ng-click="order('Image')">
                  Image
                  <span ng-show="sortType == 'Image' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Image' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th>
                <a ui-sref="services" ng-click="order('Replicas')">
                  Replicas
                  <span ng-show="sortType == 'Replicas' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'Replicas' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
            </thead>
            <tbody>
              <tr ng-repeat="service in (state.filteredServices = ( services | filter:state.filter | orderBy:sortType:sortReverse))">
                <td><input type="checkbox" ng-model="service.Checked" ng-change="selectItem(service)"/></td>
                <td><a ui-sref="service({id: service.Id})">{{ service.Name }}</a></td>
                <td>{{ service.Image }}</td>
                <td>{{ service.Replicas }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>
