<rd-widget>
  <rd-widget-header icon="svg-tachometer" title-text="Cluster information"></rd-widget-header>
  <rd-widget-body classes="!px-5 !py-0">
    <table class="table">
      <tbody>
        <tr>
          <td>Nodes in the cluster</td>
          <td>{{ $ctrl.agentCount }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="btn-group" role="group" aria-label="...">
              <a ui-sref="docker.swarm.visualizer" class="vertical-center"><pr-icon icon="'trello'" feather="true" class-name="'icon'"></pr-icon>Go to cluster visualizer</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </rd-widget-body>
</rd-widget>
