<page-header title="'Environments'" breadcrumbs="['Environment management']" reload="true"> </page-header>

<view-loading ng-if="$ctrl.state.loadingMessage" message="$ctrl.state.loadingMessage"></view-loading>

<div class="row" ng-if="!$ctrl.state.loadingMessage">
  <div class="col-sm-12">
    <endpoints-datatable
      title-text="Environments"
      title-icon="hard-drive"
      table-key="$ctrl.endpoints"
      order-by="Name"
      remove-action="$ctrl.removeAction"
      retrieve-page="$ctrl.getPaginatedEndpoints"
      set-loading-message="$ctr.setLoadingMessage"
    ></endpoints-datatable>
  </div>
</div>
