<rd-header>
  <rd-header-title title="Engine overview">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Docker</rd-header-content>
</rd-header>
<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon pull-left">
          <i class="fa fa-code"></i>
        </div>
        <div class="title">{{ docker.Version }}</div>
        <div class="comment">Docker version</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon pull-left">
          <i class="fa fa-code"></i>
        </div>
        <div class="title">{{ docker.ApiVersion }}</div>
        <div class="comment">API version</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon pull-left">
          <i class="fa fa-code"></i>
        </div>
        <div class="title">{{ docker.GoVersion }}</div>
        <div class="comment">Go version</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title="Engine status"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Containers</td>
              <td>{{ info.Containers }}</td>
            </tr>
            <tr>
              <td>Images</td>
              <td>{{ info.Images }}</td>
            </tr>
            <tr>
              <td>Debug</td>
              <td>{{ info.Debug }}</td>
            </tr>
            <tr>
              <td>CPUs</td>
              <td>{{ info.NCPU }}</td>
            </tr>
            <tr>
              <td>Total Memory</td>
              <td>{{ info.MemTotal|humansize }}</td>
            </tr>
            <tr>
              <td>Operating System</td>
              <td>{{ info.OperatingSystem }}</td>
            </tr>
            <tr>
              <td>Kernel Version</td>
              <td>{{ info.KernelVersion }}</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>{{ info.ID }}</td>
            </tr>
            <tr>
              <td>Labels</td>
              <td>{{ info.Labels }}</td>
            </tr>
            <tr>
              <td>File Descriptors</td>
              <td>{{ info.NFd }}</td>
            </tr>
            <tr>
              <td>Goroutines</td>
              <td>{{ info.NGoroutines }}</td>
            </tr>
            <tr>
              <td>Storage Driver</td>
              <td>{{ info.Driver }}</td>
            </tr>
            <tr>
              <td>Storage Driver Status</td>
              <td>
                <p ng-repeat="val in info.DriverStatus">
                  {{ val[0] }}: {{ val[1] }}
                </p>
              </td>
            </tr>
            <tr>
              <td>Execution Driver</td>
              <td>{{ info.ExecutionDriver }}</td>
            </tr>
            <tr>
              <td>IPv4 Forwarding</td>
              <td>{{ info.IPv4Forwarding }}</td>
            </tr>
            <tr>
              <td>Index Server Address</td>
              <td>{{ info.IndexServerAddress }}</td>
            </tr>
            <tr>
              <td>Init Path</td>
              <td>{{ info.InitPath }}</td>
            </tr>
            <tr>
              <td>Docker Root Directory</td>
              <td>{{ info.DockerRootDir }}</td>
            </tr>
            <tr>
              <td>Init SHA1</td>
              <td>{{ info.InitSha1 }}</td>
            </tr>
            <tr>
              <td>Memory Limit</td>
              <td>{{ info.MemoryLimit }}</td>
            </tr>
            <tr>
              <td>Swap Limit</td>
              <td>{{ info.SwapLimit }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
