<rd-header>
  <rd-header-title title="Endpoint details">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="endpoints">Endpoints</a> > <a ui-sref="endpoint({id: endpoint.Id})">{{ endpoint.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-3 col-lg-2 control-label text-left">Name</label>
            <div class="col-sm-9 col-lg-10">
              <input type="text" class="form-control" id="container_name" ng-model="endpoint.Name" placeholder="e.g. docker-prod01">
            </div>
          </div>
          <!-- !name-input -->
          <!-- endpoint-url-input -->
          <div class="form-group">
            <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
              Endpoint URL
              <portainer-tooltip position="bottom" message="URL or IP address of a Docker host. The Docker API must be exposed over a TCP port. Please refer to the Docker documentation to configure it."></portainer-tooltip>
            </label>
            <div class="col-sm-9 col-lg-10">
              <input ng-disabled="endpointType === 'local'" type="text" class="form-control" id="endpoint_url" ng-model="endpoint.URL" placeholder="e.g. 10.0.0.10:2375 or mydocker.mydomain.com:2375">
            </div>
          </div>
          <!-- !endpoint-url-input -->
          <!-- endpoint-url-publish-input -->
          <div class="form-group">
            <label for="endpoint_url_publish" class="col-sm-3 col-lg-2 control-label text-left">
              Public IP
              <portainer-tooltip position="bottom" message="URL or IP address where the services will be exposed."></portainer-tooltip>
            </label>
            <div class="col-sm-9 col-lg-10">
              <input ng-disabled="endpointType === 'local'" type="text" class="form-control" id="endpoint_url_publish" ng-model="endpoint.URLPublish" placeholder="e.g. 10.0.0.10 or mydocker.mydomain.com">
            </div>
          </div>
          <!-- !endpoint-url-publish-input -->
          <!-- tls-checkbox -->
          <div class="form-group" ng-if="endpointType === 'remote'">
            <div class="col-sm-12">
              <label for="tls" class="control-label text-left">
                TLS
                <portainer-tooltip position="bottom" message="Enable this option if you need to specify TLS certificates to connect to the Docker endpoint."></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" ng-model="endpoint.TLS"><i></i>
              </label>
            </div>
          </div>
          <!-- !tls-checkbox -->
          <!-- tls-certs -->
          <div ng-if="endpoint.TLS">
            <!-- ca-input -->
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">TLS CA certificate</label>
              <div class="col-sm-10">
                <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCACert">Select file</button>
                <span style="margin-left: 5px;">
                  <span ng-if="formValues.TLSCACert !== endpoint.TLSCACert">{{ formValues.TLSCACert.name }}</span>
                  <i class="fa fa-check green-icon" ng-if="formValues.TLSCACert && formValues.TLSCACert === endpoint.TLSCACert" aria-hidden="true"></i>
                  <i class="fa fa-times red-icon" ng-if="!formValues.TLSCACert" aria-hidden="true"></i>
                  <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                </span>
              </div>
            </div>
            <!-- !ca-input -->
            <!-- cert-input -->
            <div class="form-group">
              <label for="tls_cert" class="col-sm-2 control-label text-left">TLS certificate</label>
              <div class="col-sm-10">
                <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCert">Select file</button>
                <span style="margin-left: 5px;">
                  <span ng-if="formValues.TLSCert !== endpoint.TLSCert">{{ formValues.TLSCert.name }}</span>
                  <i class="fa fa-check green-icon" ng-if="formValues.TLSCert && formValues.TLSCert === endpoint.TLSCert" aria-hidden="true"></i>
                  <i class="fa fa-times red-icon" ng-if="!formValues.TLSCert" aria-hidden="true"></i>
                  <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                </span>
              </div>
            </div>
            <!-- !cert-input -->
            <!-- key-input -->
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">TLS key</label>
              <div class="col-sm-10">
                <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSKey">Select file</button>
                <span style="margin-left: 5px;">
                  <span ng-if="formValues.TLSKey !== endpoint.TLSKey">{{ formValues.TLSKey.name }}</span>
                  <i class="fa fa-check green-icon" ng-if="formValues.TLSKey && formValues.TLSKey === endpoint.TLSKey" aria-hidden="true"></i>
                  <i class="fa fa-times red-icon" ng-if="!formValues.TLSKey" aria-hidden="true"></i>
                  <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                </span>
              </div>
            </div>
            <!-- !key-input -->
          </div>
          <!-- !tls-certs -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="!endpoint.Name || !endpoint.URL || (endpoint.TLS && (!formValues.TLSCACert || !formValues.TLSCert || !formValues.TLSKey))" ng-click="updateEndpoint()">Update endpoint</button>
              <a type="button" class="btn btn-default btn-sm" ui-sref="endpoints">Cancel</a>
              <i id="updateEndpointSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
              <span class="text-danger" ng-if="state.error" style="margin: 5px;">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ state.error }}
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
