<div class="datatable">
  <rd-widget>
    <rd-widget-body classes="no-padding">
      <div class="toolBar">
        <div class="toolBarTitle"> <i class="fa" ng-class="$ctrl.titleIcon" aria-hidden="true" style="margin-right: 2px;"></i> {{ $ctrl.titleText }} </div>
        <div class="settings">
          <datatable-columns-visibility columns="$ctrl.columnVisibility.columns" on-change="($ctrl.onColumnVisibilityChange)"></datatable-columns-visibility>

          <span class="setting" ng-class="{ 'setting-active': $ctrl.settings.open }" uib-dropdown dropdown-append-to-body auto-close="disabled" is-open="$ctrl.settings.open">
            <span uib-dropdown-toggle><i class="fa fa-cog" aria-hidden="true"></i> Settings</span>
            <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <div class="tableMenu">
                <div class="menuHeader">
                  Table settings
                </div>
                <div class="menuContent">
                  <div class="md-checkbox">
                    <input id="setting_container_trunc" type="checkbox" ng-model="$ctrl.settings.truncateContainerName" ng-change="$ctrl.onSettingsContainerNameTruncateChange()" />
                    <label for="setting_container_trunc">Truncate container name</label>
                  </div>
                  <div>
                    <div class="md-checkbox">
                      <input id="setting_auto_refresh" type="checkbox" ng-model="$ctrl.settings.repeater.autoRefresh" ng-change="$ctrl.onSettingsRepeaterChange()" />
                      <label for="setting_auto_refresh">Auto refresh</label>
                    </div>
                    <div ng-if="$ctrl.settings.repeater.autoRefresh">
                      <label for="settings_refresh_rate">
                        Refresh rate
                      </label>
                      <select id="settings_refresh_rate" ng-model="$ctrl.settings.repeater.refreshRate" ng-change="$ctrl.onSettingsRepeaterChange()" class="small-select">
                        <option value="10">10s</option>
                        <option value="30">30s</option>
                        <option value="60">1min</option>
                        <option value="120">2min</option>
                        <option value="300">5min</option>
                      </select>
                      <span>
                        <i id="refreshRateChange" class="fa fa-check green-icon" aria-hidden="true" style="margin-top: 7px; display: none;"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div authorization="DockerContainerStats, DockerContainerLogs, DockerExecStart, DockerContainerInspect, DockerTaskInspect, DockerTaskLogs, DockerContainerAttach">
                  <div class="menuHeader">
                    Quick actions
                  </div>
                  <div class="menuContent">
                    <div class="md-checkbox" authorization="DockerContainerStats">
                      <input id="setting_show_stats" type="checkbox" ng-model="$ctrl.settings.showQuickActionStats" ng-change="$ctrl.onSettingsQuickActionChange()" />
                      <label for="setting_show_stats">Stats</label>
                    </div>
                    <div class="md-checkbox" authorization="DockerContainerLogs">
                      <input id="setting_show_logs" type="checkbox" ng-model="$ctrl.settings.showQuickActionLogs" ng-change="$ctrl.onSettingsQuickActionChange()" />
                      <label for="setting_show_logs">Logs</label>
                    </div>
                    <div class="md-checkbox" authorization="DockerExecStart">
                      <input id="setting_show_console" type="checkbox" ng-model="$ctrl.settings.showQuickActionExec" ng-change="$ctrl.onSettingsQuickActionChange()" />
                      <label for="setting_show_console">Console</label>
                    </div>
                    <div class="md-checkbox" authorization="DockerContainerInspect">
                      <input id="setting_show_inspect" type="checkbox" ng-model="$ctrl.settings.showQuickActionInspect" ng-change="$ctrl.onSettingsQuickActionChange()" />
                      <label for="setting_show_inspect">Inspect</label>
                    </div>
                    <div class="md-checkbox" authorization="DockerContainerAttach">
                      <input id="setting_show_attach" type="checkbox" ng-model="$ctrl.settings.showQuickActionAttach" ng-change="$ctrl.onSettingsQuickActionChange()" />
                      <label for="setting_show_attach">Attach</label>
                    </div>
                  </div>
                </div>
                <div>
                  <a type="button" class="btn btn-default btn-sm" ng-click="$ctrl.settings.open = false;">Close</a>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
      <containers-datatable-actions
        ng-if="!$ctrl.offlineMode"
        selected-items="$ctrl.state.selectedItems"
        selected-item-count="$ctrl.state.selectedItemCount"
        no-stopped-items-selected="$ctrl.state.noStoppedItemsSelected"
        no-running-items-selected="$ctrl.state.noRunningItemsSelected"
        no-paused-items-selected="$ctrl.state.noPausedItemsSelected"
        show-add-action="$ctrl.showAddAction"
      ></containers-datatable-actions>
      <div class="searchBar">
        <i class="fa fa-search searchIcon" aria-hidden="true"></i>
        <input
          type="text"
          class="searchInput"
          ng-model="$ctrl.state.textFilter"
          ng-change="$ctrl.onTextFilterChange()"
          placeholder="Search..."
          focus-if="!$ctrl.notAutoFocus"
          ng-model-options="{ debounce: 300 }"
        />
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-filters nowrap-cells">
          <thead>
            <tr>
              <th>
                <span
                  class="md-checkbox"
                  ng-if="!$ctrl.offlineMode"
                  authorization="DockerContainerStart, DockerContainerStop, DockerContainerKill, DockerContainerRestart, DockerContainerPause, DockerContainerUnpause, DockerContainerDelete, DockerContainerCreate"
                >
                  <input id="select_all" type="checkbox" ng-model="$ctrl.state.selectAll" ng-change="$ctrl.selectAll()" />
                  <label for="select_all"></label>
                </span>
                <a ng-click="$ctrl.changeOrderBy('Names')">
                  Name
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Names' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Names' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th uib-dropdown dropdown-append-to-body auto-close="disabled" is-open="$ctrl.filters.state.open" ng-show="$ctrl.columnVisibility.columns.state.display">
                <a ng-click="$ctrl.changeOrderBy('Status')">
                  State
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Status' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Status' && $ctrl.state.reverseOrder"></i>
                </a>
                <div>
                  <span uib-dropdown-toggle class="table-filter" ng-if="!$ctrl.filters.state.enabled">Filter <i class="fa fa-filter" aria-hidden="true"></i></span>
                  <span uib-dropdown-toggle class="table-filter filter-active" ng-if="$ctrl.filters.state.enabled">Filter <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
                <div class="dropdown-menu" uib-dropdown-menu>
                  <div class="tableMenu">
                    <div class="menuHeader">
                      Filter by state
                    </div>
                    <div class="menuContent">
                      <div class="md-checkbox" ng-repeat="filter in $ctrl.filters.state.values track by $index">
                        <input id="filter_state_{{ $index }}" type="checkbox" ng-model="filter.display" ng-change="$ctrl.onStateFilterChange()" />
                        <label for="filter_state_{{ $index }}">{{ filter.label }}</label>
                      </div>
                    </div>
                    <div>
                      <a type="button" class="btn btn-default btn-sm" ng-click="$ctrl.filters.state.open = false;">Close</a>
                    </div>
                  </div>
                </div>
              </th>
              <th
                ng-if="
                  $ctrl.settings.showQuickActionStats ||
                  $ctrl.settings.showQuickActionLogs ||
                  $ctrl.settings.showQuickActionExec ||
                  $ctrl.settings.showQuickActionAttach ||
                  $ctrl.settings.showQuickActionInspect
                "
                ng-show="$ctrl.columnVisibility.columns.actions.display"
                authorization="DockerContainerStats, DockerContainerLogs, DockerExecStart, DockerContainerInspect, DockerTaskInspect, DockerTaskLogs, DockerContainerAttach"
              >
                Quick actions
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.stack.display">
                <a ng-click="$ctrl.changeOrderBy('StackName')">
                  Stack
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'StackName' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'StackName' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.image.display">
                <a ng-click="$ctrl.changeOrderBy('Image')">
                  Image
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Image' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Image' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.created.display">
                <a ng-click="$ctrl.changeOrderBy('Created')">
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Created' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Created' && $ctrl.state.reverseOrder"></i>
                  Created
                </a>
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.ip.display">
                <a ng-click="$ctrl.changeOrderBy('IP')">
                  IP Address
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'IP' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'IP' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th ng-if="$ctrl.showHostColumn" ng-show="$ctrl.columnVisibility.columns.host.display">
                <a ng-click="$ctrl.changeOrderBy('NodeName')">
                  Host
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'NodeName' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'NodeName' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.ports.display">
                <a ng-click="$ctrl.changeOrderBy('Ports')">
                  Published Ports
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Ports' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'Ports' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
              <th ng-show="$ctrl.columnVisibility.columns.ownership.display">
                <a ng-click="$ctrl.changeOrderBy('ResourceControl.Ownership')">
                  Ownership
                  <i class="fa fa-sort-alpha-down" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'ResourceControl.Ownership' && !$ctrl.state.reverseOrder"></i>
                  <i class="fa fa-sort-alpha-up" aria-hidden="true" ng-if="$ctrl.state.orderBy === 'ResourceControl.Ownership' && $ctrl.state.reverseOrder"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              dir-paginate="item in ($ctrl.state.filteredDataSet = ($ctrl.dataset | filter: $ctrl.applyFilters | filter:$ctrl.state.textFilter | orderBy:$ctrl.state.orderBy:$ctrl.state.reverseOrder | itemsPerPage: $ctrl.state.paginatedItemLimit))"
              ng-class="{ active: item.Checked }"
            >
              <td>
                <span
                  class="md-checkbox"
                  ng-if="!$ctrl.offlineMode"
                  authorization="DockerContainerStart, DockerContainerStop, DockerContainerKill, DockerContainerRestart, DockerContainerPause, DockerContainerUnpause, DockerContainerDelete, DockerContainerCreate"
                >
                  <input id="select_{{ $index }}" type="checkbox" ng-model="item.Checked" ng-click="$ctrl.selectItem(item, $event)" />
                  <label for="select_{{ $index }}"></label>
                </span>
                <a ng-if="!$ctrl.offlineMode" ui-sref="docker.containers.container({ id: item.Id, nodeName: item.NodeName })" title="{{ item | containername }}">{{
                  item | containername | truncate: $ctrl.settings.containerNameTruncateSize
                }}</a>
                <span ng-if="$ctrl.offlineMode">{{ item | containername | truncate: $ctrl.settings.containerNameTruncateSize }}</span>
              </td>
              <td ng-show="$ctrl.columnVisibility.columns.state.display">
                <span
                  ng-if="['starting', 'healthy', 'unhealthy'].indexOf(item.Status) !== -1"
                  class="label label-{{ item.Status | containerstatusbadge }} interactive"
                  uib-tooltip="This container has a health check"
                  >{{ item.Status }}</span
                >
                <span ng-if="['starting', 'healthy', 'unhealthy'].indexOf(item.Status) === -1" class="label label-{{ item.Status | containerstatusbadge }}">{{ item.Status }}</span>
              </td>
              <td
                ng-if="
                  !$ctrl.offlineMode &&
                  ($ctrl.settings.showQuickActionStats ||
                    $ctrl.settings.showQuickActionLogs ||
                    $ctrl.settings.showQuickActionExec ||
                    $ctrl.settings.showQuickActionAttach ||
                    $ctrl.settings.showQuickActionInspect)
                "
                ng-show="$ctrl.columnVisibility.columns.actions.display"
                authorization="DockerContainerStats, DockerContainerLogs, DockerExecStart, DockerContainerInspect, DockerTaskInspect, DockerTaskLogs"
              >
                <container-quick-actions container-id="item.Id" node-name="item.NodeName" status="item.Status" state="$ctrl.settings"></container-quick-actions>
              </td>
              <td ng-if="$ctrl.offlineMode"> </td>
              <td ng-show="$ctrl.columnVisibility.columns.stack.display">{{ item.StackName ? item.StackName : '-' }}</td>
              <td ng-show="$ctrl.columnVisibility.columns.image.display">
                <a ng-if="!$ctrl.offlineMode" ui-sref="docker.images.image({ id: item.Image })">{{ item.Image | trimshasum }}</a>
                <span ng-if="$ctrl.offlineMode">{{ item.Image | trimshasum }}</span>
              </td>
              <td ng-show="$ctrl.columnVisibility.columns.created.display">
                {{ item.Created | getisodatefromtimestamp }}
              </td>
              <td ng-show="$ctrl.columnVisibility.columns.ip.display">{{ item.IP ? item.IP : '-' }}</td>
              <td ng-if="$ctrl.showHostColumn" ng-show="$ctrl.columnVisibility.columns.host.display">{{ item.NodeName ? item.NodeName : '-' }}</td>
              <td ng-show="$ctrl.columnVisibility.columns.ports.display">
                <a
                  ng-if="item.Ports.length > 0"
                  ng-repeat="p in item.Ports | unique: 'public'"
                  class="image-tag"
                  ng-href="http://{{ $ctrl.endpointPublicUrl || p.host }}:{{ p.public }}"
                  target="_blank"
                >
                  <i class="fa fa-external-link-alt" aria-hidden="true"></i> {{ p.public }}:{{ p.private }}
                </a>
                <span ng-if="item.Ports.length == 0">-</span>
              </td>
              <td ng-show="$ctrl.columnVisibility.columns.ownership.display">
                <span>
                  <i ng-class="item.ResourceControl.Ownership | ownershipicon" aria-hidden="true"></i>
                  {{ item.ResourceControl.Ownership ? item.ResourceControl.Ownership : item.ResourceControl.Ownership = $ctrl.RCO.ADMINISTRATORS }}
                </span>
              </td>
            </tr>
            <tr ng-if="!$ctrl.dataset">
              <td colspan="9" class="text-center text-muted">Loading...</td>
            </tr>
            <tr ng-if="$ctrl.state.filteredDataSet.length === 0">
              <td colspan="9" class="text-center text-muted">No container available.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer" ng-if="$ctrl.dataset">
        <div class="infoBar" ng-if="$ctrl.state.selectedItemCount !== 0"> {{ $ctrl.state.selectedItemCount }} item(s) selected </div>
        <div class="paginationControls">
          <form class="form-inline">
            <span class="limitSelector">
              <span style="margin-right: 5px;">
                Items per page
              </span>
              <select class="form-control" ng-model="$ctrl.state.paginatedItemLimit" ng-change="$ctrl.changePaginationLimit()" data-cy="component-paginationSelect">
                <option value="0">All</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </span>
            <dir-pagination-controls max-size="5"></dir-pagination-controls>
          </form>
        </div>
      </div>
    </rd-widget-body>
  </rd-widget>
</div>
