    <div style="margin-bottom: 0">        
      <div class="form-group">              
        <div class="col-sm-3">
            <label for="stack_sshrepository_path" class="col-sm-12 control-label text-left">Select deploy key</label>
        </div>    
        <div class="col-sm-4">
            <div class="col-sm-12">
                <span ng-class="{ 'pull-right': $ctrl.formData.showAddAction }" style="width: 25%;">
                    <ui-select ng-model="$ctrl.formData.GenrateSshkey.selected" on-select="$ctrl.formData.change($select.selected.Publickeypath)">
                      <ui-select-match placeholder="Select a deploy key"> <!-- allow-clear="true" -->
                        <span>{{ $select.selected.Name }}</span>
                      </ui-select-match>
                      <ui-select-choices repeat="category as  category in ($ctrl.formData.GenrateSshkey | filter: $select.search)" >
                        <span>{{ category.Name }}</span>
                      </ui-select-choices>                               
                    </ui-select>
                  </span>  
                  <input style="display: none;" id="selPKey" value="{{$ctrl.formData.GenrateSshkey.selected.Publickeypath}}" />
            </div>                
        </div> 
        <div class="col-sm-5">
            <div class="col-sm-5">
              <button disabled type="button" class="btn btn-primary btn-sm copyToClip" ng-click="$ctrl.formData.copytoclipboard($ctrl.formData.GenrateSshkey.selected)">
                  <i class="fas fa-key space-right" aria-hidden="true"></i>Copy to clipboard
              </button>
            </div>
            <div class="col-sm-3">
                <span>
                    <i id="refreshRateChange" class="fa fa-check green-icon" aria-hidden="true" style="margin-left: 7px; display: none;"></i>
                  </span>
            </div>
        </div> 
      </div>     
        <div class="col-sm-3">       
            <button type="button" class="btn btn-primary btn-sm" disabled id="btngeneratekey" ng-click="$ctrl.formData.createNewkey()">
                <i class="fas fa-key space-right" aria-hidden="true"></i>Generate a new deploy key
            </button>
        </div>
        <div class="col-sm-4">
          <p id="warningStackname" style="margin-left: 10px; float: left;"><i class="fa fa-exclamation-triangle text-warning"></i> Please specify a stack name.</p>
        </div>
    
    </div> 
           
    

