<rd-header>
  <rd-header-title title="Container logs"></rd-header-title>
  <rd-header-content>
    <a ui-sref="containers">Containers</a> &gt; <a ui-sref="container({id: container.Id})">{{ container.Name|trimcontainername }}</a> &gt; Logs
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-info-circle" title="Std logs [{{ state.StdOut.chunk }} lines]">
        <span class="btn-group btn-group-sm">
          <label class="btn btn-primary" ng-click="state.both=!state.both"><i ng-if="!state.both" class="fa fa-toggle-on space-right" aria-hidden="true"></i><i ng-if="state.both" class="fa fa-toggle-off space-right" aria-hidden="true"></i>Err</label>
          <label class="btn btn-primary" ng-click="termStdOut.scrollToTop()"><i class="fa fa-arrow-up space-right" aria-hidden="true"></i>Top</label>
          <label class="btn btn-primary" ng-click="termStdOut.scrollToBottom()"><i class="fa fa-arrow-down space-right" aria-hidden="true"></i>Bottom</label>
          <label class="btn btn-primary" ng-click="termStdOut.clear()"><i class="fa fa-eraser space-right" aria-hidden="true"></i>Clear</label>
          <a role="label" class="btn btn-primary" href="data:text/plain;charset=utf-8,{{ readLogsStd ('Out') }}" download="{{container.Id.slice(0,12)}}-{{ container.Name|trimcontainername }}-stdout.log"><i class="fa fa-download space-right" aria-hidden="true"></i>Save</a>
          <input title="Scrollback length (lines)" type="number" step="50" min="50" max="2000"  ng-model="state.StdOut.scrollback" class="form-control log-input">
          </input><input title="Page length (lines)" type="number" step="50" min="50" max="10000" ng-model="state.StdOut.page" class="form-control log-input">
          </input>
        </span>
        <input type="checkbox" ng-model="state.displayTimestampsOut" id="displayAllTsOut" ng-change="displayTimeLogStd('Out')"/>
        <label for="displayAllTsOut">Display timestamps</label>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div id="stdOut-terminal" class="terminal-container"></div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div ng-if="state.both" class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-exclamation-triangle" title="Err logs [{{ state.StdErr.chunk }} lines]">
        <span class="btn-group btn-group-sm">
          <label class="btn btn-primary" ng-click="termStdErr.scrollToTop()"><i class="fa fa-arrow-up space-right" aria-hidden="true"></i>Top</label>
          <label class="btn btn-primary" ng-click="termStdErr.scrollToBottom()"><i class="fa fa-arrow-down space-right" aria-hidden="true"></i>Bottom</label>
          <label class="btn btn-primary" ng-click="termStdErr.clear()"><i class="fa fa-eraser space-right" aria-hidden="true"></i>Clear</label>
          <a role="label" class="btn btn-primary" href="data:text/plain;charset=utf-8,{{ readLogsStd ('Err') }}" download="{{container.Id.slice(0,12)}}-{{ container.Name|trimcontainername }}-stderr.log"><i class="fa fa-download space-right" aria-hidden="true"></i>Save</a>
          <input title="Scrollback length (lines)" type="number" step="50" min="50" max="2000"  ng-model="state.StdErr.scrollback" class="form-control log-input">
          </input><input title="Page length (lines)" type="number" step="50" min="50" max="10000" ng-model="state.StdErr.page" class="form-control log-input">
          </input>
        </span>
        <input type="checkbox" ng-model="state.displayTimestampsErr" id="displayAllTsErr" ng-change="displayTimeLogStd('Err')"/>
        <label for="displayAllTsErr">Display timestamps</label>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div id="stdErr-terminal" class="terminal-container"></div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
