<sidebar-menu-item
  path="kubernetes.dashboard"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-tachometer-alt fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-dashboard"
  title="Dashboard"
>
  Dashboard
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.templates.custom"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-rocket fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-customTemplates"
  title="Custom Templates"
>
  Custom Templates
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.resourcePools"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-layer-group fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-namespaces"
  title="Namespaces"
>
  Namespaces
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.templates.helm"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-dharmachakra fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-helm"
  title="Helm"
>
  Helm
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.applications"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-laptop-code fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-applications"
  title="Applications"
>
  Applications
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.configurations"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-file-code fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-configurations"
  title="ConfigMaps & Secrets"
>
  ConfigMaps & Secrets
</sidebar-menu-item>

<sidebar-menu-item
  path="kubernetes.volumes"
  path-params="{ endpointId: $ctrl.endpointId }"
  icon-class="fa-database fa-fw"
  class-name="sidebar-list"
  data-cy="k8sSidebar-volumes"
  title="Volumes"
>
  Volumes
</sidebar-menu-item>

<sidebar-menu
  icon-class="fa-server fa-fw"
  label="Cluster"
  path="kubernetes.cluster"
  path-params="{ endpointId: $ctrl.endpointId }"
  is-sidebar-open="$ctrl.isSidebarOpen"
  children-paths="['kubernetes.cluster', 'portainer.k8sendpoint.kubernetesConfig', 'kubernetes.registries', 'kubernetes.registries.access']"
  data-cy="k8sSidebar-cluster"
>
  <sidebar-menu-item
    ng-if="$ctrl.adminAccess"
    authorization="K8sClusterSetupRW"
    path="portainer.k8sendpoint.kubernetesConfig"
    path-params="{ id: $ctrl.endpointId }"
    class-name="sidebar-sublist"
    data-cy="k8sSidebar-setup"
    title="Setup"
  >
    Setup
  </sidebar-menu-item>

  <sidebar-menu-item
    authorization="PortainerRegistryList"
    path="kubernetes.registries"
    path-params="{ endpointId: $ctrl.endpointId }"
    class-name="sidebar-sublist"
    data-cy="k8sSidebar-registries"
    title="Registries"
  >
    Registries
  </sidebar-menu-item>
</sidebar-menu>
