.datatable .toolBar {
  color: #767676;
  background-color: #f6f6f6;
  padding: 10px;
  overflow: auto;
}

.datatable .actionBar {
  color: #767676;
  padding: 10px;
}

.datatable .toolBar .toolBarTitle {
  float: left;
  margin: 5px 0 0 10px;
}

.datatable .toolBar .settings {
  float: right;
  margin-right: 10px;
}

.datatable .toolBar .setting {
  cursor: pointer;
  margin-right: 5px;
}

.datatable .toolBar .setting-active {
  color: #337ab7;
}

.datatable .searchBar {
  padding: 10px;
  border-top: 1px solid #f6f6f6;
}

.datatable .searchInput {
  width: 95%;
  border:none;
  background:none;
}

.datatable .searchIcon {
  margin-right: 5px;
  color: #767676;
}

.datatable .searchInput:active, .datatable .searchInput:focus {
  outline:none;
}

.datatable .pagination-controls {
  margin-right: 15px;
}

.datatable .table {
  margin-bottom: 0px;
}

.datatable .footer {
  color: #767676;
  background-color: #f6f6f6;
  overflow: auto;
}

.datatable .footer .infoBar {
  font-size: 12px;
  float: left;
  margin: 15px 0 0 10px;
}

.datatable .footer .paginationControls {
  float: right;
  margin: 10px 15px 5px 0;
}

.datatable .footer .paginationControls .limitSelector {
  font-size: 12px;
  margin-right: 15px;
}

.datatable .footer .paginationControls .pagination {
  margin: 0;
}

.datatable .pagination > li > a, .pagination > li > span {
  float: none;
}

.settingsMenu {
  color: #767676;
  padding: 10px;
}

.settingsMenu .settingsHeader {
  font-size: 16px;
}

.settingsMenu .settingsContent {
  font-size: 12px;
  border-bottom: 1px solid #777;
  margin-top: 10px;
  max-height: 140px;
  overflow-y: auto;
  margin-bottom: 10px;
}
