.slider-badge {
  top: -2px;
}

.root {
  margin-left: 15px;
  margin-top: 200px;
}

.root :global(.rc-slider-tooltip-inner) {
  height: auto;
  padding: 10px;
  background-color: var(--bg-tooltip-color);
  min-width: max-content;
  color: var(--text-tooltip-color);
  box-shadow: var(--shadow-box-color);
}

.root :global(.rc-slider-tooltip-arrow) {
  border-top-color: var(--bg-tooltip-color);
}
