.slider-badge {
  top: -2px;
}

.root {
  margin-left: 15px;
  margin-top: 200px;
}

.root :global(.rc-slider-tooltip-inner) {
  height: auto;
  padding: 10px;
  background-color: white;
  min-width: max-content;
  color: var(--black);
  box-shadow: 0 8px 8px #d9d9d9;
}

.root :global(.rc-slider-tooltip-arrow) {
  border-top-color:  white;
}