<page-header title="'Dashboard'" breadcrumbs="['Environment summary']"> </page-header>

<div class="row" ng-if="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
  <div class="col-sm-12">
    <dashboard-cluster-agent-info></dashboard-cluster-agent-info>
  </div>
</div>
<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<information-panel
  ng-if="
    !applicationState.UI.dismissedInfoPanels['docker-dashboard-info-01'] &&
    !applicationState.endpoint.mode.agentProxy &&
    applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'
  "
  title-text="Information"
  dismiss-action="dismissInformationPanel('docker-dashboard-info-01')"
>
  <span class="small">
    <p class="text-muted" ng-if="applicationState.endpoint.mode.role === 'MANAGER'">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px"></i>
      Portainer is connected to a node that is part of a Swarm cluster. Some resources located on other nodes in the cluster might not be available for management, have a look at
      <a href="http://portainer.readthedocs.io/en/stable/agent.html" target="_blank">our agent setup</a> for more details.
    </p>
    <p class="text-muted" ng-if="applicationState.endpoint.mode.role === 'WORKER'">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px"></i>
      Portainer is connected to a worker node. Swarm management features will not be available.
    </p>
  </span>
</information-panel>

<div ng-if="info">
  <div class="row" ng-if="(!applicationState.endpoint.mode.agentProxy || applicationState.endpoint.mode.provider !== 'DOCKER_SWARM_MODE') && info && endpoint">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-header icon="fa-tachometer-alt" title-text="Environment info"></rd-widget-header>
        <rd-widget-body classes="no-padding">
          <table class="table">
            <tbody>
              <tr>
                <td>Environment</td>
                <td>
                  {{ endpoint.Name }}
                  <span class="small text-muted space-left">
                    <i class="fa fa-microchip"></i> {{ endpoint.Snapshots[0].TotalCPU }} <i class="fa fa-memory space-left"></i> {{ endpoint.Snapshots[0].TotalMemory | humansize }}
                  </span>
                  <span class="small text-muted">
                    - {{ info.Swarm && info.Swarm.NodeID !== '' ? 'Swarm' : 'Standalone' }} {{ info.ServerVersion }}
                    <span ng-if="endpoint.Type === 2">+ <i class="fa fa-bolt" aria-hidden="true"></i> Agent</span></span
                  >
                </td>
              </tr>
              <tr ng-if="showEnvUrl">
                <td>URL</td>
                <td>{{ endpoint.URL | stripprotocol }}</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>{{ endpointTags }}</td>
              </tr>
              <tr ng-if="applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE' && applicationState.endpoint.mode.role === 'MANAGER'">
                <td colspan="2">
                  <div class="btn-group" role="group" aria-label="...">
                    <a ui-sref="docker.swarm.visualizer"><i class="fa fa-object-group space-right" aria-hidden="true"></i>Go to cluster visualizer</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="dashboard-grid mx-4">
    <a ui-sref="docker.stacks" ng-if="showStacks">
      <dashboard-item icon="'layers'" feather-icon="true" type="'Stack'" value="stackCount"></dashboard-item>
    </a>

    <div ng-if="applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE' && applicationState.endpoint.mode.role === 'MANAGER'">
      <a ui-sref="docker.services">
        <dashboard-item icon="'fa-list-alt'" type="'Service'" value="serviceCount"></dashboard-item>
      </a>
    </div>

    <a ng-if="containers" ui-sref="docker.containers">
      <dashboard-item icon="'fa-cubes'" type="'Container'" value="containers.length" children="containerStatusComponent"></dashboard-item>
    </a>

    <a ng-if="images" ui-sref="docker.images">
      <dashboard-item icon="'fa-clone'" type="'Image'" value="images.length" children="imagesTotalSizeComponent"></dashboard-item>
    </a>

    <a ui-sref="docker.volumes">
      <dashboard-item icon="'fa-hdd'" type="'Volume'" value="volumeCount"></dashboard-item>
    </a>

    <a ui-sref="docker.networks">
      <dashboard-item icon="'fa-sitemap'" type="'Network'" value="networkCount"></dashboard-item>
    </a>
  </div>
</div>
