.actions {
  float: right;
  margin: 5px 10px 0 0;
}

.actions-active {
  color: #337ab7;
}

.table-actions-header {
  color: #337ab7;
}

.table-actions-menu {
  padding: 0 10px 0 10px;
}

.table-actions-menu [data-reach-menu-item] {
  padding: 5px 5px !important;
}

.table-actions-menu-btn {
  border: none;
  background: none;
}
