<rd-header>
  <rd-header-title title="LDAP Settings">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="settings">Settings</a> &gt; LDAP
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-cogs" title="LDAP settings"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">

          <div class="col-sm-12 form-section-title">
            LDAP authentication
          </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              You can enable LDAP authentication here. Users need to be created in Portainer beforehand.
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_logo" class="control-label text-left">
                Use LDAP authentication
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_logo" ng-model="formValues.useLDAPAuthentication"><i></i>
              </label>
            </div>
          </div>
          <div ng-if="formValues.useLDAPAuthentication">

            <div class="col-sm-12 form-section-title">
              LDAP configuration
            </div>

            <div class="form-group">
              <label for="ldap_url" class="col-sm-3 col-lg-2 control-label text-left">
                LDAP URL
                <portainer-tooltip position="bottom" message="URL or IP address of the LDAP server."></portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="ldap_url" ng-model="formValues.URL" placeholder="e.g. 10.0.0.10:389 or myldap.domain.tld:389">
              </div>
            </div>

            <div class="form-group">
              <label for="ldap_username" class="col-sm-3 col-lg-2 control-label text-left">
                Username
                <portainer-tooltip position="bottom" message="User that will be used to authenticate and perform search queries in LDAP."></portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="ldap_username" ng-model="formValues.Username" placeholder="readonly">
              </div>
            </div>

            <div class="form-group">
              <label for="ldap_password" class="col-sm-3 col-lg-2 control-label text-left">
                Password
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="password" class="form-control" id="ldap_password" ng-model="formValues.Password" placeholder="password">
              </div>
            </div>

            <div class="form-group">
              <label for="ldap_basedn" class="col-sm-3 col-lg-2 control-label text-left">
                Base DN
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="ldap_basedn" ng-model="formValues.BaseDN" placeholder="dc=ldap,dc=domain,dc=tld">
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              LDAP security
            </div>

            <!-- tls-checkbox -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="tls" class="control-label text-left">
                  TLS
                  <portainer-tooltip position="bottom" message="Enable this option if you need to specify TLS certificates to connect to the LDAP server."></portainer-tooltip>
                </label>
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="formValues.TLS"><i></i>
                </label>
              </div>
            </div>
            <!-- !tls-checkbox -->
            <!-- tls-certs -->
            <div ng-if="formValues.TLS">
              <!-- ca-input -->
              <div class="form-group">
                <label class="col-sm-2 control-label text-left">TLS CA certificate</label>
                <div class="col-sm-10">
                  <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCACert">Select file</button>
                  <span style="margin-left: 5px;">
                    {{ formValues.TLSCACert.name }}
                    <i class="fa fa-times red-icon" ng-if="!formValues.TLSCACert" aria-hidden="true"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                  </span>
                </div>
              </div>
              <!-- !ca-input -->
              <!-- cert-input -->
              <div class="form-group">
                <label for="tls_cert" class="col-sm-2 control-label text-left">TLS certificate</label>
                <div class="col-sm-10">
                  <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCert">Select file</button>
                  <span style="margin-left: 5px;">
                    {{ formValues.TLSCert.name }}
                    <i class="fa fa-times red-icon" ng-if="!formValues.TLSCert" aria-hidden="true"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                  </span>
                </div>
              </div>
              <!-- !cert-input -->
              <!-- key-input -->
              <div class="form-group">
                <label class="col-sm-2 control-label text-left">TLS key</label>
                <div class="col-sm-10">
                  <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSKey">Select file</button>
                  <span style="margin-left: 5px;">
                    {{ formValues.TLSKey.name }}
                    <i class="fa fa-times red-icon" ng-if="!formValues.TLSKey" aria-hidden="true"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                  </span>
                </div>
              </div>
              <!-- !key-input -->
            </div>
            <!-- !tls-certs -->

            <div class="col-sm-12 form-section-title">
              User search configuration
            </div>

            <div class="form-group">
              <label for="ldap_username_attr" class="col-sm-3 col-md-2 control-label text-left">
                Username attribute
              </label>
              <div class="col-sm-9 col-md-4">
                <input type="text" class="form-control" id="ldap_username_attr" ng-model="formValues.UsernameAttr" placeholder="uid">
              </div>

              <label for="ldap_fullname_attr" class="col-sm-3 col-md-2 margin-sm-top control-label text-left">
                Full name attribute
              </label>
              <div class="col-sm-9 col-md-4 margin-sm-top">
                <input type="text" class="form-control" id="ldap_fullname_attr" ng-model="formValues.FullnameAttr" placeholder="DN">
              </div>
            </div>

            <div class="form-group">
              <label for="ldap_filter" class="col-sm-3 col-lg-2 control-label text-left">
                Filter
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="ldap_filter" ng-model="formValues.Filter" placeholder="(objectClass=account)">
              </div>
            </div>

          </div>


          <!-- actions -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-click="saveApplicationSettings()">Save</button>
              <i id="updateSettingsSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
              <!-- <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span> -->
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
