:root[theme='dark'] {
  --bg-card-color: #212121;
  --text-main-color: #fff;
  --border-color: rgba(255, 255, 255, 0.1);
  --bg-main-color: #181818;
  --bg-body-color: #181818;
  --text-body-color: #fff;
  --bg-checkbox-border-color: #aaa;
  --bg-sidebar-color: #212121;
  --hover-sidebar-color: rgba(255, 255, 255, 0.1);
  --text-sidebar-title-color: #aaa;
  --bg-widget-color: #212121;
  --border-widget-color: #212121;
  --bg-widget-header-color: #212121;
  --text-widget-header-color: #ffffff;
  --border-widget-color: #212121;
  --bg-widget-table-color: #212121;
  --border-sidebar-color: #3ea6ff;
  --border-form-control-color: rgb(54, 54, 54);
  --bg-header-color: #181818;
  --text-form-control-color: #aaa;
  --text-muted-color: #aaa;
  --border-table-color: rgba(255, 255, 255, 0.1);
  --bg-hover-table-color: rgba(255, 255, 255, 0.1);
  --bg-switch-box-color: rgba(255, 255, 255, 0.6);
  --border-table-top-color: rgba(255, 255, 255, 0.1);
  --border-datatable-top-color: rgba(255, 255, 255, 0.1);
  --text-link-color: #3ea6ff;
  --text-link-hover-color: #337ab7;
  --border-blocklist-color: rgba(255, 255, 255, 0.1);
  --border-input-group-addon-color: #434343;
  --bg-input-group-addon-color: rgba(255, 255, 255, 0.1);
  --text-input-group-addon-color: #aaa;
  --border-btn-default-color: #434343;
  --bg-btn-default-color: rgba(255, 255, 255, 0.1);
  --text-btn-default-color: #aaa;
  --bg-blocklist-hover-color: rgba(255, 255, 255, 0.1);
  --text-blocklist-hover-color: #fff;
  --bg-boxselector-color: rgba(255, 255, 255, 0.3);
  --border-boxselector-color: #212121;
  --text-boxselector-color: #fff;
  --blue-color: #337ab7;
  --text-dashboard-item-color: #337ab7;
  --text-danger-color: #d9534f;
  --bg-table-color: #212121;
  --bg-md-checkbox-color: #868686;
  --border-md-checkbox-color: #b4b4b4;
  --bg-form-control-disabled-color: rgba(255, 255, 255, 0.1);
  --bg-modal-content-color: #212121;
  --border-modal-header-color: #212121;
  --button-close-color: #fff;
  --button-opacity: 0.6;
  --button-opacity-hover: 0.3;
  --text-code-color: #fff;
  --bg-code-color: #d9534f;
  --text-navtabs-color: #ffffff;
  --bg-navtabs-color: rgba(255, 255, 255, 0.1);
  --border-navtabs-color: #434343;
  --bg-navtabs-hover-color: #383838;
  --border-form-section-title-color: #aaa;
  --text-form-section-title-color: #aaa;
  --bg-table-selected-color: #383838;
  --text-cm-default-color: #61b6ff;
  --text-cm-meta-color: #fff;
  --text-cm-string-color: #ff2727;
  --text-cm-number-color: #1ec863;
  --border-codemirror-cursor-color: #fff;
  --bg-codemirror-color: #181818;
  --text-codemirror-color: #fff;
  --bg-codemirror-gutters-color: #181818;
  --border-codemirror-gutters-color: #777;
  --bg-dropdown-menu-color: #212121;
  --text-dropdown-menu-color: #fff;
  --text-log-viewer-color: #fff;
  --bg-log-viewer-color: #181818;
  --bg-log-line-selected-color: #383838;
  --border-pre-color: #383838;
  --text-json-tree-color: #cfddfc;
  --text-json-tree-leaf-color: #577bc9;
  --text-json-tree-branch-preview-color: #6b9aff;
  --bg-pre-color: #181818;
  --text-pre-color: #fff;
  --bg-blocklist-item-selected-color: #383838;
  --border-blocklist-item-selected-color: #434343;
  --text-blocklist-item-selected-color: #fff;
  --bg-progress-color: #383838;
  --text-progress-bar-color: #fff;
  --text-pagination-color: #fff;
  --bg-pagination-color: #383838;
  --border-pagination-color: #383838;
  --bg-pagination-span-color: #383838;
  --border-pagination-span-color: #383838;
  --bg-pagination-hover-color: #585858;
  --border-pagination-hover-color: #383838;
  --border-pagination-hover-color: #383838;
  --text-pagination-span-color: #fff;
  --text-pagination-span-hover-color: #fff;
  --text-ui-select-color: #fff;
  --bg-ui-select-hover-color: #383838;
  --text-ui-select-hover-color: #fff;
  --bg-motd-body-color: #212121;
  --text-summary-color: #fff;
  --bg-item-highlighted-color: #181818;
  --bg-item-highlighted-null-color: #181818;
  --bg-row-header-color: #181818;
  --text-multiselect-button-color: #fff;
  --border-multiselect-button-color: #383838;
  --bg-multiselect-button-color: #383838;
  --bg-image-multiselect-button: none !important;
  --bg-multiselect-checkbox-color: #383838;
  --text-multiselect-item-color: #fff;
  --border-searchbar-color: #212121;
}

:root[theme='highcontrast'] {
  --bg-card-color: #000;
  --text-main-color: #fff;
  --border-color: rgba(255, 255, 255, 0.1);
  --bg-main-color: #000;
  --bg-body-color: #000;
  --text-body-color: #fff;
  --bg-checkbox-border-color: #aaa;
  --bg-sidebar-color: #000;
  --hover-sidebar-color: #3ea6ff;
  --text-sidebar-title-color: #aaa;
  --bg-widget-color: #000;
  --border-widget-color: #212121;
  --bg-widget-header-color: #000;
  --text-widget-header-color: #ffffff;
  --border-widget-color: #212121;
  --bg-widget-table-color: #000;
  --border-sidebar-color: #3ea6ff;
  --border-form-control-color: rgb(54, 54, 54);
  --bg-header-color: #000;
  --text-form-control-color: #aaa;
  --text-muted-color: #aaa;
  --border-table-color: rgba(255, 255, 255, 0.1);
  --bg-hover-table-color: rgba(255, 255, 255, 0.1);
  --bg-switch-box-color: rgba(255, 255, 255, 0.6);
  --border-table-top-color: rgba(255, 255, 255, 0.1);
  --border-datatable-top-color: rgba(255, 255, 255, 0.1);
  --text-link-color: #3ea6ff;
  --text-link-hover-color: #337ab7;
}

:root[theme='light'] {
  --bg-card-color: #f6f6f6;
  --text-main-color: #767676;
  --border-color: #d2d1d1;
  --bg-main-color: #fff;
  --bg-body-color: #f3f3f3;
  --text-body-color: #333333;
  --bg-checkbox-border-color: rgba(0, 0, 0, 0.54);
  --bg-sidebar-color: #2d3e63;
  --hover-sidebar-color: #2d3e63;
  --text-sidebar-title-color: #738bc0;
  --bg-widget-color: #ffffff;
  --border-widget-color: #e9e9e9;
  --bg-widget-header-color: #f6f6f6;
  --text-widget-header-color: #767676;
  --border-widget-color: #e9e9e9;
  --bg-widget-table-color: #fafafa;
  --border-sidebar-color: #ffffff;
  --border-form-control-color: #ccc;
  --bg-header-color: #fff;
  --text-form-control-color: #555555;
  --text-muted-color: #777777;
  --border-table-color: #ddd;
  --bg-hover-table-color: #f5f5f5;
  --bg-switch-box-color: #ffffff;
  --border-table-top-color: #ddd;
  --border-datatable-top-color: #f6f6f6;
  --text-link-color: #337ab7;
  --text-link-hover-color: #23527c;
  --border-blocklist-color: #cccccc;
  --shadow-box-color: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
  --border-input-group-addon-color: #ccc;
  --bg-input-group-addon-color: #eeeeee;
  --text-input-group-addon-color: #555555;
  --border-btn-default-color: #ccc;
  --bg-btn-default-color: #fff;
  --text-btn-default-color: #333;
  --bg-blocklist-hover-color: #ececec;
  --text-blocklist-hover-color: #2d3e63;
  --bg-boxselector-color: #fff;
  --border-boxselector-color: #333333;
  --shadow-boxselector-color: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
  --blue-color: #2361ae;
  --text-dashboard-item-color: #65798e;
  --text-danger-color: #a94442;
  --bg-table-color: #fff;
  --bg-md-checkbox-color: #ececec;
  --border-md-checkbox-color: #ddd;
  --bg-form-control-disabled-color: #eeeeee;
  --bg-modal-content-color: #fff;
  --border-modal-header-color: #e5e5e5;
  --button-close-color: #000;
  --button-opacity: 0.2;
  --button-opacity-hover: 0.5;
  --text-code-color: #c7254e;
  --bg-code-color: #f9f2f4;
  --text-navtabs-color: #555555;
  --bg-navtabs-color: #fff;
  --border-navtabs-color: #ddd;
  --bg-navtabs-hover-color: #eee;
  --border-form-section-title-color: #777;
  --text-form-section-title-color: #777;
  --bg-table-selected-color: #f5f5f5;
  --text-cm-default-color: #219;
  --text-cm-meta-color: #000;
  --text-cm-string-color: #a11;
  --text-cm-number-color: #164;
  --border-codemirror-cursor-color: #000;
  --bg-codemirror-color: #fff;
  --text-codemirror-color: #000;
  --bg-codemirror-gutters-color: #f7f7f7;
  --border-codemirror-gutters-color: #ddd;
  --bg-dropdown-menu-color: #fff;
  --text-dropdown-menu-color: #333333;
  --text-log-viewer-color: #000;
  --bg-log-viewer-color: #fff;
  --bg-log-line-selected-color: #c5cae9;
  --border-pre-color: #e9e9e9;
  --text-json-tree-color: #738bc0;
  --text-json-tree-leaf-color: #30426a;
  --text-json-tree-branch-preview-color: #30426a;
  --bg-pre-color: #f5f5f5;
  --text-pre-color: #333333;
  --bg-blocklist-item-selected-color: #ececec;
  --border-blocklist-item-selected-color: #bbbbbb;
  --text-blocklist-item-selected-color: #2d3e63;
  --bg-progress-color: #f5f5f5;
  --text-progress-bar-color: #4e4e4e;
  --text-pagination-color: #777777;
  --bg-pagination-color: #fff;
  --border-pagination-color: #ddd;
  --bg-pagination-span-color: #fff;
  --border-pagination-span-color: #ddd;
  --bg-pagination-hover-color: #eeeeee;
  --border-pagination-hover-color: #ddd;
  --text-pagination-span-color: #337ab7;
  --text-pagination-span-hover-color: #23527c;
  --text-ui-select-color: #333;
  --bg-ui-select-hover-color: #f5f5f5;
  --text-ui-select-hover-color: #262626;
  --bg-motd-body-color: #dae3f3;
  --text-summary-color: #000;
  --bg-item-highlighted-color: #d5e8f3;
  --bg-item-highlighted-null-color: #f5f5f5;
  --bg-row-header-color: #fff;
  --text-multiselect-button-color: #555;
  --border-multiselect-button-color: #c6c6c6;
  --bg-image-multiselect-button: linear-gradient(#fff, #f7f7f7);
  --bg-multiselect-checkbox-color: #fff;
  --text-multiselect-item-color: #444;
  --border-searchbar-color: #f6f6f6;
}
/* Overide Vendor CSS */
.form-control {
  background-color: var(--bg-main-color) !important;
  border: 1px solid var(--border-form-control-color);
  color: var(--text-form-control-color);
}

.text-muted {
  color: var(--text-muted-color);
}

.table > thead > tr > th {
  border-bottom: 2px solid var(--border-table-color);
}

.table-hover > tbody > tr:hover {
  background-color: var(--bg-hover-table-color);
}

.switch i,
.bootbox-form .checkbox i {
  background: var(--bg-switch-box-color);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid var(--border-table-top-color);
}

a {
  color: var(--text-link-color);
}

a:hover,
a:focus {
  color: var(--text-link-hover-color);
}

.input-group-addon {
  color: var(--text-input-group-addon-color);
  background-color: var(--bg-input-group-addon-color);
  border: 1px solid var(--border-input-group-addon-color);
}

.btn-default {
  color: var(--text-btn-default-color);
  background-color: var(--bg-btn-default-color);
  border-color: var(--border-btn-default-color);
}

.text-danger {
  color: var(--text-danger-color);
}

.table .table {
  background-color: var(--bg-table-color);
}

.table-bordered {
  border-color: var(--border-table-top-color);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: var(--border-table-top-color);
}

.md-checkbox input[type='checkbox']:disabled + label:before {
  background: var(--bg-md-checkbox-color) !important;
  border-color: var(--border-md-checkbox-color) !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: var(--bg-form-control-disabled-color) !important;
}

.modal-content {
  background-color: var(--bg-modal-content-color);
}

.modal-header {
  border-bottom: 1px solid var(--border-modal-header-color);
}

.modal-footer {
  border-top: 1px solid var(--border-modal-header-color);
}

.close {
  color: var(--button-close-color);
  opacity: var(--button-opacity);
}

.close:hover,
.close:focus {
  color: var(--button-close-color);
  opacity: var(--button-opacity-hover);
}

code {
  color: var(--text-code-color);
  background-color: var(--bg-code-color);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: var(--text-navtabs-color);
  background-color: var(--bg-navtabs-color);
  border: 1px solid var(--border-navtabs-color);
}

.nav-tabs {
  border-bottom: 1px solid var(--border-navtabs-color);
}

.nav-tabs > li > a:hover {
  border-color: var(--border-navtabs-color);
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: var(--bg-navtabs-hover-color);
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: var(--bg-table-selected-color);
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: var(--bg-table-selected-color);
}

.CodeMirror-gutters {
  background: var(--bg-codemirror-gutters-color);
  border-right: 1px solid var(--border-codemirror-gutters-color);
}

.CodeMirror {
  background: var(--bg-codemirror-color);
  color: var(--text-codemirror-color);
}

.CodeMirror-cursor {
  border-left: 1px solid var(--border-codemirror-cursor-color);
}

.cm-s-default .cm-atom {
  color: var(--text-cm-default-color);
}

.cm-s-default .cm-meta {
  color: var(--text-cm-meta-color);
}

.cm-s-default .cm-string {
  color: var(--text-cm-string-color);
}

.cm-s-default .cm-number {
  color: var(--text-cm-number-color);
}

.dropdown-menu {
  background: var(--bg-dropdown-menu-color);
}

.dropdown-menu > li > a {
  color: var(--text-dropdown-menu-color);
}

pre {
  border: 1px solid var(--border-pre-color);
  background-color: var(--bg-pre-color);
  color: var(--text-pre-color);
}
json-tree .key {
  color: var(--text-json-tree-color);
}

json-tree .leaf-value {
  color: var(--text-json-tree-leaf-color);
}

json-tree .branch-preview {
  color: var(--text-json-tree-branch-preview-color);
}

.progress {
  background-color: var(--bg-progress-color);
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: var(--text-pagination-color);
  background-color: var(--bg-pagination-color);
  border-color: var(--border-pagination-color);
}

.pagination > li > a,
.pagination > li > span {
  background-color: var(--bg-pagination-span-color);
  border-color: var(--border-pagination-span-color);
  color: var(--text-pagination-span-color);
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: var(--bg-pagination-hover-color);
  border-color: var(--border-pagination-hover-color);
  color: var(--text-pagination-span-hover-color);
}

.ui-select-bootstrap .ui-select-choices-row > span {
  color: var(--text-ui-select-color);
}

.ui-select-bootstrap .ui-select-choices-row > span:hover,
.ui-select-bootstrap .ui-select-choices-row > span:focus {
  background-color: var(--bg-ui-select-hover-color);
  color: var(--text-ui-select-hover-color);
}

.motd-body {
  background-color: var(--bg-motd-body-color) !important;
}

.multiSelect .checkboxLayer {
  background-color: var(--bg-multiselect-checkbox-color);
}

.multiSelect .multiSelectItem {
  color: var(--text-multiselect-item-color);
}

/* Overide Vendor CSS */

html,
body,
#page-wrapper,
#content-wrapper,
.page-content,
#view {
  height: 100%;
  width: 100%;
  overflow-y: initial;
}

#view {
  position: relative;
}

.white-space-normal {
  white-space: normal !important;
}

.logo {
  display: inline;
  max-width: 155px;
  max-height: 55px;
}
.legend .title {
  padding: 0 0.3em;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
}
.messages {
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.containerNameInput {
  width: 85%;
  border: none;
  background: none;
  border-bottom: 1px solid black;
}

.containerNameInput:active,
.containerNameInput:focus {
  outline: none;
}

#network-legend {
  text-align: center;
}

#network-legend span {
  display: inline;
  font-size: 18px;
}

.header_title_content {
  margin-left: 5px;
}

.form-section-title {
  border-bottom: 1px solid var(--border-form-section-title-color);
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--text-form-section-title-color);
  padding-left: 0;
}

.form-horizontal .control-label.text-left {
  text-align: left;
  font-size: 0.9em;
}

input[type='checkbox'] {
  margin-top: 1px;
  vertical-align: middle;
}

.md-checkbox input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-top: -1px;
}

a[ng-click] {
  cursor: pointer;
}

.space-right {
  margin-right: 5px;
}

.space-left {
  margin-left: 5px;
}

.portainer-disabled-link {
  color: gray;
  pointer-events: none;
}

.portainer-disabled-datatable {
  color: gray;
}

.portainer-disabled-datatable a {
  color: gray;
  pointer-events: none;
}

.tooltip.portainer-tooltip .tooltip-inner {
  font-family: Montserrat;
  background-color: #ffffff;
  padding: 0.833em 1em;
  color: #333333;
  border: 1px solid #d4d4d5;
  border-radius: 0.14285714rem;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.tooltip.portainer-tooltip .tooltip-arrow {
  display: none;
}

.fa.tooltip-icon {
  margin-left: 5px;
  font-size: 1.3em;
}

.fa.green-icon {
  color: #23ae89;
}

.fa.red-icon {
  color: #ae2323;
}

.fa.orange-icon {
  color: #f0ad4e;
}

.fa.white-icon {
  color: white;
}

.fa.blue-icon,
.fab.blue-icon {
  color: #337ab7;
}

.text-warning {
  color: #f0ad4e;
}

.widget .widget-body table tbody .image-tag {
  font-size: 90% !important;
  margin-right: 5px;
}

.widget .widget-body table tbody .label-margins {
  margin-left: 5px;
  margin-right: 0;
}

.widget .widget-body table tbody .fit-text-size {
  font-size: 90% !important;
}

.widget .widget-body table thead th {
  font-weight: normal;
}

.widget .widget-body .nowrap-cells tbody td {
  white-space: nowrap;
}

.widget .widget-body table tbody td {
  white-space: normal;
  word-break: break-word;
}

.widget .widget-body table.container-details-table > tbody > tr > td:first-child {
  word-break: normal;
  text-transform: uppercase;
}

.widget .widget-body table.description-table {
  table-layout: fixed;
}

.template-widget {
  height: 100%;
}

.template-widget-body {
  max-height: 86%;
  overflow-y: auto;
}

.blocklist {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.blocklist-item {
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  border: 1px solid var(--border-blocklist-color);
  border-radius: 2px;
  box-shadow: var(--shadow-box-color);
}

.blocklist-item--disabled {
  cursor: auto;
  background-color: #ececec;
}

.blocklist-item--selected {
  background-color: var(--bg-blocklist-item-selected-color);
  border: 2px solid var(--border-blocklist-item-selected-color);
  color: var(--text-blocklist-item-selected-color);
}

.blocklist-item:hover {
  background-color: var(--bg-blocklist-hover-color);
  color: var(--text-blocklist-hover-color);
}

.blocklist-item-box {
  display: flex;
}

.blocklist-item-line.endpoint-item {
  padding: 4px;
}

.blocklist-item-line {
  display: flex;
  justify-content: space-between;
}

.blocklist-item-logo {
  width: 100%;
  max-width: 60px;
  height: 100%;
  max-height: 60px;
}

.blocklist-item-logo.endpoint-item {
  margin: 10px 4px 0 6px;
}

.blocklist-item-logo.endpoint-item.azure {
  margin: 0 0 0 10px;
}

.blocklist-item-title {
  font-size: 1.8em;
  font-weight: bold;
}

.blocklist-item-title.endpoint-item {
  font-size: 1em;
  font-weight: bold;
}

.blocklist-item-subtitle {
  font-size: 0.9em;
  padding-right: 1em;
}

.blocklist-item-desc {
  font-size: 0.9em;
  padding-right: 1em;
}

.template-note {
  padding: 0.5em;
  font-size: 0.9em;
}

.nopadding {
  padding: 0 !important;
}

.padding-top {
  padding-top: 15px !important;
}

.terminal-container {
  width: 100%;
  padding: 10px 0;
}

.interactive {
  cursor: pointer;
}

.custom-header-ico {
  max-width: 32px;
  max-height: 32px;
  margin-right: 2px;
}

.btn-responsive {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-datatable {
  padding: 2.6px 7.8px 3.9px;
  line-height: 1;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 1107px) {
  .btn-responsive {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}

.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.simple-box {
  margin-bottom: 80px;
}

.simple-box > div:first-child {
  padding-bottom: 10px;
}

.simple-box-logo {
  display: block;
  margin: auto;
  position: relative;
  width: 240px;
  margin-bottom: 10px;
}

.simple-box-form > div {
  margin-bottom: 25px;
}

.simple-box-form > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-body {
  padding-top: 30px;
  background-color: #ffffff;
}

.pagination-controls {
  margin-left: 10px;
}

.user-box {
  margin-right: 25px;
}

.select-endpoint {
  width: 80%;
  margin: 0 auto;
}

#image-layers .btn {
  padding: 0;
}

#image-layers .expand {
  padding-right: 0;
}

.createResource {
  margin-left: 5px;
  font-size: 90%;
}

@media (min-width: 768px) {
  .margin-sm-top {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .pull-sm-left {
    float: left !important;
  }
  .pull-sm-right {
    float: right !important;
  }
  .pull-sm-none {
    float: none !important;
  }
}
@media (min-width: 992px) {
  .pull-md-left {
    float: left !important;
  }
  .pull-md-right {
    float: right !important;
  }
  .pull-md-none {
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .pull-lg-left {
    float: left !important;
  }
  .pull-lg-right {
    float: right !important;
  }
  .pull-lg-none {
    float: none !important;
  }
}
.pull-none {
  float: none !important;
}

.bootbox-form .bootbox-input-checkbox {
  display: none;
}

.bootbox-form label {
  padding-left: 0;
}

.small-select {
  display: inline-block;
  padding: 0px 6px;
  margin-left: 10px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  font-size: 14px;
}

.bootbox-form .checkbox i {
  margin-left: 21px;
}

.visualizer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.visualizer_container .node {
  border: 1px dashed #337ab7;
  background-color: rgb(51, 122, 183);
  background-color: rgba(51, 122, 183, 0.1);
  border-radius: 4px;
  box-shadow: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
  padding: 15px;
  margin: 5px;
}

.visualizer_container .node .node_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #777;
  padding-bottom: 10px;
}

.visualizer_container .node .node_info .node_platform {
  margin-left: 2px;
  font-size: 16px;
}

.visualizer_container .node .node_info .node_labels {
  border-top: 1px solid #777;
  padding-top: 10px;
  margin-top: 10px;
}

.visualizer_container .node .node_info .node_label {
  font-style: italic;
  color: #787878;
}

.visualizer_container .node .tasks {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.visualizer_container .node .tasks .task {
  border: 1px solid #333333;
  border-radius: 2px;
  box-shadow: 0 3px 10px -2px rgba(161, 170, 166, 0.5);
  padding: 10px;
  margin: 5px;
  font-size: 10px;
}

.visualizer_container .node .tasks .task div {
  padding: 2px;
}

.visualizer_container .node .tasks .task_running {
  border-radius: 4px;
  background-color: rgb(35, 174, 137);
  background-color: rgba(35, 174, 137, 0.2);
}

.visualizer_container .node .tasks .task_stopped {
  border-radius: 4px;
  background-color: rgb(174, 35, 35);
  background-color: rgba(174, 35, 35, 0.2);
}

.visualizer_container .node .tasks .task_warning {
  border-radius: 4px;
  background-color: rgb(240, 173, 78);
  background-color: rgba(240, 173, 78, 0.2);
}

.visualizer_container .node .tasks .task_info {
  border-radius: 4px;
  background-color: rgb(70, 184, 218);
  background-color: rgba(70, 184, 218, 0.2);
}

.visualizer_container .node .tasks .task .service_name {
  text-align: center;
  margin-bottom: 5px;
}

.log_viewer {
  height: 100%;
  overflow-y: scroll;
  color: var(--text-log-viewer-color);
  font-size: 0.85em;
  background-color: var(--bg-log-viewer-color);
}

.log_viewer.wrap_lines {
  white-space: pre-wrap;
}

.log_viewer .inner_line {
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 0;
}

.log_viewer .inner_line:empty::after {
  content: '.';
  visibility: hidden;
}

.log_viewer .line_selected {
  background-color: var(--bg-log-line-selected-color);
}

.row.header .meta .page {
  padding-top: 7px;
}

.tag {
  padding: 2px 6px;
  color: white;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
}

.template-envvar {
  padding-bottom: 5px;
}

.line-separator {
  border-bottom: 1px solid #777;
  width: 50%;
  margin: 20px auto 10px auto;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.striked::after {
  border-bottom: 0.2em solid #777777;
  content: '';
  left: 0;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

.striketext:before,
.striketext:after {
  background-color: #777777;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.striketext:before {
  right: 0.5em;
  margin-left: -50%;
}

.striketext:after {
  left: 0.5em;
  margin-right: -50%;
}

/*bootbox override*/
.modal-open {
  padding-right: 0 !important;
}

.image-zoom-modal .modal-dialog {
  width: 80%;
}
/*!bootbox override*/

/*angular-multi-select override*/
.multiSelect > button {
  min-height: 30px !important;
  background-color: unset;
  background-image: unset;
  color: var(--text-multiselect-button-color);
  border: 1px solid var(--border-multiselect-button-color);
}

.multiSelect > button:hover {
  background-image: var(--bg-image-multiselect-button);
  background-color: var(--bg-multiselect-button-color);
}

.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
  background-image: linear-gradient(#337ab7, #337ab7);
  color: #fff;
  border: none;
}

.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
  background-image: linear-gradient(#337ab7, #337ab7) !important;
  color: #fff !important;
}

.multiSelect .tickMark,
.widget .widget-body table tbody .multiSelect .tickMark {
  top: 2px;
  right: 12px;
  font-size: 20px !important;
}
/*!angular-multi-select override*/

/*toaster override*/
#toast-container > div {
  opacity: 0.9;
}
/*!toaster override*/

/*angular-loading-bar override*/
#loadingbar-placeholder {
  margin-bottom: 0;
  height: 3px;
}

#loading-bar .bar {
  position: relative;
  height: 3px;
  background: #738bc0;
}
/*!angular-loading-bar override*/

.monospaced {
  font-family: monospace;
  font-weight: 600;
}

/* json-tree override */
json-tree {
  font-size: 13px;
  color: #30426a;
}

json-tree .key {
  color: #738bc0;
  padding-right: 5px;
}

json-tree .branch-preview {
  font-style: normal;
  font-size: 11px;
  opacity: 0.5;
}
/* !json-tree override */

/* uib-progressbar override */
.progress-bar {
  color: #4e4e4e;
}
/* !uib-progressbar override */

.loading-view-area {
  height: 85%;
  display: flex;
  align-items: center;
}

/* bootstrap extend */
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
/* !bootstrap extend */

/* spinkit override */
.sk-fold {
  width: 57px;
  height: 57px;
}

.sk-fold-cube {
  background-color: white;
}

.sk-fold-cube:before {
  background-color: #337ab7;
}
/* !spinkit override */

.w-full {
  width: 100%;
}

/* uib-typeahead override */
#scrollable-dropdown-menu .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
/* !uib-typeahead override */

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.kubectl-shell {
  display: block;
  text-align: center;
  padding-bottom: 5px;
}
