/* Color Variable */
:root {
  --ui-black: #000000;
  --ui-white: #ffffff;

  --ui-gray1: #fcfcfd;
  --ui-gray2: #f9fafb;
  --ui-gray3: #f2f4f7;
  --ui-gray4: #eaecf0;
  --ui-gray5: #d0d5dd;
  --ui-gray6: #98a2b3;
  --ui-gray7: #667085;
  --ui-gray8: #475467;
  --ui-gray9: #344054;
  --ui-gray10: #1d2939;
  --ui-gray11: #101828;

  --ui-pr-blue1: #f5fbff;
  --ui-pr-blue2: #f0f9ff;
  --ui-pr-blue3: #e0f2fe;
  --ui-pr-blue4: #b9e6fe;
  --ui-pr-blue5: #7cd4fd;
  --ui-pr-blue6: #36bffa;
  --ui-pr-blue7: #0ba5ec;
  --ui-pr-blue8: #0086c9;
  --ui-pr-blue9: #026aa2;
  --ui-pr-blue10: #065986;
  --ui-pr-blue11: #0b4a6f;

  --ui-error1: #fffbfa;
  --ui-error2: #fef3f2;
  --ui-error3: #fee4e2;
  --ui-error4: #fecdca;
  --ui-error5: #fda29b;
  --ui-error6: #f97066;
  --ui-error7: #f04438;
  --ui-error8: #d92d20;
  --ui-error9: #b42318;
  --ui-error10: #912018;
  --ui-error11: #7a271a;

  --ui-warning1: #fffcf5;
  --ui-warning2: #fffaeb;
  --ui-warning3: #fef0c7;
  --ui-warning4: #fedf89;
  --ui-warning5: #fec84b;
  --ui-warning6: #fdb022;
  --ui-warning7: #f79009;
  --ui-warning8: #dc6803;
  --ui-warning9: #b54708;
  --ui-warning10: #93370d;
  --ui-warning11: #7a2e0e;

  --ui-success1: #f6fef9;
  --ui-success2: #ecfdf3;
  --ui-success3: #d1fadf;
  --ui-success4: #a6f4c5;
  --ui-success5: #6ce9a6;
  --ui-success6: #32d583;
  --ui-success7: #12b76a;
  --ui-success8: #039855;
  --ui-success9: #027a48;
  --ui-success10: #05603a;
  --ui-success11: #054f31;

  --ui-gray-blue1: #fcfcfd;
  --ui-gray-blue2: #f8f9fc;
  --ui-gray-blue3: #eaecf5;
  --ui-gray-blue4: #d5d9eb;
  --ui-gray-blue5: #b3b8db;
  --ui-gray-blue6: #717bbc;
  --ui-gray-blue7: #4e5ba6;
  --ui-gray-blue8: #3e4784;
  --ui-gray-blue9: #363f72;
  --ui-gray-blue10: #293056;
  --ui-gray-blue11: #293056;

  --ui-gray-cool1: #fcfcfd;
  --ui-gray-cool2: #f9f9fb;
  --ui-gray-cool3: #eff1f5;
  --ui-gray-cool4: #dcdfea;
  --ui-gray-cool5: #b9c0d4;
  --ui-gray-cool6: #7d89b0;
  --ui-gray-cool7: #5d6b98;
  --ui-gray-cool8: #4a5578;
  --ui-gray-cool9: #404968;
  --ui-gray-cool10: #30374f;
  --ui-gray-cool11: #111322;

  --ui-gray-modern1: #fcfcfd;
  --ui-gray-modern2: #f8fafc;
  --ui-gray-modern3: #eef2f6;
  --ui-gray-modern4: #e3e8ef;
  --ui-gray-modern5: #cdd5df;
  --ui-gray-modern6: #9aa4b2;
  --ui-gray-modern7: #697586;
  --ui-gray-modern8: #4b5565;
  --ui-gray-modern9: #364152;
  --ui-gray-modern10: #202939;
  --ui-gray-modern11: #121926;

  --ui-gray-neutral1: #fcfcfd;
  --ui-gray-neutral2: #f9fafb;
  --ui-gray-neutral3: #f3f4f6;
  --ui-gray-neutral4: #e5e7eb;
  --ui-gray-neutral5: #d2d6db;
  --ui-gray-neutral6: #9da4ae;
  --ui-gray-neutral7: #6c737f;
  --ui-gray-neutral8: #4d5761;
  --ui-gray-neutral9: #384250;
  --ui-gray-neutral10: #1f2a37;
  --ui-gray-neutral11: #111927;

  --ui-gray-iron1: #fcfcfc;
  --ui-gray-iron2: #fafafa;
  --ui-gray-iron3: #f4f4f5;
  --ui-gray-iron4: #e4e4e7;
  --ui-gray-iron5: #d1d1d6;
  --ui-gray-iron6: #d1d1d6;
  --ui-gray-iron7: #70707b;
  --ui-gray-iron8: #51525c;
  --ui-gray-iron9: #3f3f46;
  --ui-gray-iron10: #26272b;
  --ui-gray-iron11: #18181b;

  --ui-gray-true1: #fcfcfc;
  --ui-gray-true2: #fafafa;
  --ui-gray-true3: #f5f5f5;
  --ui-gray-true4: #e5e5e5;
  --ui-gray-true5: #d6d6d6;
  --ui-gray-true6: #a3a3a3;
  --ui-gray-true7: #737373;
  --ui-gray-true8: #525252;
  --ui-gray-true9: #424242;
  --ui-gray-true10: #292929;
  --ui-gray-true11: #141414;

  --ui-gray-warm1: #fdfdfc;
  --ui-gray-warm2: #fafaf9;
  --ui-gray-warm3: #f5f5f4;
  --ui-gray-warm4: #e7e5e4;
  --ui-gray-warm5: #d7d3d0;
  --ui-gray-warm6: #d7d3d0;
  --ui-gray-warm7: #79716b;
  --ui-gray-warm8: #57534e;
  --ui-gray-warm9: #44403c;
  --ui-gray-warm10: #292524;
  --ui-gray-warm11: #1c1917;

  --ui-moss1: #fafdf7;
  --ui-moss2: #f5fbee;
  --ui-moss3: #e6f4d7;
  --ui-moss4: #ceeab0;
  --ui-moss5: #acdc79;
  --ui-moss6: #86cb3c;
  --ui-moss7: #669f2a;
  --ui-moss8: #4f7a21;
  --ui-moss9: #3f621a;
  --ui-moss10: #335015;
  --ui-moss11: #2b4212;

  --ui-green-light1: #fafef5;
  --ui-green-light2: #f3fee7;
  --ui-green-light3: #e4fbcc;
  --ui-green-light4: #d0f8ab;
  --ui-green-light5: #a6ef67;
  --ui-green-light6: #85e13a;
  --ui-green-light7: #66c61c;
  --ui-green-light8: #4ca30d;
  --ui-green-light9: #3b7c0f;
  --ui-green-light10: #326212;
  --ui-green-light11: #2b5314;

  --ui-green1: #f6fef9;
  --ui-green2: #edfcf2;
  --ui-green3: #d3f8df;
  --ui-green4: #aaf0c4;
  --ui-green5: #73e2a3;
  --ui-green6: #73e2a3;
  --ui-green7: #16b364;
  --ui-green8: #099250;
  --ui-green9: #087443;
  --ui-green10: #095c37;
  --ui-green11: #084c2e;

  --ui-teal1: #f6fefc;
  --ui-teal2: #f0fdf9;
  --ui-teal3: #ccfbef;
  --ui-teal4: #99f6e0;
  --ui-teal5: #5fe9d0;
  --ui-teal6: #2ed3b7;
  --ui-teal7: #15b79e;
  --ui-teal8: #0e9384;
  --ui-teal9: #107569;
  --ui-teal10: #125d56;
  --ui-teal11: #134e48;

  --ui-cyan1: #f5feff;
  --ui-cyan2: #ecfdff;
  --ui-cyan3: #cff9fe;
  --ui-cyan4: #a5f0fc;
  --ui-cyan5: #67e3f9;
  --ui-cyan6: #22ccee;
  --ui-cyan7: #06aed4;
  --ui-cyan8: #088ab2;
  --ui-cyan9: #0e7090;
  --ui-cyan10: #155b75;
  --ui-cyan11: #164c63;

  --ui-blue-light1: #f5fbff;
  --ui-blue-light2: #f0f9ff;
  --ui-blue-light3: #e0f2fe;
  --ui-blue-light4: #b9e6fe;
  --ui-blue-light5: #7cd4fd;
  --ui-blue-light6: #36bffa;
  --ui-blue-light7: #0ba5ec;
  --ui-blue-light8: #0086c9;
  --ui-blue-light9: #026aa2;
  --ui-blue-light10: #065986;
  --ui-blue-light11: #0b4a6f;

  --ui-blue1: #f5faff;
  --ui-blue2: #eff8ff;
  --ui-blue3: #d1e9ff;
  --ui-blue4: #b2ddff;
  --ui-blue5: #84caff;
  --ui-blue6: #53b1fd;
  --ui-blue7: #2e90fa;
  --ui-blue8: #1570ef;
  --ui-blue9: #175cd3;
  --ui-blue10: #1849a9;
  --ui-blue11: #194185;

  --ui-blue-dark1: #f5f8ff;
  --ui-blue-dark2: #eff4ff;
  --ui-blue-dark3: #d1e0ff;
  --ui-blue-dark4: #b2ccff;
  --ui-blue-dark5: #84adff;
  --ui-blue-dark6: #528bff;
  --ui-blue-dark7: #2970ff;
  --ui-blue-dark8: #155eef;
  --ui-blue-dark9: #004eeb;
  --ui-blue-dark10: #0040c1;
  --ui-blue-dark11: #00359e;

  --ui-indigo1: #f5f8ff;
  --ui-indigo2: #eef4ff;
  --ui-indigo3: #e0eaff;
  --ui-indigo4: #c7d7fe;
  --ui-indigo5: #a4bcfd;
  --ui-indigo6: #8098f9;
  --ui-indigo7: #8098f9;
  --ui-indigo8: #444ce7;
  --ui-indigo9: #3538cd;
  --ui-indigo10: #2d31a6;
  --ui-indigo11: #2d3282;

  --ui-violet1: #fbfaff;
  --ui-violet2: #f5f3ff;
  --ui-violet3: #ece9fe;
  --ui-violet4: #ddd6fe;
  --ui-violet5: #c3b5fd;
  --ui-violet6: #a48afb;
  --ui-violet7: #875bf7;
  --ui-violet8: #7839ee;
  --ui-violet9: #6927da;
  --ui-violet10: #5720b7;
  --ui-violet11: #491c96;

  --ui-purple1: #fafaff;
  --ui-purple2: #f4f3ff;
  --ui-purple3: #ebe9fe;
  --ui-purple4: #d9d6fe;
  --ui-purple5: #bdb4fe;
  --ui-purple6: #9b8afb;
  --ui-purple7: #7a5af8;
  --ui-purple8: #6938ef;
  --ui-purple9: #5925dc;
  --ui-purple10: #4a1fb8;
  --ui-purple11: #3e1c96;

  --ui-fuchsia1: #fefaff;
  --ui-fuchsia2: #fdf4ff;
  --ui-fuchsia3: #fbe8ff;
  --ui-fuchsia4: #f6d0fe;
  --ui-fuchsia5: #eeaafd;
  --ui-fuchsia6: #e478fa;
  --ui-fuchsia7: #d444f1;
  --ui-fuchsia8: #ba24d5;
  --ui-fuchsia9: #9f1ab1;
  --ui-fuchsia10: #821890;
  --ui-fuchsia11: #6f1877;

  --ui-pink1: #fef6fb;
  --ui-pink2: #fdf2fa;
  --ui-pink3: #fce7f6;
  --ui-pink4: #fce7f6;
  --ui-pink5: #faa7e0;
  --ui-pink6: #f670c7;
  --ui-pink7: #ee46bc;
  --ui-pink8: #dd2590;
  --ui-pink9: #c11574;
  --ui-pink10: #9e165f;
  --ui-pink11: #851651;

  --ui-rose1: #fff5f6;
  --ui-rose2: #fff1f3;
  --ui-rose3: #ffe4e8;
  --ui-rose4: #fecdd6;
  --ui-rose5: #fea3b4;
  --ui-rose6: #fd6f8e;
  --ui-rose7: #f63d68;
  --ui-rose8: #e31b54;
  --ui-rose9: #c01048;
  --ui-rose10: #a11043;
  --ui-rose11: #89123e;

  --ui-orange-dark1: #fff9f5;
  --ui-orange-dark2: #fff4ed;
  --ui-orange-dark3: #ffe6d5;
  --ui-orange-dark4: #ffd6ae;
  --ui-orange-dark5: #ff9c66;
  --ui-orange-dark6: #ff692e;
  --ui-orange-dark7: #ff4405;
  --ui-orange-dark8: #e62e05;
  --ui-orange-dark9: #bc1b06;
  --ui-orange-dark10: #97180c;
  --ui-orange-dark11: #771a0d;

  --ui-orange1: #fefaf5;
  --ui-orange2: #fef6ee;
  --ui-orange3: #fdead7;
  --ui-orange4: #f9dbaf;
  --ui-orange5: #f7b27a;
  --ui-orange6: #f38744;
  --ui-orange7: #ef6820;
  --ui-orange8: #e04f16;
  --ui-orange9: #b93815;
  --ui-orange10: #932f19;
  --ui-orange11: #772917;

  --ui-yellow1: #fefdf0;
  --ui-yellow2: #fefbe8;
  --ui-yellow3: #fef7c3;
  --ui-yellow4: #feee95;
  --ui-yellow5: #feee95;
  --ui-yellow6: #fac515;
  --ui-yellow7: #eaaa08;
  --ui-yellow8: #ca8504;
  --ui-yellow9: #a15c07;
  --ui-yellow10: #854a0e;
  --ui-yellow11: #713b12;

  --black-color: var(--ui-black);
  --white-color: var(--ui-white);

  --grey-1: #212121;
  --grey-2: #181818;
  --grey-3: #383838;
  --grey-4: #585858;
  --grey-5: #323c48;
  --grey-6: #333333;
  --grey-7: #767676;
  --grey-8: #aaa;
  --grey-9: #f3f3f3;
  --grey-10: #f6f6f6;
  --grey-11: #eeeeee;
  --grey-12: #ececec;
  --grey-13: #fafafa;
  --grey-14: #f5f5f5;
  --grey-15: #f9f2f4;
  --grey-16: #eee;
  --grey-17: #f7f7f7;
  --grey-18: #c5cae9;
  --grey-19: #ddd;
  --grey-20: #dae3f3;
  --grey-21: #d5e8f3;
  --grey-22: #c3c3e4;
  --grey-23: #e7f6ff;
  --grey-24: #f1f9fd;
  --grey-25: #555555;
  --grey-26: #777777;
  --grey-27: #4e4e4e;
  --grey-28: #262626;
  --grey-29: #555;
  --grey-30: #444;
  --grey-31: #868686;
  --grey-32: #65798e;
  --grey-34: #314252;
  --grey-35: #546477;
  --grey-36: #55637d;
  --grey-37: #2d3e63;
  --grey-38: #434343;
  --grey-39: #194973;
  --grey-40: #cfddfc;
  --grey-41: #b4b4b4;
  --grey-42: #d2d1d1;
  --grey-43: #e9e9e9;
  --grey-44: #ccc;
  --grey-45: #e5e5e5;
  --grey-46: #bbbbbb;
  --grey-47: #d4d4d5;
  --grey-48: #c6c6c6;
  --grey-49: rgba(0, 0, 0, 0.54);
  --grey-50: rgba(161, 170, 166, 0.5);
  --grey-51: rgba(0, 0, 0, 0.15);
  --grey-53: rgba(255, 255, 255, 0.6);
  --grey-54: rgb(54, 54, 54);
  --grey-55: rgba(255, 255, 255, 0.8);
  --grey-56: #b2bfdc;
  --grey-57: #999;
  --grey-58: #ebf4f8;
  --grey-59: #e6e6e6;
  --grey-60: #cacaca;
  --grey-61: rgb(231, 231, 231);

  --blue-1: #219;
  --blue-2: #337ab7;
  --blue-3: #738bc0;
  --blue-4: #23527c;
  --blue-5: #30426a;
  --blue-6: #577bc9;
  --blue-7: #6b9aff;
  --blue-8: #90ccff;
  --blue-9: #3ea6ff;
  --blue-10: #61b6ff;
  --blue-11: #3ea5ff;
  --blue-12: #41a6ff;
  --blue-14: #357ebd;

  --red-1: #a94442;
  --red-2: #c7254e;
  --red-3: #a11;
  --red-4: #d9534f;
  --red-5: #ff2727;
  --red-7: #f00;

  --green-1: #164;
  --green-2: #1ec863;
  --green-3: #23ae89;

  --orange-1: #e86925;

  --BE-only: var(--orange-1);

  /* Default Theme */
  --bg-card-color: var(--white-color);
  --bg-main-color: var(--white-color);
  --bg-body-color: var(--grey-9);
  --bg-checkbox-border-color: var(--grey-49);
  --bg-sidebar-header-color: var(--grey-37);
  --bg-widget-color: var(--white-color);
  --bg-widget-header-color: var(--grey-10);
  --bg-widget-table-color: var(--grey-13);
  --bg-header-color: var(--white-color);
  --bg-hover-table-color: var(--grey-14);
  --bg-switch-box-color: var(--ui-gray5);
  --bg-input-group-addon-color: var(--ui-gray3);
  --bg-btn-default-color: var(--white-color);
  --bg-blocklist-hover-color: var(--ui-pr-blue3);
  --bg-boxselector-color: var(--white-color);
  --bg-table-color: var(--white-color);
  --bg-md-checkbox-color: var(--grey-12);
  --bg-form-control-disabled-color: var(--grey-11);
  --bg-modal-content-color: var(--white-color);
  --bg-code-color: var(--grey-15);
  --bg-navtabs-color: var(--white-color);
  --bg-navtabs-hover-color: var(--grey-16);
  --bg-table-selected-color: var(--grey-14);
  --bg-codemirror-gutters-color: var(--grey-17);
  --bg-dropdown-menu-color: var(--white-color);
  --bg-log-viewer-color: var(--white-color);
  --bg-log-line-selected-color: var(--grey-18);
  --bg-pre-color: var(--grey-14);
  --bg-blocklist-item-selected-color: var(--grey-12);
  --bg-progress-color: var(--grey-14);
  --bg-pagination-color: var(--white-color);
  --bg-pagination-span-color: var(--white-color);
  --bg-pagination-hover-color: var(--grey-11);
  --bg-ui-select-hover-color: var(--grey-14);
  --bg-motd-body-color: var(--grey-20);
  --bg-item-highlighted-color: var(--grey-21);
  --bg-item-highlighted-null-color: var(--grey-14);
  --bg-row-header-color: var(--white-color);
  --bg-image-multiselect-button: linear-gradient(var(--white-color), var(--grey-17));
  --bg-multiselect-checkbox-color: var(--white-color);
  --bg-panel-body-color: var(--white-color);
  --bg-codemirror-color: var(--white-color);
  --bg-codemirror-selected-color: var(--grey-22);
  --bg-tooltip-color: var(--ui-gray11);
  --bg-input-sm-color: var(--white-color);
  --bg-service-datatable-thead: var(--grey-23);
  --bg-app-datatable-thead: var(--grey-23);
  --bg-inner-datatable-thead: var(--grey-23);
  --bg-service-datatable-tbody: var(--grey-24);
  --bg-app-datatable-tbody: var(--grey-24);
  --bg-multiselect-color: var(--white-color);
  --bg-daterangepicker-color: var(--white-color);
  --bg-calendar-color: var(--white-color);
  --bg-calendar-table-color: var(--white-color);
  --bg-daterangepicker-end-date: var(--white-color);
  --bg-daterangepicker-hover: var(--grey-16);
  --bg-daterangepicker-in-range: var(--grey-58);
  --bg-daterangepicker-active: var(--blue-14);
  --bg-tooltip-color: var(--white-color);
  --bg-input-autofill-color: var(--white-color);
  --bg-btn-default-hover-color: var(--grey-59);
  --bg-btn-focus: var(--grey-59);
  --bg-boxselector-disabled-color: var(--white-color);
  --bg-small-select-color: var(--white-color);
  --bg-app-datatable-thead: var(--grey-23);
  --bg-app-datatable-tbody: var(--grey-24);
  --bg-stepper-item-active: var(--white-color);
  --bg-stepper-item-counter: var(--grey-61);
  --bg-sortbutton-color: var(--white-color);
  --bg-dashboard-item: var(--ui-pr-blue3);
  --bg-searchbar: var(--ui-gray2);
  --bg-inputbox: var(--ui-gray2);
  --bg-dropdown-hover: var(--ui-gray3);

  --text-main-color: var(--grey-7);
  --text-body-color: var(--grey-6);
  --text-sidebar-title-color: var(--blue-3);
  --text-widget-header-color: var(--grey-7);
  --text-form-control-color: var(--grey-25);
  --text-muted-color: var(--grey-26);
  --text-link-color: var(--blue-2);
  --text-link-hover-color: var(--blue-4);
  --text-input-group-addon-color: var(--grey-25);
  --text-btn-default-color: var(--grey-6);
  --text-blocklist-hover-color: var(--grey-37);
  --text-dashboard-item-color: var(--grey-32);
  --text-danger-color: var(--red-1);
  --text-code-color: var(--red-2);
  --text-navtabs-color: var(--grey-25);
  --text-form-section-title-color: var(--grey-26);
  --text-cm-default-color: var(--blue-1);
  --text-cm-meta-color: var(--black-color);
  --text-cm-string-color: var(--red-3);
  --text-cm-number-color: var(--green-1);
  --text-codemirror-color: var(--black-color);
  --text-dropdown-menu-color: var(--grey-6);
  --text-log-viewer-color: var(--black-color);
  --text-json-tree-color: var(--blue-3);
  --text-json-tree-leaf-color: var(--blue-5);
  --text-json-tree-branch-preview-color: var(--blue-5);
  --text-pre-color: var(--grey-6);
  --text-blocklist-item-selected-color: var(--grey-37);
  --text-progress-bar-color: var(--grey-27);
  --text-pagination-color: var(--grey-26);
  --text-pagination-span-color: var(--ui-gray3);
  --text-pagination-span-hover-color: var(--blue-4);
  --text-ui-select-color: var(--grey-6);
  --text-ui-select-hover-color: var(--grey-28);
  --text-summary-color: var(--black-color);
  --text-tooltip-color: var(--white-color);
  --text-rzslider-color: var(--grey-36);
  --text-rzslider-limit-color: var(--grey-36);
  --text-daterangepicker-end-date: var(--grey-57);
  --text-daterangepicker-in-range: var(--black-color);
  --text-daterangepicker-active: var(--white-color);
  --text-input-autofill-color: var(--black-color);
  --text-button-hover-color: var(--grey-6);
  --text-small-select-color: var(--grey-25);
  --text-bootbox: var(--ui-gray7);

  --border-color: var(--grey-42);
  --border-widget-color: var(--grey-43);
  --border-sidebar-color: var(--white-color);
  --border-form-control-color: var(--grey-44);
  --border-table-color: var(--grey-19);
  --border-table-top-color: var(--grey-19);
  --border-datatable-top-color: var(--grey-10);
  --border-blocklist-color: var(--grey-44);
  --border-input-group-addon-color: var(--grey-44);
  --border-btn-default-color: var(--grey-44);
  --border-boxselector-color: var(--grey-6);
  --border-md-checkbox-color: var(--grey-19);
  --border-modal-header-color: var(--grey-45);
  --border-navtabs-color: var(--grey-19);
  --border-form-section-title-color: var(--grey-26);
  --border-codemirror-cursor-color: var(--black-color);
  --border-codemirror-gutters-color: var(--grey-19);
  --border-pre-color: var(--grey-43);
  --border-blocklist-item-selected-color: var(--grey-46);
  --border-pagination-color: var(--grey-19);
  --border-pagination-span-color: var(--grey-19);
  --border-pagination-hover-color: var(--grey-19);
  --border-multiselect-button-color: var(--grey-48);
  --border-searchbar-color: var(--grey-10);
  --border-panel-color: var(--white-color);
  --border-daterangepicker-color: var(--grey-19);
  --border-calendar-table: var(--white-color);
  --border-daterangepicker: var(--grey-19);
  --border-pre-next-month: var(--black-color);
  --border-daterangepicker-after: var(--white-color);
  --border-tooltip-color: var(--grey-47);
  --border-modal: 0px;
  --border-sortbutton: var(--grey-8);
  --border-bootbox: var(--ui-gray5);
  --border-blocklist: var(--ui-gray5);
  --border-widget: var(--ui-gray5);

  --shadow-box-color: 0 3px 10px -2px var(--grey-50);
  --shadow-boxselector-color: 0 3px 10px -2px var(--grey-50);
  --blue-color: var(--blue-13);
  --button-close-color: var(--black-color);
  --button-opacity: 0.2;
  --button-opacity-hover: 0.5;
  --bg-boxselector-wrapper-color: var(--grey-6);

  --bg-image-multiselect: linear-gradient(var(--blue-2), var(--blue-2));
  --bg-image-multiselect-button: linear-gradient(var(--white-color), var(--grey-17));
  --bg-image-multiselect-hover: linear-gradient(var(--white-color), var(--grey-43));
  --border-multiselect: var(--grey-48);
  --border-multiselect-checkboxlayer: var(--grey-51);
  --text-multiselect: var(--grey-29);
  --text-multiselect-selectitem: var(--white-color);
  --bg-multiselect-checkboxcontainer: var(--white-color);
  --text-multiselect-item: var(--grey-30);
  --bg-multiselect-helpercontainer: var(--white-color);
  --text-input-textarea: var(--white-color);

  --border-checkbox: var(--ui-gray5);
  --bg-checkbox: var(--white-color);
  --border-searchbar: var(--ui-gray5);
  --bg-button-group: var(--white-color);
  --border-button-group: var(--ui-gray5);
  --text-button-group: var(--ui-gray9);
}

:root[theme='dark'] {
  --bg-card-color: var(--grey-1);
  --bg-main-color: var(--grey-2);
  --bg-body-color: var(--grey-2);
  --bg-checkbox-border-color: var(--grey-8);
  --bg-widget-color: var(--grey-1);
  --bg-widget-header-color: var(--grey-1);
  --bg-widget-table-color: var(--grey-1);
  --bg-header-color: var(--grey-2);
  --bg-hover-table-color: var(--grey-3);
  --bg-switch-box-color: var(--grey-53);
  --bg-input-group-addon-color: var(--grey-3);
  --bg-btn-default-color: var(--grey-3);
  --bg-blocklist-hover-color: var(--grey-3);
  --bg-boxselector-color: var(--grey-54);
  --bg-table-color: var(--grey-1);
  --bg-md-checkbox-color: var(--grey-31);
  --bg-form-control-disabled-color: var(--grey-3);
  --bg-modal-content-color: var(--grey-1);
  --bg-code-color: var(--red-4);
  --bg-navtabs-color: var(--grey-3);
  --bg-navtabs-hover-color: var(--grey-3);
  --bg-table-selected-color: var(--grey-3);
  --bg-codemirror-color: var(--grey-2);
  --bg-codemirror-gutters-color: var(--grey-2);
  --bg-dropdown-menu-color: var(--grey-1);
  --bg-log-viewer-color: var(--grey-2);
  --bg-log-line-selected-color: var(--grey-3);
  --bg-pre-color: var(--grey-2);
  --bg-blocklist-item-selected-color: var(--grey-3);
  --bg-progress-color: var(--grey-3);
  --bg-pagination-color: var(--grey-3);
  --bg-pagination-span-color: var(--grey-3);
  --bg-pagination-hover-color: var(--grey-4);
  --bg-ui-select-hover-color: var(--grey-3);
  --bg-motd-body-color: var(--grey-1);
  --bg-item-highlighted-color: var(--grey-2);
  --bg-item-highlighted-null-color: var(--grey-2);
  --bg-row-header-color: var(--grey-2);
  --bg-multiselect-button-color: var(--grey-3);
  --bg-image-multiselect-button: none !important;
  --bg-multiselect-checkbox-color: var(--grey-3);
  --bg-panel-body-color: var(--grey-1);
  --bg-boxselector-wrapper-disabled-color: var(--grey-39);
  --bg-codemirror-selected-color: var(--grey-3);
  --bg-sidebar-header-color: var(--grey-1);
  --bg-multiselect-color: var(--grey-1);
  --bg-daterangepicker-color: var(--grey-3);
  --bg-calendar-color: var(--grey-3);
  --bg-calendar-table-color: var(--grey-3);
  --bg-daterangepicker-end-date: var(--grey-4);
  --bg-daterangepicker-hover: var(--grey-4);
  --bg-daterangepicker-in-range: var(--grey-2);
  --bg-daterangepicker-active: var(--blue-14);
  --bg-tooltip-color: var(--grey-3);
  --bg-input-autofill-color: var(--grey-2);
  --bg-btn-default-hover-color: var(--grey-3);
  --bg-btn-focus: var(--grey-3);
  --bg-boxselector-disabled-color: var(--grey-54);
  --bg-small-select-color: var(--grey-2);
  --bg-app-datatable-thead: var(--grey-1);
  --bg-app-datatable-tbody: var(--grey-1);
  --bg-stepper-item-active: var(--grey-1);
  --bg-stepper-item-counter: var(--grey-7);
  --bg-sortbutton-color: var(--grey-1);
  --bg-dashboard-item: var(--grey-3);
  --bg-searchbar: var(--grey-1);
  --bg-inputbox: var(--grey-2);
  --bg-dropdown-hover: var(--grey-3);

  --text-main-color: var(--white-color);
  --text-body-color: var(--white-color);
  --text-sidebar-title-color: var(--grey-8);
  --text-widget-header-color: var(--white-color);
  --text-form-control-color: var(--white-color);
  --text-muted-color: var(--grey-8);
  --text-link-color: var(--blue-9);
  --text-link-hover-color: var(--blue-2);
  --text-input-group-addon-color: var(--grey-8);
  --text-btn-default-color: var(--grey-8);
  --text-blocklist-hover-color: var(--white-color);
  --text-dashboard-item-color: var(--blue-2);
  --text-danger-color: var(--red-4);
  --text-code-color: var(--white-color);
  --text-navtabs-color: var(--white-color);
  --text-form-section-title-color: var(--grey-8);
  --text-cm-default-color: var(--blue-10);
  --text-cm-meta-color: var(--white-color);
  --text-cm-string-color: var(--red-5);
  --text-cm-number-color: var(--green-2);
  --text-codemirror-color: var(--white-color);
  --text-dropdown-menu-color: var(--white-color);
  --text-log-viewer-color: var(--white-color);
  --text-json-tree-color: var(--grey-40);
  --text-json-tree-leaf-color: var(--blue-6);
  --text-json-tree-branch-preview-color: var(--blue-7);
  --text-pre-color: var(--white-color);
  --text-blocklist-item-selected-color: var(--white-color);
  --text-progress-bar-color: var(--white-color);
  --text-pagination-color: var(--white-color);
  --text-pagination-span-color: var(--ui-gray3);
  --text-pagination-span-hover-color: var(--white-color);
  --text-ui-select-color: var(--white-color);
  --text-ui-select-hover-color: var(--white-color);
  --text-summary-color: var(--white-color);
  --text-multiselect-button-color: var(--white-color);
  --text-multiselect-item-color: var(--white-color);
  --text-boxselector-wrapper-color: var(--white-color);
  --text-daterangepicker-end-date: var(--grey-7);
  --text-daterangepicker-in-range: var(--white-color);
  --text-daterangepicker-active: var(--white-color);
  --text-tooltip-color: var(--white-color);
  --text-btn-default-color: var(--white-color);
  --text-input-autofill-color: var(--grey-8);
  --text-button-hover-color: var(--white-color);
  --text-small-select-color: var(--grey-7);
  --text-bootbox: var(--white-color);

  --border-color: var(--grey-3);
  --border-widget-color: var(--grey-1);
  --border-sidebar-color: var(--blue-9);
  --border-form-control-color: var(--grey-54);
  --border-table-color: var(--grey-3);
  --border-table-top-color: var(--grey-3);
  --border-datatable-top-color: var(--grey-3);
  --border-blocklist-color: var(--grey-3);
  --border-input-group-addon-color: var(--grey-38);
  --border-btn-default-color: var(--grey-38);
  --border-boxselector-color: var(--grey-1);
  --border-md-checkbox-color: var(--grey-41);
  --border-modal-header-color: var(--grey-1);
  --border-navtabs-color: var(--grey-38);
  --border-form-section-title-color: var(--grey-8);
  --border-codemirror-cursor-color: var(--white-color);
  --border-codemirror-gutters-color: var(--grey-26);
  --border-pre-color: var(--grey-3);
  --border-blocklist-item-selected-color: var(--grey-38);
  --border-pagination-color: var(--grey-3);
  --border-pagination-span-color: var(--grey-3);
  --border-pagination-hover-color: var(--grey-3);
  --border-boxselector-wrapper-hover: 3px solid var(--blue-8);
  --border-panel-color: var(--grey-2);
  --border-daterangepicker-color: var(--grey-3);
  --border-calendar-table: var(--grey-3);
  --border-daterangepicker: var(--grey-4);
  --border-pre-next-month: var(--white-color);
  --border-daterangepicker-after: var(--grey-3);
  --border-tooltip-color: var(--grey-3);
  --border-modal: 0px;
  --border-sortbutton: var(--grey-3);
  --border-bootbox: var(--ui-gray9);
  --border-blocklist: var(--ui-gray9);
  --border-widget: var(--ui-gray9);

  --blue-color: var(--blue-2);
  --button-close-color: var(--white-color);
  --button-opacity: 0.6;
  --button-opacity-hover: 0.3;
  --shadow-box-color: none;
  --shadow-boxselector-color: none;

  --bg-image-multiselect: linear-gradient(var(--grey-38), var(--grey-38));
  --bg-image-multiselect-button: linear-gradient(var(--grey-1), var(--grey-1));
  --bg-image-multiselect-hover: linear-gradient(var(--grey-3), var(--grey-3));
  --border-multiselect: var(--grey-3);
  --border-multiselect-checkboxlayer: var(--grey-3);
  --text-multiselect: var(--white-color);
  --bg-multiselect-checkboxcontainer: var(--grey-3);
  --text-multiselect-item: var(--white-color);
  --bg-multiselect-helpercontainer: var(--grey-1);
  --text-input-textarea: var(--grey-1);

  --border-checkbox: var(--ui-gray5);
  --bg-checkbox: var(--white-color);
  --border-searchbar: var(--ui-gray5);
  --bg-button-group: var(--white-color);
  --border-button-group: var(--ui-gray5);
  --text-button-group: var(--ui-gray9);
}

:root[theme='highcontrast'] {
  --bg-card-color: var(--black-color);
  --bg-main-color: var(--black-color);
  --bg-body-color: var(--black-color);
  --bg-checkbox-border-color: var(--grey-8);
  --bg-widget-color: var(--black-color);
  --bg-widget-header-color: var(--black-color);
  --bg-widget-table-color: var(--black-color);
  --bg-header-color: var(--black-color);
  --bg-hover-table-color: var(--grey-3);
  --bg-switch-box-color: var(--grey-53);
  --bg-panel-body-color: var(--black-color);
  --bg-boxselector-wrapper-disabled-color: var(--grey-39);
  --bg-dropdown-menu-color: var(--black-color);
  --bg-codemirror-selected-color: var(--grey-3);
  --bg-row-header-color: var(--black-color);
  --bg-motd-body-color: var(--black-color);
  --bg-blocklist-hover-color: var(--black-color);
  --bg-blocklist-item-selected-color: var(--black-color);
  --bg-input-group-addon-color: var(--grey-3);
  --bg-table-color: var(--black-color);
  --bg-codemirror-gutters-color: var(--black-color);
  --bg-codemirror-color: var(--black-color);
  --bg-codemirror-selected-color: var(--grey-3);
  --bg-log-viewer-color: var(--black-color);
  --bg-log-line-selected-color: var(--grey-3);
  --bg-sidebar-header-color: var(--black-color);
  --bg-modal-content-color: var(--black-color);
  --bg-form-control-disabled-color: var(--grey-1);
  --bg-input-sm-color: var(--black-color);
  --bg-item-highlighted-color: var(--black-color);
  --bg-service-datatable-thead: var(--black-color);
  --bg-inner-datatable-thead: var(--black-color);
  --bg-service-datatable-tbody: var(--black-color);
  --bg-pagination-color: var(--grey-3);
  --bg-pagination-span-color: var(--grey-3);
  --bg-multiselect-color: var(--grey-1);
  --bg-daterangepicker-color: var(--black-color);
  --bg-calendar-color: var(--black-color);
  --bg-calendar-table-color: var(--black-color);
  --bg-daterangepicker-end-date: var(--grey-3);
  --bg-daterangepicker-hover: var(--grey-3);
  --bg-daterangepicker-in-range: var(--grey-2);
  --bg-daterangepicker-active: var(--blue-14);
  --bg-tooltip-color: var(--black-color);
  --bg-table-selected-color: var(--grey-3);
  --bg-pre-color: var(--grey-2);
  --bg-navtabs-hover-color: var(--grey-3);
  --bg-btn-default-color: var(--black-color);
  --bg-code-color: var(--red-4);
  --bg-navtabs-color: var(--black-color);
  --bg-input-autofill-color: var(--black-color);
  --bg-code-color: var(--grey-2);
  --bg-navtabs-color: var(--grey-2);
  --bg-navtabs-hover-color: var(--grey-3);
  --bg-btn-default-hover-color: var(--grey-3);
  --bg-btn-default-color: var(--black-color);
  --bg-btn-focus: var(--black-color);
  --bg-boxselector-color: var(--black-color);
  --bg-boxselector-disabled-color: var(--black-color);
  --bg-small-select-color: var(--black-color);
  --bg-app-datatable-thead: var(--black-color);
  --bg-app-datatable-tbody: var(--black-color);
  --bg-stepper-item-active: var(--black-color);
  --bg-stepper-item-counter: var(--grey-3);
  --bg-sortbutton-color: var(--grey-1);
  --bg-inputbox: var(--black-color);
  --bg-searchbar: var(--black-color);
  --bg-dropdown-hover: var(--black-color);

  --text-main-color: var(--white-color);
  --text-body-color: var(--white-color);
  --text-sidebar-title-color: var(--grey-8);
  --text-widget-header-color: var(--white-color);
  --text-link-color: var(--blue-9);
  --text-link-hover-color: var(--blue-9);
  --text-danger-color: var(--red-7);
  --text-code-color: var(--red-7);
  --text-form-control-color: var(--white-color);
  --text-blocklist-hover-color: var(--blue-11);
  --text-boxselector-wrapper-color: var(--white-color);
  --text-dashboard-item-color: var(--blue-12);
  --text-form-section-title-color: var(--white-color);
  --text-muted-color: var(--white-color);
  --text-tooltip-color: var(--white-color);
  --text-blocklist-item-selected-color: var(--blue-9);
  --text-input-group-addon-color: var(--white-color);
  --text-codemirror-color: var(--white-color);
  --text-dropdown-menu-color: var(--white-color);
  --text-log-viewer-color: var(--white-color);
  --text-summary-color: var(--white-color);
  --text-rzslider-color: var(--white-color);
  --text-rzslider-limit-color: var(--white-color);
  --text-pagination-color: var(--white-color);
  --text-daterangepicker-end-date: var(--grey-7);
  --text-daterangepicker-in-range: var(--white-color);
  --text-daterangepicker-active: var(--white-color);
  --text-ui-select-color: var(--white-color);
  --text-btn-default-color: var(--white-color);
  --text-json-tree-color: var(--white-color);
  --text-json-tree-leaf-color: var(--white-color);
  --text-json-tree-branch-preview-color: var(--white-color);
  --text-pre-color: var(--white-color);
  --text-navtabs-color: var(--white-color);
  --text-input-autofill-color: var(--white-color);
  --text-navtabs-color: var(--white-color);
  --text-button-hover-color: var(--white-color);
  --text-btn-default-color: var(--white-color);
  --text-small-select-color: var(--white-color);
  --text-multiselect-item-color: var(--white-color);
  --text-pagination-span-color: var(--ui-gray3);
  --text-bootbox: var(--white-color);

  --border-color: var(--grey-55);
  --border-widget-color: var(--white-color);
  --border-sidebar-color: var(--blue-9);
  --border-form-control-color: var(--grey-54);
  --border-table-color: var(--grey-55);
  --border-table-top-color: var(--grey-55);
  --border-datatable-top-color: var(--grey-55);
  --border-sidebar-high-contrast: 1px solid var(--blue-9);
  --border-code-high-contrast: 1px solid var(--white-color);
  --border-boxselector-wrapper: 3px solid var(--blue-2);
  --border-boxselector-wrapper-hover: 3px solid var(--blue-8);
  --border-panel-color: var(--white-color);
  --border-input-group-addon-color: var(--grey-54);
  --border-modal-header-color: var(--grey-3);
  --border-input-sm-color: var(--white-color);
  --border-pagination-color: var(--grey-3);
  --border-pagination-span-color: var(--grey-3);
  --border-daterangepicker-color: var(--white-color);
  --border-calendar-table: var(--black-color);
  --border-daterangepicker: var(--black-color);
  --border-pre-next-month: var(--white-color);
  --border-daterangepicker-after: var(--black-color);
  --border-tooltip-color: var(--white-color);
  --border-pre-color: var(--grey-3);
  --border-codemirror-cursor-color: var(--white-color);
  --border-modal: 1px solid var(--white-color);
  --border-blocklist-color: var(--white-color);
  --border-sortbutton: var(--black-color);
  --border-bootbox: var(--black-color);
  --border-blocklist: var(--white-color);
  --border-widget: var(--white-color);

  --shadow-box-color: none;
  --shadow-boxselector-color: none;

  --bg-image-multiselect: linear-gradient(var(--black-color), var(--black-color));
  --bg-image-multiselect-button: linear-gradient(var(--grey-1), var(--grey-1));
  --bg-image-multiselect-hover: linear-gradient(var(--grey-3), var(--grey-3));
  --border-multiselect: var(--black-color);
  --border-multiselect-checkboxlayer: var(--grey-3);
  --text-multiselect: var(--white-color);
  --bg-multiselect-checkboxcontainer: var(--grey-3);
  --text-multiselect-item: var(--white-color);
  --bg-multiselect-helpercontainer: var(--grey-1);
  --text-input-textarea: var(--black-color);
  --bg-item-highlighted-null-color: var(--grey-2);
  --text-cm-default-color: var(--blue-9);
  --text-cm-meta-color: var(--white-color);
  --text-cm-string-color: var(--red-7);
  --text-progress-bar-color: var(--black-color);

  --border-checkbox: var(--ui-gray5);
  --bg-checkbox: var(--white-color);
  --border-searchbar: var(--ui-gray5);
  --bg-button-group: var(--white-color);
  --border-button-group: var(--ui-gray5);
  --text-button-group: var(--ui-gray9);
}
