<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="Log viewer settings"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-1 control-label text-left">
                Auto-scrolling
              </label>
              <div class="col-sm-11">
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="$ctrl.state.autoScroll"><i></i>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="logs_search" class="col-sm-1 control-label text-left">
                Search
              </label>
              <div class="col-sm-11">
                <input class="form-control" type="text" name="logs_search" ng-model="$ctrl.state.search" placeholder="Filter...">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-1 control-label text-left">
                Actions
              </label>
              <div class="col-sm-11">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-primary btn-sm" ng-click="stop()"><i class="fa fa-copy space-right" aria-hidden="true"></i>Copy</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" style="height:65%;">
  <div class="col-sm-12" style="height:100%;">
    <pre class="log_viewer" scroll-glue="$ctrl.state.autoScroll">
      <div ng-repeat="line in filteredLogs = ($ctrl.data | filter:$ctrl.state.search) track by $index" class="line" ng-if="line"><p class="inner_line" ng-click="active=!active" ng-class="{'line_selected': active}">{{ line }}</p></div>
      <div ng-if="!filteredLogs.length" class="line"><p class="inner_line">No log line matching the '{{ $ctrl.state.search }}' filter</p></div>
      <div ng-if="filteredLogs.length === 1 && !filteredLogs[0]" class="line"><p class="inner_line">No logs available</p></div>
    </pre>
  </div>
</div>
