<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="file" title-text="{{ 'docker_log_viewer.settings_title' | i18n }}"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label-class="'col-sm-2'"
                checked="$ctrl.state.logCollection"
                label="'docker_log_viewer.auto_refresh_logs' | i18n"
                tooltip="'docker_log_viewer.auto_refresh_tooltip' | i18n"
                on-change="($ctrl.handleLogsCollectionChange)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field label-class="'col-sm-2'" checked="$ctrl.state.wrapLines" label="'docker_log_viewer.wrap_lines' | i18n" on-change="($ctrl.handleLogsWrapLinesChange)"></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label-class="'col-sm-2'"
                checked="$ctrl.displayTimestamps"
                label="'docker_log_viewer.display_timestamps' | i18n"
                on-change="($ctrl.handleDisplayTimestampsChange)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <label for="logs_since" class="col-sm-2 control-label text-left"> {{ 'docker_log_viewer.fetch' | i18n }} </label>
            <div class="col-sm-2">
              <select class="form-control" ng-model="$ctrl.sinceTimestamp" id="logs_since">
                <option selected value="">{{ 'docker_log_viewer.all_logs' | i18n }}</option>
                <option ng-repeat="dt in $ctrl.state.availableSinceDatetime" ng-value="dt.value" title="{{ dt.value }}">{{ dt.desc }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="logs_search" class="col-sm-2 control-label text-left"> {{ 'docker_log_viewer.search' | i18n }} </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="logs_search" ng-model="$ctrl.state.search" ng-change="$ctrl.state.selectedLines.length = 0;" placeholder="{{ 'common.filter' | i18n }}..." />
            </div>
          </div>
          <div class="form-group">
            <label for="lines_count" class="col-sm-2 control-label text-left"> {{ 'docker_log_viewer.lines' | i18n }} </label>
            <div class="col-sm-8">
              <input class="form-control" type="number" name="lines_count" ng-model="$ctrl.lineCount" placeholder="{{ 'docker_log_viewer.enter_lines' | i18n }}" />
            </div>
          </div>
          <div class="form-group" ng-if="$ctrl.state.copySupported">
            <label class="col-sm-2 control-label text-left"> {{ 'common.actions' | i18n }} </label>
            <div class="col-sm-10">
              <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.downloadLogs()" style="margin-left: 0" data-cy="download-logs-button"
                ><pr-icon icon="'download'"></pr-icon> {{ 'docker_log_viewer.download_logs' | i18n }}</button
              >
              <button
                class="btn btn-primary btn-sm"
                ng-click="$ctrl.copy()"
                ng-disabled="($ctrl.state.filteredLogs.length === 1 && !$ctrl.state.filteredLogs[0].line) || !$ctrl.state.filteredLogs.length"
                ><pr-icon icon="'copy'" class-name="'space-right'"></pr-icon>{{ 'docker_log_viewer.copy' | i18n }}</button
              >
              <button
                class="btn btn-primary btn-sm"
                ng-click="$ctrl.copySelection()"
                ng-disabled="($ctrl.state.filteredLogs.length === 1 && !$ctrl.state.filteredLogs[0].line) || !$ctrl.state.filteredLogs.length || !$ctrl.state.selectedLines.length"
                ><pr-icon icon="'copy'" class-name="'space-right'"></pr-icon>{{ 'docker_log_viewer.copy_selected_lines' | i18n }}</button
              >
              <button class="btn btn-primary btn-sm" ng-click="$ctrl.clearSelection()" ng-disabled="$ctrl.state.selectedLines.length === 0"
                ><pr-icon icon="'x'" class-name="'space-right'"></pr-icon>{{ 'docker_log_viewer.unselect' | i18n }}</button
              >
              <span>
                <pr-icon id="refreshRateChange" icon="'check'" mode="'success'" style="display: none"></pr-icon>
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" style="height: 54%">
  <div class="col-sm-12" style="height: 100%">
    <pre ng-class="{ wrap_lines: $ctrl.state.wrapLines }" class="log_viewer" scroll-glue="$ctrl.state.autoScroll" force-glue>
      <div ng-repeat="log in $ctrl.state.filteredLogs = ($ctrl.data | filter:{ 'line': $ctrl.state.search }) track by $index" class="line" ng-if="log.line"><p class="inner_line" ng-click="$ctrl.selectLine(log.line)" ng-class="{ 'line_selected': $ctrl.state.selectedLines.indexOf(log.line) > -1 }"><span ng-repeat="span in log.spans track by $index" ng-style="{ 'color': span.fgColor, 'background-color': span.bgColor, 'font-weight': span.fontWeight }">{{ span.text }}</span></p></div>
      <div ng-if="!$ctrl.state.filteredLogs.length" class="line"><p class="inner_line">{{ 'docker_log_viewer.no_matching_filter' | i18n:{ search: $ctrl.state.search } }}</p></div>
      <div ng-if="$ctrl.state.filteredLogs.length === 1 && !$ctrl.state.filteredLogs[0].line" class="line"><p class="inner_line">{{ 'docker_log_viewer.no_logs_available' | i18n }}</p></div>
    </pre>
  </div>
</div>
