<form class="form-horizontal" style="margin-top: 15px;">
  <div class="form-group">
    <div class="col-sm-12 small text-muted">
      Secrets will be available under <code>/run/secrets/$SECRET_NAME</code> in containers.<br/>
      You can override the default target file.
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12" style="margin-top: 5px;">
      <label class="control-label text-left">Secrets</label>
      <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addSecret()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> add a secret
      </span>
    </div>
    <div class="col-sm-12 form-inline" style="margin-top: 10px;">
      <div ng-repeat="secret in formValues.Secrets" style="margin-top: 2px;">
        <div class="input-group col-sm-4 input-group-sm">
          <span class="input-group-addon">secret</span>
          <select class="form-control" ng-model="secret.model" ng-options="secret.Name for secret in availableSecrets">
            <option value="" selected="selected">Select a secret</option>
          </select>
        </div>
        <div class="input-group col-sm-4 input-group-sm" ng-if="applicationState.endpoint.apiVersion >= 1.30">
          <span class="input-group-addon">target</span>
          <input class="form-control" ng-model="secret.target" placeholder="secretname">
        </div>
        <button class="btn btn-sm btn-danger" type="button" ng-click="removeSecret($index)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</form>
