.btn-none {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.btn-none:focus {
  outline: none;
}

.btn-warninglight {
  border-color: var(--ui-warning-5);
  background-color: var(--ui-warning-2);
}
