<page-header title="'Secret details'" breadcrumbs="[{label:'Secrets', link:'docker.secrets', linkParams:{ id: secret.Id }}, secret.Name]" reload="true"> </page-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="lock" title-text="Secret details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ secret.Name }}</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ secret.Id }}
                <button authorization="DockerSecretDelete" class="btn btn-xs btn-dangerlight" ng-click="removeSecret(secret.Id)"
                  ><pr-icon icon="'trash-2'"></pr-icon>Delete this secret</button
                >
              </td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{ secret.CreatedAt | getisodate }}</td>
            </tr>
            <tr>
              <td>Last updated</td>
              <td>{{ secret.UpdatedAt | getisodate }}</td>
            </tr>
            <tr ng-if="!(secret.Labels | emptyobject)">
              <td>Labels</td>
              <td>
                <table class="table-bordered table-condensed table">
                  <tr ng-repeat="(k, v) in secret.Labels">
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="secret"
  resource-id="secret.Id"
  resource-control="secret.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
  environment-id="endpoint.Id"
>
</access-control-panel>
<!-- !access-control-panel -->
