<rd-header>
  <rd-header-title title-text="Host overview">
    <a data-toggle="tooltip" title="Refresh" ui-sref="{{$ctrl.refreshUrl}}"
      ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
    <a title="Browse" ui-sref="docker.nodes.node.browse" ng-if="$ctrl.isAgent">
      Browse
    </a>
  </rd-header-title>
  <rd-header-content>Docker</rd-header-content>
</rd-header>

<information-panel-offline ng-if="$ctrl.offlineMode"></information-panel-offline>

<host-details-panel
  host="$ctrl.hostDetails"
  is-browse-enabled="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode"
  browse-url="{{$ctrl.browseUrl}}"
  is-job-enabled="$ctrl.isJobEnabled && !$ctrl.offlineMode"
  job-url="{{$ctrl.jobUrl}}"
></host-details-panel>

<engine-details-panel engine="$ctrl.engineDetails"></engine-details-panel>

<jobs-datatable
  ng-if="$ctrl.isJobEnabled && $ctrl.jobs && !$ctrl.offlineMode"
  title-text="Jobs" title-icon="fa-tasks"
  dataset="$ctrl.jobs"
  table-key="jobs"
  order-by="Created" reverse-order="true"
></jobs-datatable>

<devices-panel ng-if="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode" devices="$ctrl.devices"></devices-panel>
<disks-panel ng-if="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode" disks="$ctrl.disks"></disks-panel>

<ng-transclude></ng-transclude>
