<rd-header>
  <rd-header-title title-text="Host overview">
    <a data-toggle="tooltip" title="Refresh" ui-sref="{{$ctrl.refreshUrl}}" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Docker</rd-header-content>
</rd-header>

<host-details-panel host="$ctrl.hostDetails" is-agent="$ctrl.isAgent"></host-details-panel>

<engine-details-panel engine="$ctrl.engineDetails"></engine-details-panel>

<devices-panel ng-if="$ctrl.isAgent" devices="$ctrl.devices"></devices-panel>
<disks-panel ng-if="$ctrl.isAgent" disks="$ctrl.disks"></disks-panel>

<ng-transclude></ng-transclude>