<rd-header>
  <rd-header-title title-text="Host overview">
    <a data-toggle="tooltip" title="Refresh" ui-sref="{{ $ctrl.refreshUrl }}" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Docker</rd-header-content>
</rd-header>

<information-panel-offline ng-if="$ctrl.offlineMode"></information-panel-offline>

<host-details-panel
  host="$ctrl.hostDetails"
  is-browse-enabled="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode && $ctrl.hostFeaturesEnabled"
  browse-url="{{ $ctrl.browseUrl }}"
></host-details-panel>

<engine-details-panel engine="$ctrl.engineDetails"></engine-details-panel>

<devices-panel ng-if="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode && $ctrl.hostFeaturesEnabled" devices="$ctrl.devices"></devices-panel>
<disks-panel ng-if="$ctrl.isAgent && $ctrl.agentApiVersion > 1 && !$ctrl.offlineMode && $ctrl.hostFeaturesEnabled" disks="$ctrl.disks"></disks-panel>

<ng-transclude></ng-transclude>
