<rd-header>
  <rd-header-title title-text="Secret details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.secrets.secret" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="kubernetes.secrets">Secrets</a> &gt; <a ui-sref="kubernetes.secrets.secret" ui-sref-opts="{reload: true}">{{ ctrl.secret.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-user-secret" title-text="Secret status">
        <span class="btn-group btn-group-sm">
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'content'"><i class="fa fa-file-code space-right" aria-hidden="true"></i>Content</label>
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'events'"><i class="fa fa-history space-right" aria-hidden="true"></i>Events</label>
          <label class="btn btn-primary" ng-model="ctrl.state.DisplayedPanel" uib-btn-radio="'yaml'"><i class="fa fa-code space-right" aria-hidden="true"></i>Yaml</label>
        </span>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ ctrl.secret.Name }}</td>
            </tr>
            <tr>
              <td>Namespace</td>
              <td>{{ ctrl.secret.Namespace }}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{ ctrl.secret.Type }}</td>
            </tr>
            <tr>
              <td>Creation date</td>
              <td>{{ ctrl.secret.CreatedAt | getisodate }}</td>
            </tr>
            <tr>
              <td>Labels</td>
              <td ng-if="ctrl.secret.Labels">
                <span ng-repeat-start="(key, value) in ctrl.secret.Labels" class="tag">
                  {{ key }}={{ value }}
                </span>
                <span ng-repeat-end>&nbsp;</span>
              </td>
              <td ng-if="!ctrl.secret.Labels">-</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'content'">
  <div class="col-sm-12">
    <kubernetes-secret-details-datatable
    title-text="Secret content" title-icon="fa-file-code"
    dataset="ctrl.secret.Data" table-key="kubernetes.secret.content"
    order-by="Key"
    loading="ctrl.state.dataLoading"
    ></kubernetes-secret-details-datatable>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'events'">
  <div class="col-sm-12">
    <kubernetes-events-datatable
    title-text="Events" title-icon="fa-history"
    dataset="ctrl.events" table-key="kubernetes.secret.events"
    order-by="Date"
    reverse-order="true"
    loading="ctrl.state.eventsLoading"
    refresh-callback="ctrl.getEvents"
    ></kubernetes-events-datatable>
  </div>
</div>

<div class="row" ng-show="ctrl.state.DisplayedPanel === 'yaml'">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-code" title-text="Inspect"></rd-widget-header>
      <rd-widget-body>
        <pre>{{ ctrl.secret.Yaml }}</pre>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>