<label for="endpoint_tags" class="col-sm-3 col-lg-2 control-label text-left">
  Tags
</label>
<div class="col-sm-9 col-lg-10">
  <ui-select multiple ng-model="$ctrl.model" sortable="true" close-on-select="false">
    <ui-select-match placeholder="Select tags...">{{ $item }}</ui-select-match>
    <ui-select-choices repeat="tag in $ctrl.tags | filter: $select.search">
      <span>{{ tag }}</span>
    </ui-select-choices>
    <ui-select-no-choice>No tag available</ui-select-no-choice>
  </ui-select>
</div>
