<page-header title="'Edge job details'" breadcrumbs="[{label:'Edge jobs', link:'edge.jobs'}, $ctrl.edgeJob.Name]" reload="true"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <uib-tabset active="$ctrl.state.activeTab">
          <uib-tab index="0" select="$ctrl.showEditor()">
            <uib-tab-heading>
              <span><pr-icon icon="'tool'" feather="true"></pr-icon></span> Configuration
            </uib-tab-heading>

            <edge-job-form
              ng-if="$ctrl.edgeJob && $ctrl.state.showEditorTab"
              model="$ctrl.edgeJob"
              endpoints="endpoints"
              groups="$ctrl.groups"
              tags="$ctrl.tags"
              form-action="$ctrl.update"
              form-action-label="Update Edge job"
              action-in-progress="$ctrl.state.actionInProgress"
              is-editor-dirty="$ctrl.state.isEditorDirty"
            ></edge-job-form>
          </uib-tab>

          <uib-tab index="1">
            <uib-tab-heading>
              <span><pr-icon icon="'list'" feather="true"></pr-icon></span> Results
            </uib-tab-heading>

            <edge-job-results-datatable
              ng-if="$ctrl.results"
              title-text="Results"
              title-icon="list"
              dataset="$ctrl.results"
              table-key="edge-job-results"
              order-by="Status"
              reverse-order="true"
              refresh-callback="$ctrl.refresh"
              on-download-logs-click="($ctrl.downloadLogs)"
              on-collect-logs-click="($ctrl.collectLogs)"
              on-clear-logs-click="($ctrl.clearLogs)"
            ></edge-job-results-datatable>
          </uib-tab>
        </uib-tabset>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
