<div>
  <code-editor identifier="application-details-yaml" read-only="true" value="$ctrl.data"></code-editor>
  <div style="margin: 15px">
    <span class="btn btn-primary btn-sm" ng-click="$ctrl.copyYAML()">
      <pr-icon icon="'copy'" feather="true"></pr-icon>
      Copy to clipboard
    </span>
    <span class="btn btn-primary btn-sm space-left" ng-click="$ctrl.toggleYAMLInspectorExpansion()">
      <pr-icon icon="'minus'" ng-if="$ctrl.expanded" feather="true"></pr-icon>
      <pr-icon icon="'plus'" ng-if="!$ctrl.expanded" feather="true"></pr-icon>
      {{ $ctrl.expanded ? 'Collapse' : 'Expand' }}
    </span>
    <span id="copyNotificationYAML" style="margin-left: 7px; display: none; color: #23ae89" class="small"> <i class="fa fa-check" aria-hidden="true"></i> copied </span>
  </div>
</div>
