name: Test
on: push
jobs:
  test-client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'yarn'
      - run: yarn --frozen-lockfile

      - name: Run tests
        run: yarn jest --maxWorkers=2
  test-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.5
      - name: Run tests
        run: make test-server
