<div class="containerTop">
    <div class="form-group col-xs-2">
        <input type="text" class="form-control" placeholder="[options] (aux)" ng-model="ps_args">
    </div>
    <button type="button" class="btn btn-default" ng-click="getTop()">Submit</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="title in containerTop.Titles">{{title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="processInfos in containerTop.Processes">
            <td ng-repeat="processInfo in processInfos track by $index">{{processInfo}}</td>
        </tr>
        </tbody>
    </table>
</div>