<page-header ng-if="ctrl.state.viewReady" title="'ConfigMaps & Secrets list'" breadcrumbs="['ConfigMaps & Secrets']" reload="true"></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <kubernetes-configurations-datatable
        dataset="ctrl.configurations"
        table-key="kubernetes.configurations"
        order-by="Name"
        refresh-callback="ctrl.refreshCallback"
        remove-action="ctrl.removeAction"
      ></kubernetes-configurations-datatable>
    </div>
  </div>
</div>
