<rd-header>
  <rd-header-title title-text="Configurations list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.configurations" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Configurations</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <kubernetes-configurations-datatable title-text="Configurations" title-icon="fa-file-code" dataset="ctrl.configurations" table-key="kubernetes.configurations"
      order-by="Name" refresh-callback="ctrl.refreshCallback" remove-action="ctrl.removeAction"></kubernetes-configurations-datatable>
  </div>
</div>