<rd-header>
  <rd-header-title title-text="Application details">
    <a data-toggle="tooltip" title="Refresh" ui-sref="kubernetes.applications.application" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="kubernetes.applications">Applications</a> &gt; {{ ctrl.application.Name }}
  </rd-header-content>
</rd-header>

<div class="row" ng-if="ctrl.application">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body classes="no-padding">

        <uib-tabset active="ctrl.state.activeTab" justified="true" type="pills">
          <uib-tab index="0" classes="btn-sm">
            <uib-tab-heading>
              <i class="fa fa-laptop-code space-right" aria-hidden="true"></i> Application
            </uib-tab-heading>

            <div style="padding: 20px;">
              <table class="table">
                <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{ ctrl.application.Name }}</td>
                </tr>
                <tr>
                  <td>Stack</td>
                  <td>{{ ctrl.application.StackName }}</td>
                </tr>
                <tr>
                  <td>Resource pool</td>
                  <td>{{ ctrl.application.ResourcePool }}</td>
                </tr>
                <tr>
                  <td>Deployment</td>
                  <td>
                    <span ng-if="ctrl.application.DeploymentType === ctrl.KubernetesApplicationDeploymentTypes.REPLICATED">Replicated</span>
                    <span ng-if="ctrl.application.DeploymentType === ctrl.KubernetesApplicationDeploymentTypes.GLOBAL">Global</span>
                    <code>{{ ctrl.application.RunningPodsCount }}</code> / <code>{{ ctrl.application.TotalPodsCount }}</code>
                  </td>
                </tr>
                <tr ng-if="ctrl.application.Limits.Cpu || ctrl.application.Limits.Memory">
                  <td>
                    <div>Resource reservations</div>
                    <div class="text-muted small">per instance</div></td>
                  <td>
                    <div ng-if="ctrl.application.Limits.Cpu">CPU {{ ctrl.application.Limits.Cpu | kubernetesApplicationCPUValue }}</div>
                    <div ng-if="ctrl.application.Limits.Memory">Memory {{ ctrl.application.Limits.Memory | humansize }}</div>
                  </td>
                </tr>
                <tr>
                  <td>Creation</td>
                  <td>{{ ctrl.application.CreatedAt | getisodate }}{{ ctrl.application.ApplicationOwner ? ' by ' + ctrl.application.ApplicationOwner : ''}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </uib-tab>

          <uib-tab index="1" classes="btn-sm">
            <uib-tab-heading>
              <i class="fa fa-history space-right" aria-hidden="true"></i> Events
            </uib-tab-heading>
            <kubernetes-events-datatable
                    title-text="Events" title-icon="fa-history"
                    dataset="ctrl.events" table-key="kubernetes.application.events"
                    order-by="Date"
                    reverse-order="true"
                    loading="ctrl.state.eventsLoading"
                    refresh-callback="ctrl.getEvents"
            ></kubernetes-events-datatable>
          </uib-tab>

          <uib-tab index="2" ng-if="ctrl.application.Yaml" select="ctrl.showEditor()" classes="btn-sm">
            <uib-tab-heading>
              <i class="fa fa-code space-right" aria-hidden="true"></i> YAML
            </uib-tab-heading>
            <div style="padding-right: 25px;" ng-if="ctrl.state.showEditorTab">
              <kubernetes-yaml-inspector
                      key="application-yaml"
                      data="ctrl.application.Yaml"
              ></kubernetes-yaml-inspector>
            </div>
          </uib-tab>

        </uib-tabset>

      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="ctrl.application && ctrl.application.PublishedPorts.length > 0">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-laptop" title-text="Accessing the application"></rd-widget-header>
      <rd-widget-body>
        <div ng-if="ctrl.application.ServiceType === 'LoadBalancer'">
          <div class="small text-muted" >
            <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
            This application is exposed through an external load balancer. Use the links below to access the different ports exposed.
          </div>
          <div style="margin-top: 10px;" class="small text-muted">
            <span ng-if="!ctrl.application.LoadBalancerIPAddress">
              <p>
                Load balancer status: <i class="fa fa-cog fa-spin" style="margin-left: 2px"></i> pending
              </p>
              <p>
                <u>what does the "pending" status means?</u>
                <portainer-tooltip position="bottom" message="A pending status means that Portainer delegated the request to the provider responsible for creating the external load balancer. If it stays in pending state for long, this means that this capability might not be supported or you might have an issue with your cluster provider. Contact your cluster administrator for more information."></portainer-tooltip>
              </p>
            </span>
            <span ng-if="ctrl.application.LoadBalancerIPAddress">
              <p>
              Load balancer status: <i class="fa fa-check green-icon" style="margin-left: 2px"></i> available
              </p>
              <p>
              Load balancer IP address: {{ ctrl.application.LoadBalancerIPAddress }}
                <span class="btn btn-primary btn-xs" ng-click="ctrl.copyLoadBalancerIP()" style="margin-left: 5px;">
                  <i class="fa fa-copy space-right" aria-hidden="true"></i>Copy
                </span>
                <span id="copyNotificationLB" style="margin-left: 7px; display: none; color: #23ae89;" class="small">
                  <i class="fa fa-check" aria-hidden="true" ></i> copied
                </span>
              </p>
            </span>
          </div>
          <div style="margin-top: 20px;">
            <table class="table">
              <tbody>
                <tr class="text-muted">
                  <td>Container port</td>
                  <td>Load balancer port</td>
                </tr>
                <tr ng-repeat="port in ctrl.application.PublishedPorts track by $index">
                  <td>{{ port.targetPort }}</td>
                  <td>
                      {{ port.port }}
                    <a ng-if="ctrl.application.LoadBalancerIPAddress" ng-href="http://{{ ctrl.application.LoadBalancerIPAddress }}:{{port.port}}" target="_blank" style="margin-left: 5px">
                      <i class="fa fa-external-link-alt" aria-hidden="true"></i> access
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="ctrl.application.ServiceType === 'NodePort'">
          <div class="small text-muted">
            <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
            This application is exposed globally on all nodes of your cluster. It can be reached using the IP address of any node in your cluster using the port configuration below.
          </div>
          <div style="margin-top: 20px;">
            <table class="table">
              <tbody>
                <tr class="text-muted">
                  <td>Container port</td>
                  <td>Cluster node port</td>
                </tr>
                <tr ng-repeat="port in ctrl.application.PublishedPorts track by $index">
                  <td>{{ port.targetPort }}</td>
                  <td>{{ port.nodePort }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="ctrl.application.ServiceType === 'ClusterIP'">
          <div class="small text-muted">
            <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
            This application is only available for internal usage inside the cluster. It can be reached through the application name <code>{{ ctrl.application.Name }}</code> using the port configuration below.
          </div>
          <div style="margin-top: 20px;">
            <table class="table">
              <tbody>
                <tr class="text-muted">
                  <td>Container port</td>
                  <td>Application port</td>
                </tr>
                <tr ng-repeat="port in ctrl.application.PublishedPorts track by $index">
                  <td>{{ port.targetPort }}</td>
                  <td>{{ port.port }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="ctrl.application">
  <div class="col-sm-12">
    <kubernetes-pods-datatable
            title-text="Application pods" title-icon="fa-server"
            dataset="ctrl.application.Pods" table-key="kubernetes.application.pods"
            order-by="Name"
    ></kubernetes-pods-datatable>
  </div>
</div>
